<template>
    <div class="color-fondo-claro">

      <div class="row flex flex-center item-center q-mt-xl ">

        <div class="col-12 text-center item-center flex flex-center ">
            <q-img   src="img/parador-logo.png" class="img-formulario" ></q-img>
        </div>

      </div>
      

        <div class="row  flex flex-center item-center q-mt-md ">

          <div class="col-12 flex flex-center ">
             <q-img style="position:relative"  src="img/senal-wifi.png" class="img-wifi" >
             <p v-if="desconectado"  class="titulos bold txt-etiquetas absolute-top-right " >X</p>
             </q-img>
          </div>

            <div class="col-12 text-center item-center flex flex-center ">
               <p v-if="conectado" class="mb-0 titulos q-mt-md w-100 text-center text-white" >Connected.</p>
               <p v-if="desconectado" class="mb-0 titulos q-mt-md w-100 text-center text-white" >Disconnected.</p>
               <p v-if="conectado" class="mb-0 font-xl w-100 q-mt-md text-center text-white" >{{ nombre }}, enjoy your stay...</p>
            </div>

        </div>

         <div class="row  ">

            <div class="col-12 text-center item-center flex flex-center ">
              <p v-if="conectado" @click="Desconectar()" class="mb-0 font-xl w-100 text-center txt-etiquetas q-mt-lg " >Log out</p>
               <p  v-if="desconectado" @click="Conectar()" class="mb-0 font-xl w-100 text-center txt-etiquetas q-mt-lg " >Log in</p>
              <p class="mb-0 font-xl w-100 text-center text-white q-mt-lg " >Follow us:</p>
            </div>

            <div class="col-12 flex flex-center q-mb-xl ">

                <q-btn icon="facebook" @click="Facebook()"  class="bg-facebook text-white w-70 q-mt-md "> /paradorrojorestaurant </q-btn>

                <q-btn icon="fab fa-instagram" @click="Instagram()" class="bg-instagram text-white w-70 q-mt-md "> /paradorrojo </q-btn>

            </div>

        </div>

    </div>
</template>

<script>
export default {
  data () {
    return {
      // conectado: true,
      // desconectado: false
    }
  },

  computed: {
    nombre(){
      const data = this.$store.getters['auth/data']
      if (data && data.nombre) return data.nombre
      return ''
    },

    conectado(){ return this.$store.getters['auth/conectado'] },
    desconectado(){ return !this.$store.getters['auth/conectado'] },

  },

  methods:{
      Conectar(){
        this.$store.dispatch('auth/conectar')
        // this.conectado = !this.conectado
        // this.desconectado = !this.desconectado
      },
      Desconectar(){
        // this.$store.dispatch('auth/salir')
        this.$store.dispatch('auth/desconectar')
        // this.conectado = !this.conectado
        // this.desconectado = !this.desconectado
      },
      Facebook(){
     window.open('https://www.facebook.com/paradorrojorestaurant/');
    },
    Instagram(){
     window.open('https://www.instagram.com/paradorrojo/');
    },
  }
}
</script>