<template>
    <div class=" color-fondo-claro text-center ">

        <h4 class="q-mb-md q-mt-xl txt-etiquetas  " >Under construction</h4>

        <div class="flex flex-center">

              <q-card style="width:80%">
      <q-item>
        <q-item-section avatar>
          <q-skeleton type="QAvatar" />
        </q-item-section>

        <q-item-section>
          <q-item-label>
            <q-skeleton type="text" />
          </q-item-label>
          <q-item-label caption>
            <q-skeleton type="text" />
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-skeleton height="50vh" square />

      <q-card-actions align="right" class="q-gutter-md">
        <q-skeleton type="QBtn" />
        <q-skeleton type="QBtn" />
      </q-card-actions>
    </q-card>

        </div>

       

    </div>
</template>