<template>

  <div class=" vh100 overflow-auto  degradado flex flex-center ">




     <!-- mensaje no se puede -->
    <q-dialog v-model="dialogNoSePuede" persistent>
      <q-card class="no-max-width w-100-md w-25">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">

            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogNoSePuede = false" flat
                label="x"></q-btn>
            </div>

          </div>
        </q-card-section>

        <div class="col-12 q-mt-sm flex flex-center ">

          <q-icon class="clr-enviaxa " style="font-size:130px" name="info" ></q-icon>

          <p class="mb-0 w-100 font-xl text-center q-pl-md q-pr-md ">Éste envío no puede ser procesado por favor consulte el precio con el administrador </p>
        </div>

        <div class="row w-100  q-pa-md">

          <div class="col-12 w-100  text-center ">
            <q-btn class="cl_standar text-white " label="Ok" @click="dialogNoSePuede = false">
            </q-btn>
          </div>

        </div>


      </q-card>
    </q-dialog>



    <!-- modal tipo de cliente -->
     <q-dialog :persistent="true" v-model="tipoCliente">
      <q-card class="no-max-width w-100-md w-100-sm w-40">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">
            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">ACCESO</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="tipoCliente = false" flat
                label="x"></q-btn>
            </div>

          </div>
        </q-card-section>



        <div class="row w-100  q-pa-md">

          <div class="col-12 w-100  text-center ">
            <q-btn class=" text-white q-mr-md " color="orange" :disabled="disableButton" label="CONTINUAR SIN REGISTRARME" @click="clickContinuarSinRegistrar" >
            </q-btn>
          </div>

        </div>

        <div class="flex item-center flex-center">
          <!--
           <q-btn size="sm" label="YA SOY CLIENTE" @click="$emit('dialoglogin')"
            class=" q-mt-md q-mr-md q-mb-md "></q-btn>
          -->
          <q-btn size="sm" label="QUIERO REGISTRARME" @click="nuevoCliente = true"
            class="q-mt-md q-mb-md "></q-btn>

       </div>


      </q-card>
    </q-dialog>





    <!-- moodal cliente registrado -->
    <q-dialog :persistent="true" v-model="dialogCliente">
      <q-card class="no-max-width w-100-md w-100-sm w-40">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Ingresar</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogCliente = false" flat
                label="x"></q-btn>
            </div>

          </div>
        </q-card-section>

        <div class="col-12 q-mt-md flex flex-center q-pa-md ">
          <p class="mb-0 w-100 font-xl">DNI/pasaporte</p>
          <q-input type="text" placeholder="Introduzca el DNI/pasaporte"
            v-model="dni_buscar_cliente" borderless class=" w-100 w-100-md input_txt" :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El DNI debe tener de 9 a 12 caracteres']" @input.native="onInputDni">
          </q-input>
        </div>

         <div class="col-12  flex flex-center q-pa-md q-pt-none ">
          <p class="mb-0 w-100 font-xl">Contraseña</p>
          <q-input type="text" placeholder="Introduzca su contraseña"
            v-model="contraseña_a" borderless class=" w-100 w-100-md input_txt" >
          </q-input>
        </div>

        <div class="col-12 text-center "  >
          <p class="font-md pointer bold text-blue" @click="Recuperar = true " >Olvidé mi contraseña</p>
        </div>

        <div class="row w-100  q-pa-md">
          <div class="col-12 text-center ">
            <q-btn class=" text-white q-mr-md " color="orange" :disabled="disableButton" label="Ingresar" @click="buscarCliente">
            </q-btn>
            <q-btn class=" text-white q-mr-md " color="orange" label="Cancelar" to="/Proceso" @click="dialogCliente = false">
            </q-btn>
          </div>

        </div>
      </q-card>
    </q-dialog>

    <!-- modal registrar cliente -->

    <q-dialog  maximized v-model="nuevoCliente">

      <q-card>

        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Introduzca sus datos para el
                registro</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="nuevoCliente = false" flat
                label="x"></q-btn>
            </div>

          </div>

          <div
            class="row w-100 flex q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">DNI/Pasaporte</p>
              <q-input type="text"
                placeholder="Introduzca el nombre del documento" v-model="cliente_dni"
                borderless class=" w-100 input_txt" :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El DNI debe tener de 9 a 12 caracteres']" @input.native="onInputDni">

              </q-input>
            </div>

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Nombre</p>
              <q-input type="text" placeholder="Introduzca su nombre"
                v-model="cliente_nombre" borderless class=" w-100 input_txt">

              </q-input>
            </div>


            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Empresa (opcional)</p>
              <q-input type="text"
                placeholder="Introduzca el nombre de la empresa"
                v-model="cliente_empresa" borderless class=" w-100 input_txt">

              </q-input>
            </div>


            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Email</p>
              <q-input type="email" placeholder="Introduzca el email"
                v-model="cliente_email" :rules="[ correoValido ]" borderless class=" w-100 input_txt">

              </q-input>
            </div>


             <div class="col-12 col-sm-2 col-md-2 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Código</p>
               <q-select placeholder="" v-model="cliente_codigo"  borderless  class=" w-100  input_txt" :options="codpaises"  label="Seleccione" emit-value map-options :display-value="cliente_codigo" />

             </div>

             <div class="col-12 col-sm-4 col-md-4 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Teléfono</p>
               <q-input  type="number" min="0" placeholder="Introduzca el numeró de teléfono" v-model="cliente_telefono" borderless  class=" w-100 input_txt" :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El Teléfono debe tener de 9 a 12 caracteres']">

                </q-input>
             </div>



            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Dirección</p>
              <q-input type="text" placeholder="Introduzca la dirección"
                v-model="cliente_direccion" borderless class=" w-100 input_txt">

              </q-input>
            </div>

             <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" placeholder="Introduzca la localidad"
                v-model="cliente_localidad" borderless class=" w-100 input_txt">

              </q-input>
            </div>

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">País</p>
              <q-select placeholder="" v-model="cliente_pais" borderless
                class=" w-100  input_txt" :options="codigos_paises" option-value="id"
                map-options emit-value
                option-label="nombre" label="Seleccione" />
            </div>

            <div v-if="cliente_pais==1"
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Provincia</p>
              <q-select placeholder="" v-model="cliente_provincia" borderless
                class=" w-100  input_txt" :options="_provincias" map-options emit-value
                option-value="id" option-label="nombre" label="Seleccione">

              </q-select>
            </div>


            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Código postal</p>
              <q-input type="text" placeholder="Introduzca el código postal"
                v-model="cliente_codigo_post" borderless class=" w-100 input_txt"
                @input.native="onInputCodArea"
              >

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Contraseña</p>
                <q-input v-model="cliente_contraseña" placeholder="Introduzca la contraseña" class=" w-100 w-100-md input_txt q-pr-sm "  borderless :type="isPwd1 ? 'password' : 'text'" >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd1 ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd1 = !isPwd1"
                      />
                    </template>
                </q-input>
            </div>

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Confirmar contraseña</p>
                <q-input v-model="cliente_contraseña_confirmar" placeholder="Confirme la contraseña"  class=" w-100 w-100-md input_txt q-pr-sm "  borderless :type="isPwd2 ? 'password' : 'text'" >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd2 ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd2 = !isPwd2"
                      />
                    </template>
                </q-input>
            </div>

            <!--
             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Coeficiente del envio</p>
               <q-input  type="text" placeholder="Ingrese el coeficiente del envio"  v-model="coeficiente" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>




             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 text-center " >¿Usuario autorizado para domiciliación bancaria?</p>
               <q-checkbox v-model="check" color="cyan" ></q-checkbox>
             </div> -->


            <!-- <div class="col-12 col-sm-2 col-md-2 q-mt-md q-pl-sm q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 text-center " >Codigo</p>
               <q-input  type="text" readonly placeholder="Ingrese el Usuario"  v-model="codigo" borderless  class=" flex flex-center w-100 input_txt" >

                </q-input>
             </div> -->

          </div>
        </q-card-section>


        <div class="  row w-100 q-pa-md ">
          <div class="col-6 w-100  text-right ">
            <q-btn class=" text-white q-mr-md" color="orange" label="Continuar" :disabled="disableButton" @click="registrarCliente" >
            </q-btn>
          </div>
          <div class="col-6 w-100   ">
            <q-btn class=" text-white q-ml-md " color="orange" @click="irAlProceso(), nuevoCliente = false"
              label="Cancelar"></q-btn>
          </div>
        </div>


      </q-card>
    </q-dialog>


      <!-- modal recuperar contraseña -->

    <q-dialog :persistent="true" v-model="Recuperar">
      <q-card class="no-max-width w-100-md w-100-sm w-40">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Recuperar contraseña</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="Recuperar = false" flat
                label="x"></q-btn>
            </div>

          </div>
        </q-card-section>

        <div class="col-12 q-mt-md flex flex-center q-pa-md ">
          <p class="mb-0 w-100 font-xl">Correo</p>
          <q-input type="text" placeholder="Introduzca el correo"
            v-model="correo" borderless class=" w-100 w-100-md input_txt" >
          </q-input>
        </div>

        <div class="row w-100  q-pa-md">

          <div class="col-12 text-center ">
            <q-btn class=" text-white  " color="orange" :disabled="disableButton" label="Enviar" @click="buscarCliente">
            </q-btn>
          </div>



        </div>


      </q-card>
    </q-dialog>


    <div class="row q-pa-md w-50 w-100-md flex flex-center item-center ">

      <div class="col-12 text-center q-mt-xl q-mb-md ">
        <p class="mb-0 text-white text-h2 ">Envía y ahorra</p>
      </div>

      <div class="col-12 bg-white row q-pa-sm ">

        <div class="col-12 flex flex-center ">
          <q-img src="img/logo.png" class="w-30 w-100-sm w-100-xs "></q-img>
        </div>

        <div class="col-12 col-sm-6 col-md-6 q-pa-sm ">

          <p class="mb-0 w-100 font-xl text-center q-pa-sm clr-enviaxa ">Desde</p>

          <p class="mb-0  w-100">País</p>

          <q-select
            emit-value
            map-options
            option-value="id"
            option-label="nombre"
            v-model="pais"
            borderless
            class=" w-100 input_select"
            :options="paises"
            use-input
            :label="pais ? null : 'Seleccione el país' "
            @filter="filterPaisDesde"
            hide-selected
            fill-input
            >
            <template v-slot:prepend>
              <q-icon name="location_on" class="cursor-pointer clr-enviaxa " />
            </template>
          </q-select>
<!--
          <select-ajax
            route="/pais?envio=e"
            v-model="pais"
            label="Seleccione el país"
          />
 -->
          <p v-if="paisEsEspaña" class="mb-0 w-100 q-mt-md ">Provincia</p>
          <select-ajax
            v-if="paisEsEspaña"
            route="/provincia/por-pais/%s?envio=envio"
            :route-params="pais"
            v-model="provincia"
            :before-ajax="validarAjaxProvincia"
            label="Introduzca la provincia"
            :fetch-without-params="false"
          />

<!--
          <p class="mb-0  w-100 q-mt-md ">Dirección </p>
          <q-input type="text" placeholder="Introduzca la dirección" v-model="cp1" borderless class="  w-100 input_select">
          </q-input>
 -->
        </div>

        <div class="col-12 col-sm-6 col-md-6 q-pa-sm ">

          <p class="mb-0 w-100 font-xl text-center q-pa-sm clr-enviaxa ">Hasta</p>


          <p class="mb-0  w-100">País</p>

          <q-select
            emit-value
            map-options
            option-value="id"
            option-label="nombre"
            v-model="pais1"
            borderless
            class=" w-100 input_select"
            :options="paises"
            use-input
            :label="pais ? null : 'Seleccione el país' "
            @filter="filterPaisHasta"
            hide-selected
            fill-input
            >
            <template v-slot:prepend>
              <q-icon name="location_on" class="cursor-pointer clr-enviaxa " />
            </template>
          </q-select>

          <!-- <select-ajax route="/pais?envio=d" v-model="pais1" label="Seleccione el país" /> -->

          <p v-if="pais1EsEspaña" class="mb-0  w-100 q-mt-md ">Provincia</p>
          <q-select
            v-if="pais1EsEspaña"
            emit-value
            map-options
            option-value="id"
            option-label="nombre"
            v-model="provincia1"
            borderless
            class=" w-100 input_select"
            :options="provincias"
            use-input
            :label="provincia1 ? null : 'Introduzca la provincia' "
            @filter="filterProvincia1"
            hide-selected
            fill-input
            >
            <template v-slot:prepend>
              <q-icon name="location_on" class="cursor-pointer clr-enviaxa " />
            </template>
          </q-select>
<!--
          <p class="mb-0  w-100 q-mt-md ">Dirección </p>
          <q-input type="text" placeholder="Introduzca la dirección" v-model="cp2" borderless class="  w-100 input_select">
          </q-input>
 -->
        </div>

        <div class="col-12 text-center q-mt-md q-mb-md ">
          <q-btn label="" :disabled="!zona_envio" style="text-transform: none !important;" @click="clickBuscar" class="text-none" color="orange">Buscar mejor precio</q-btn>
        </div>

      </div>



    </div>

  </div>
</template>
<script>

import SelectAjax from '../components/SelectAjax';
import checkEmail from '../lib/checkEmail';
import extraerDigitos from '../lib/extraerDigitos';

export default {


components: { SelectAjax },


data () {
  return {
    disableButton: false,
    dni: '123456789',
    nombre_remitente: 'Jean viña',
    pais_origen: 'España',
    provincia_origen: 'Portuguesa',
    direccion_origen: 'Urb los cocos',
    cp_origen: '0102',
    correo_remitente: 'Jean89009@gmail.com',
    telefono_remitente: '04143040222',
    nombre_destinatario: 'Juan perez',
    pais_destino: 'Venezuela',
    provincia_destino:'Huelva',
    direccion_destino: 'Direccion1',
    cp_destino:'0304',
    correo_destinatario:'Juan89009@gmail.com',
    telefono_destinatario: '0312456789',
    pesoTotalBultos:'34',
    cantidadBultos: '5',
    monto_a_pagar: 100,
    modalidad:'modalidad1',
    fecha_recogida: '04/04/2021',
    momento_recogida:'9 horas',
    observacion_seguimiento:'obervacion de seguimiento',
    url_seguimiento:'url de seguimiento',
    Verenvio: false,
    Historico: false,
    salir : false,
    correo: '',
    Localidad: '',
    cliente_localidad: '',
    cliente_contraseña:'',
    cliente_contraseña_confirmar:'',
    login : true,
    Recuperar: false,
    contraseña_a: '',
    isPwd1: true,
    contraseña_n: '',
    isPwd2: true,
    contraseña_c: '',
    isPwd3: true,
    contraseña: false,
    hide: false,
    menu: false,
    tipoCliente: false,
    dialogCliente: false,
    nuevoCliente: false,
    desde:null,
    hasta:null,
    pais:null,
    region:null,
    provincia:null,
    pais1:null,
    region1:null,
    provincia1:null,
    cp1:'',
    cp2:'',
    paises: [],
    _paises: [],
    nombre: null,
    // paises: ['España','Colombia','Francia','Alemania','Polonia'],
    // paises: ['España peninsula','Baleares','Canarias','Ceuta y Melilla','Internacional'],
    regiones: ['Andalucía','Aragon','Canarias','Castilla y León'],
    _regiones: [],
    // regiones: [],
    provincias: [],
    _provincias: [],
    // provincias: ['Almeria','Cádiz','Córdoba','Huelva'],
    id_españa: null,
    españa: null,
    dni_buscar_cliente: null,
    disableButton:false,
    cliente_pais: null,
    cliente_provincia: null,
    cliente_nombre: null,
    cliente_telefono: null,
    cliente_email: null,
    cliente_empresa: null,
    cliente_codigo: '+34',
    cliente_codigo_post: null,
    cliente_dni: null,
    cliente_direccion: null,
    dialogNoSePuede: false,
    codigos_paises: [],

    zona_envio: null,
  }
},

created() {
  this.$store.dispatch('proceso/limpiar');
  if (!this.$store.getters['cliente/logueado']) {
    this.$store.dispatch('cliente/salir');
  }
  // this.cargar_paises()

  this.$api.get('/pais/esp')
    .then(resp => {
      this.paises = [resp.data];
      this.pais = this.pais1 = this.id_españa = resp.data.id;
      this.españa = resp.data;
    })

  this.$api.get('/pais')
    .then(resp => {
      this.codigos_paises = resp.data;
    })
},

watch: {
  pais(v) {
    this.region = this.provincia = null;

    if (v != this.id_españa) {
      this.pais1 = this.id_españa;
    }
    this.recuperarTipoDeEnvio();
  },
  pais1(v) {
    this.region1 = this.provincia1 = null;

    if (v != this.id_españa) {
      this.pais = this.id_españa;
    }
    this.recuperarTipoDeEnvio();
  },

  provincia(v) {
    this.recuperarTipoDeEnvio();
  },

  provincia1(v) {
    this.recuperarTipoDeEnvio();
  },

  // puedeRecuperarTipoEnvio(v) {
  //   if (!v) return;

  //   this.tipoDeEnvio(this.pais, this.provincia, this.pais1, this.provincia1)
  //     .then(tipo => {
  //       this.zona_envio = tipo;
  //       if (!tipo || !tipo.zona) {
  //         this.$q.notify('NO SE PUEDE ENVIAR');
  //       }
  //     });
  // },

  // region(v) {
  //   this.provincia = null;
  // },
  // region1(v) {
  //   this.provincia1 = null;
  // },


},

computed: {
  paisEsEspaña() {
    return this.pais == this.id_españa;
  },
  pais1EsEspaña() {
    return this.pais1 == this.id_españa;
  },
  codpaises() {
    return this.codigos_paises.map(p => ({
      value: p.codigo_tlf,
      label: `${p.nombre} (${p.codigo_tlf})`
    }));
  },

  puedeRecuperarTipoEnvio() {
    if (!this.pais && !this.pais1) {
      return false;
    }

    if ((this.paisEsEspaña && !this.provincia) || (this.pais1EsEspaña && !this.provincia1)) {
      return false;
    }

    return true;
  },

  datosCompletados() {
    if (!this.pais || !this.pais1 || !this.cp1 || !this.cp2)
      return false;

    if ((this.paisEsEspaña && !this.provincia) || (this.pais1EsEspaña && !this.provincia1))
      return false;

    return true;
  },
},

methods: {
  onInputCodArea(evt) {
    evt.target.value = extraerDigitos(evt.target.value.length > 6 ? evt.target.value.substr(0,6) : evt.target.value);
  },
  onInputDni(evt) {
    evt.target.value = (evt.target.value.match(/[a-zA-Z0-9]/g) || []).join('');
    // evt.target.value = extraerDigitos(evt.target.value);
  },

  correoValido(correo) { return checkEmail(correo) },


  tipoDeEnvio(pais1, provincia1, pais2, provincia2) {
    return new Promise((resolve, reject) => {

      const datos = {
        pais1, provincia1, pais2, provincia2
      };

      this.$api.post('/envio/obtener-tipo', datos)
        .then(r => resolve(r.data))
        .catch(console.log);
    });
  },

  recuperarTipoDeEnvio() {
    if (!this.puedeRecuperarTipoEnvio) return;

    this.tipoDeEnvio(this.pais, this.provincia, this.pais1, this.provincia1)
      .then(tipo => {
        this.zona_envio = tipo;
        if (!tipo || !tipo.zona) {
          this.dialogNoSePuede = true;
        }
      });
  },

  cargar_paises(params={}) {
    return new Promise((resolve, reject) => {
      this.$api.get('/pais', { params })
        .then(res => {
          this.paises = this._paises = res.data;
          resolve(res.data);
        });
    });
  },

  cargar_provincias(id_pais, envio) {
    return new Promise((resolve, reject) => {
      const params = {};
      if (envio) {
        params.envio = envio;
      }
      this.$api.get('/provincia/por-pais/'+id_pais, { params })
        .then(res => {
          this.provincias = this._provincias = res.data;
          resolve(res.data);
        });
    });
  },


  filterPaisDesde (val, update) {
    if (val === '') {
      return this.cargar_paises({envio: 'destino'})
        .then(() => {
          if (this.pais1 != this.id_españa) {
            this.paises = [this.españa];
          }
          update();
        });
    }

    update(() => {
      if (this.pais1 != this.id_españa) {
        this.paises = [this.españa];
      }
      else {
        let needle = val.toLowerCase()
        this.paises = this._paises.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
      }
    })
  },

  filterPaisHasta (val, update) {
    if (val === '') {
      return this.cargar_paises({envio: 'envio'})
        .then(() => {
          if (this.pais != this.id_españa) {
            this.paises = [this.españa];
          }
          update();
        });
    }

    update(() => {
      if (this.pais != this.id_españa) {
        this.paises = [this.españa];
      }
      else {
        let needle = val.toLowerCase()
        this.paises = this._paises.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
      }

    })
  },

  /* DESDE */
  filterProvincia (val, update, abort) {
    if (!this.pais) {
      // this.$q.notify('Seleccione un país', 1000 )
      this.$q.notify({message : 'Seleccione un país', timeout: 1000 , position : 'top-right' })
      return abort()
    }

    if (val === '') {
      return this.cargar_provincias(this.pais, 'envio').then(update);
    }

    update(() => {
      const needle = val.toLowerCase()
      this.provincias = this._provincias.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
    })
  },

  /* HASTA */

  filterProvincia1 (val, update, abort) {
    if (!this.pais1) {
      // this.$q.notify('Seleccione un país', 1000)
      this.$q.notify({message : 'Seleccione un país', timeout: 1000 , position : 'top-right' })

      return abort()
    }

    if (val === '') {
      return this.cargar_provincias(this.pais1, 'destino').then(update);
    }

    update(() => {
      const needle = val.toLowerCase()
      this.provincias = this._provincias.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
    })
  },


  filterCodigoPais(val, update, abort) {
    if (val === '') {
      this.$api.get('/pais', { params })
        .then(res => {
          this.codigos_paises = res.data;
          update();
        });
    }

    update(() => {

      // {
      //   value: p.codigo_tlf,
      //   label: `${p.nombre} (${p.codigo_tlf})`
      // }

      const needle = val.toLowerCase()
      this.codigos_paises = this.codigos_paises.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
    })
  },

  clickBuscar() {
    if (!this.pais || !this.pais1)
      return this.$q.notify({message:'Seleccione los países', timeout:1000, position: 'top-right'});

    if ((this.pais == this.id_españa && !this.provincia) || (this.pais1 == this.id_españa && !this.provincia1))
      return this.$q.notify({message:'Seleccione las provincias', timeout:1000 , position: 'top-right' });

    if (!this.zona_envio || !this.zona_envio.zona) {
      this.dialogNoSePuede = true;
      return;
    }

    // if (!this.cp1 || !this.cp2)
    //   return this.$q.notify({message:'Introduzca la dirección', timeout:1000 , position: 'top-right' });


    const datos = {
      desde: {
        id_pais: this.pais,
        id_provincia: this.provincia,
        // direccion: this.cp1,
      },

      hasta: {
        id_pais: this.pais1,
        id_provincia: this.provincia1,
        // direccion: this.cp2,
      },
    };

    this.$store.dispatch('proceso/guardar_datos', this.getDatos());

    if (this.$store.getters['cliente/logueado']) {
      this.irAlProceso();
    }
    else {
      this.tipoCliente = true;
    }

    // to="/proceso"
    // this.$router.push({ name:'Proceso', params: {datos} });
  },

  clickContinuarSinRegistrar() {
    this.disableButton = true;
    this.$store.dispatch('cliente/set_estatus_temporal');
    // this.$router.push('/Proceso');
    this.irAlProceso();
  },

  getDatos() {
    // const datos = {
    //   desde: {
    //     id_pais: this.pais,
    //     id_provincia: this.provincia,
    //     direccion: this.cp1,
    //   },

    //   hasta: {
    //     id_pais: this.pais1,
    //     id_provincia: this.provincia1,
    //     direccion: this.cp2,
    //   },
    // };

    return {
      desde_pais: this.pais,
      desde_provincia: this.provincia,
      desde_direccion: this.cp1,

      destino_pais: this.pais1,
      destino_provincia: this.provincia1,
      destino_direccion: this.cp2,
    };

    // return datos;
  },

  buscarCliente() {
    if (!this.dni_buscar_cliente)
      return this.$q.notify({message:'Introduzca su DNI', timeout:2000 , position: 'top-right'});

    this.disableButton = true;
    this.$api.get('/cliente/por-dni/' + this.dni_buscar_cliente)
      .then(resp => {
        this.cliente = resp.data;
        this.$store.commit('cliente/SET_DATOS', resp.data);
        // this.$store.dispatch('proceso/guardar_datos', this.getDatos());
        this.dialogCliente = this.tipoCliente = false;
        // this.$router.push('/Proceso');
        this.$q.notify('Bienvenido a Enviaxa.com, gracias por confiar en nosotros.');
        this.irAlProceso();
      })
      .catch(resp => {
        if(resp.response && resp.response.status == 404)
          this.$q.notify({message:'DNI no encontrado', timeout:1000 , position: 'top-right' });
        else
          this.$q.notify({message:'Ocurrió un error', timeout:1000 , position: 'top-right' });
      })
      .finally(() => { this.disableButton = false });
  },


  registrarCliente() {
    let err;


    if (!this.cliente_dni)
      err = 'Introduzca el DNI';

    else if (this.cliente_dni.length < 9 || this.cliente_dni.length > 12)
      err = 'El DNI/Pasaporte debe tener de 9 a 12 caracteres';

    else if (!this.cliente_nombre)
      err = 'Introduzca su nombre';

    else if (!this.cliente_email)
      err = 'Introduzca su email';

    else if (!this.cliente_telefono)
      err = 'Introduzca su teléfono';

    else if (!this.cliente_direccion)
      err = 'Introduzca la dirección';

    else if (!this.cliente_localidad)
      err = 'Introduzca la localidad';

    else if (!this.cliente_pais)
      err = 'Introduzca el país';

    else if (this.cliente_pais == 1 && !this.cliente_provincia)
      err = 'Introduzca la provincia';

    else if (!this.cliente_codigo)
      err = 'Introduzca el código postal';

    else if (!this.cliente_contraseña)
      err = 'Introduzca la contraseña';

    else if (this.cliente_contraseña !== this.cliente_contraseña_confirmar)
      err = 'Las contraseñas no coinciden';

    if (err)
      return this.$q.notify({ message:err, timeout:1500 , position: 'top-right' });


    const datos = {
      nombre: this.cliente_nombre,
      correo: this.cliente_email,
      dni: this.cliente_dni,
      tlf: this.cliente_telefono,
      cod: this.cliente_codigo,
      direccion: this.cliente_direccion,
      cp: this.cliente_codigo_post,
      empresa: this.cliente_empresa,
      pais: this.cliente_pais,
      provincia: this.cliente_provincia,
      localidad: this.cliente_localidad,
      pass: this.cliente_contraseña,
    }

    this.disableButton = true;
    this.$api.post('/cliente/landing', datos)
      .then(resp => {
        /*
        this.$q.notify({
          message:'Datos enviados al administrador para configurar su registro. Se le enviará un correo cuando éste proceso culmine',
          timeout:6000
        });
        */
        this.$store
          .dispatch('cliente/login', {dni: this.cliente_dni, pass: this.cliente_contraseña})
          .then(() => {
            this.$router.push('/Proceso')
            this.$q.notify('Bienvenido a Enviaxa.com, gracias por confiar en nosotros.');
          });

        // this.cliente = resp.data;
        // this.nuevoCliente = false;
        // this.$store.commit('cliente/SET_DATOS', resp.data);
        // this.$router.push('/Proceso');
        // this.irAlProceso();
      })
      .catch(err => {
        if (err.response && err.response.data && err.response.data.msg ) {
          this.$q.notify({message:err.response.data.msg, timeout:1500 , position: 'top-right' });
        }
        else {
          this.$q.notify({message:'Ocurrió un error', timeout:1500 , position: 'top-right' });
        }
      })
      .finally(() => { this.disableButton = false })
  },

  irAlProceso() {
    // this.$q.notify('Bienvenido a Enviaxa.com, gracias por confiar en nosotros.');

    // this.$q.notify({message:'Bienvenido a Enviaxa.com, gracias por confiar en nosotros.', timeout:1500 , position: 'top-right' });
    // this.$store.dispatch('cliente/limpiar');
    this.disableButton = true;
    this.$router.push('/Proceso');
  },


  validarAjaxProvincia() {
    if (this.pais)
      return true;

    // this.$q.notify('Seleccione un país', 1000);
    this.$q.notify({message:'Seleccione un país', timeout:1000 , position: 'top-right' });
    return false;
  },


},




}</script>
