<template>
  <div class="color-fondo-claro">
    <div class="flex flex-center">

      <div class="col-12 text-center item-center flex flex-center q-mb-xl ">
        <p class="mb-0 titulos q-mt-md w-100 text-center text-white" >Logs</p>
      </div>

      <q-table
        class="fondo-dark w-90 text-white font-xl"
        :separator="separator"
        :data="logs"
        :columns="columns"
      >

      <template v-slot:no-data="{ icon, message, filter }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            Oops... {{ message }}
          </span>
          <!-- <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" /> -->
        </div>
      </template>

    </q-table>

    </div>

  </div>
</template>

<script>
export default {

data () {
  return {
    conectado: true,
    desconectado: false,
     separator: 'vertical',
     columns: [
      { name: 'name', align: 'center', label: 'Name', field: 'name', sortable: false },
      { name: 'date',  align: 'center', label: 'Date', field: 'date', sortable: false },
      { name: 'time',  align: 'center', label: 'Time', field: 'time', sortable: false },
    ],
  }

},


computed: {
  logs() {
    const logs = this.$store.getters['logs/logs'];

    return logs.map(log => ({
      name: log.name,
      date: this.extraerFecha(log.datetime),
      time: this.extraerHora(log.datetime)
    }));
  },

},


methods:{

  extraerHora(date){
    const d = new Date(date);
    return this.de24a12(this.pad(d.getHours(), 2) + ':' + this.pad(d.getMinutes(), 2));
  },
  extraerFecha(date){
    const d = new Date(date);
    return [d.getDate(), d.getMonth()+1, d.getFullYear()].join('/');
  },
  pad(num, size){
    return ('000000000' + num).substr(-size);
  },
  de24a12 (hora) {
    /*
    Convierte de formato 24h a 12h
    '16:00:00' -> '04:00PM'
    */

    // Verificar formato correcto de la hora y separar en componentes.
    hora = hora.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [hora];

    if (hora.length > 1) { // If hora format correct
      hora = hora.slice (1);  // Remove full string match value
      hora[5] = +hora[0] < 12 ? 'AM' : 'PM'; // Set AM/PM
      hora[0] = +hora[0] % 12 || 12; // Adjust hours
    }
    hora = hora.filter(Boolean);
    if (hora.length === 5)
      delete hora[3]; // Quitar segundos si los tiene.

    return hora.join (''); // return adjusted time or original string
  },

}


}</script>
