<template></template>

<script>
  import tests from '../lib/calculos/tests'

  export default {
    data(){ return {} },

    created() {
      window.vm = this;
      console.log('Running...')
      console.log('\n')
      this.runTest();
    },


    methods: {
      runTest() {
        tests()
      },
    },
  }
</script>
