<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Administradores</p>
        </div>
      </div>

      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @editar="clickEditar"
        @eliminar="clickEliminar"
        loading-label="Cargando..."

        />

    <!-- modales -->

      <!-- modal admin -->

      <q-dialog :persistent="true" v-model="dialog">
        <q-card   class=" " >


          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p v-if="creando"  class=" mb-0 text-white font-xl " >Introduzca los datos del nuevo administrador</p>
                 <p v-else  class="mb-0 text-white font-xl " >Administrador # {{ index }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialog = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row w-100 q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md flex flex-center  ">
             <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Nombre</p>
               <q-input  type="text" :readonly="!editando" :placeholder="creando ? 'Introduzca el nombre' : ''"  v-model="nombre" borderless  class=" w-100 input_txt" >
                </q-input>
             </div>

<!--
              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >{{ apellido }}</p>
               <q-input  type="text" :readonly="!editando"  v-model="apellido" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

              <div class="col-12 col-sm-6 col-md-6 q-mt-md q-pl-sm q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Usuario</p>
               <q-input  type="text"  :readonly="!editando" v-model="usuario" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>
 -->
              <div class="col-12 col-sm-10 col-md-10 q-mt-md q-pl-sm q-pr-sm flex flex-center ">
                <p class="mb-0 w-100 " >Correo electrónico</p>
                <q-input  type="text" :readonly="!editando" :placeholder="creando ? 'Introduzca el correo electrónico' : ''" v-model="correo" borderless  class=" w-100 input_txt" >
                </q-input>
              </div>


              <div v-if="creando" class="col-12 col-sm-10 col-md-10 q-mt-md q-pl-sm q-pr-sm flex flex-center ">
                <p class="mb-0 w-100 " >Contraseña</p>
                <q-input  type="text" :readonly="!editando" :placeholder="creando ? 'Introduzca una contraseña' : ''" v-model="pass" borderless  class=" w-100 input_txt" >
                </q-input>
              </div>


           </div>
          </q-card-section>


          <div v-if="editando" class="row w-100  q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton" label="Guardar" @click="clickGuardar" ></q-btn>
            </div>
            <div class="col-6 w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialog = false" label="Cancelar" ></q-btn>
            </div>
          </div>


        </q-card>
      </q-dialog>



      <q-dialog :persistent="true" v-model="dialogEliminar">
        <q-card   class="" >
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p  class=" mb-0 text-white font-xl " >Administrador # {{ index }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogEliminar = false" flat label="x" ></q-btn>
              </div>

            </div>
          </q-card-section>

           <p class=" q-pa-md q-pl-md q-pr-md mb-0 w-100 font-xl text-center " >¿Está seguro que desea eliminar éste administrador?</p>


          <div class="row w-100  q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton"  label="Si" @click="eliminarAdmin" ></q-btn>
            </div>
            <div class="col-6 w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialogEliminar = false" label="No" ></q-btn>
            </div>
          </div>


        </q-card>
      </q-dialog>




    </div>
</template>

<script>

import DataTables from 'components/DataTables'
import checkEmail from '../lib/checkEmail'

export default {
components: { DataTables },

data () {
  return {
    Agregar: false,
    dialog: false,
    dialogEliminar: false,
    editando: false,
    creando: false,

    id: 0,
    nombre: '',
    apellido: '',
    usuario: '',
    correo : '',
    pass: '',

    index: 0,

    disableButton: false,
    filter: '',
    columns: [
      // { name: 'ID', required: true, label: 'ID', align: 'center', field : 'id' },
      { name: 'index', required: true, label: '#', align: 'center', field : 'index' },
      { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.nombre},
      { name: 'Correo', label: 'Correo electrónico',align: 'center', field: 'correo' }
    ],
    configDataTable: {
      ajax: '/admin',
      tooltip_agregar: 'Agregar administrador',
    },
  }
},

methods: {
  crearAdmin(){

    const datos = {
      nombre: this.nombre,
      correo: this.correo,
      pass: this.pass
    };

    for (let val of Object.values(datos)) {
      if (!val)
        return this.$q.notify('Complete todos los campos');
    }
    if (!checkEmail(datos.correo))
      return this.$q.notify('Introduzca un correo válido');


    this.disableButton = true;
    this.$api.post('/admin', datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  editarAdmin(){
    this.disableButton = true;

    const datos = {
      nombre: this.nombre,
      correo: this.correo,
      pass: this.pass
    };

    this.$api.put('/admin/'+this.id, datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  eliminarAdmin(){
    this.disableButton = true;

    this.$api.delete('/admin/'+this.id)
      .then(this.axiosThen, this.axiosCatch);
  },

  clickGuardar(){
    if (this.creando)
      this.crearAdmin();
    else
      this.editarAdmin();
  },

  clickAgregar(){
    this.creando = this.editando = true;

    this.fillData();

    this.dialog = true;
  },
  clickVer(row){
    this.fillData(row);
    this.editando = false;
    this.creando = false;
    this.dialog = true;
  },
  clickEditar(row){
    this.fillData(row);
    this.editando = true;
    this.creando = false;
    this.dialog = true;
  },
  clickEliminar(row){
    this.id = row.id;
    this.index = row.index;
    this.dialogEliminar = true;
  },


  fillData(row={}){
    this.id = row.id;
    this.index = row.index;
    this.nombre = row.nombre;
    this.correo = row.correo;
    this.pass = null;
  },


  axiosThen() {
    this.disableButton = false;
    this.$q.notify('Datos actualizados');
    this.dialog = false;
    this.dialogEliminar = false;
    this.$refs.tabla.fetch();
  },
  axiosCatch(err) {
    this.disableButton = false;
    if (err.response.data && err.response.data.msg)
      this.$q.notify(err.response.data.msg);
    else
      this.$q.notify('Ocurrió un error')
  },
},


}
</script>
