<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Coste DUA/ADUANA</p>
        </div>
      </div>

      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        :ocultar-agregar="true"
        :ocultar-eliminar="true"
        no-results-label="No hay coincidencias"
        @ver="clickVer"
        @editar="clickEditar"
        loading-label="Cargando..."
        />

    <!-- modales -->

    <q-dialog :persistent="true"  v-model="Agregar">
        <q-card   class="no-max-width w-90 w-100-md " >


          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p v-if="editando" class=" mb-0 text-white font-xl " >Introduzca los datos del costo: {{ nombre }} </p>
                 <p v-else class=" mb-0 text-white font-xl " >Datos del costo: {{ nombre }} </p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="Agregar = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row w-100 flex flex-center q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">

             <div class="col-12 row col-sm-12 col-md-12 flex flex-center q-pl-sm q-mt-md q-pr-sm  ">
<!-- 
                 <div class="col-12 col-sm-5 col-md-5 flex flex-center ">
                    <p class="mb-0 w-100 " >Zona</p>
                    {{nombre}}
                 </div>
 -->
             </div>



           <div class="col-12 q-mt-lg col-sm-4 flex item-center flex-center col-md-4 q-pl-sm  q-pr-sm  ">
               <p class="text-center w-100 q-pl-sm q-pr-sm " >Monto por importación</p>
                <template>
                  <div class="w-70">
                    <money v-model="M_importancion" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>

              </div>

             <div class="col-12 q-mt-lg col-sm-4 flex flex-center item-center col-md-4 q-pl-sm  q-pr-sm  ">
               <p class="text-center w-100 q-pl-sm q-pr-sm " >Monto por DUA</p>
                <template>
                  <div class="w-70">
                    <money v-model="M_DUA" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
             </div>

              <div class="col-12 q-mt-lg col-sm-4 flex flex-center item-center col-md-4 q-pl-sm  q-pr-sm  ">
               <p class="text-center w-100 q-pl-sm q-pr-sm " >Monto por DUA exportación</p>
                <template>
                  <div class="w-70">
                    <money v-model="M_DUA_exportacion" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
             </div>

              <!-- <div class="col-12 col-sm-2 col-md-2 q-mt-md q-pl-sm q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 text-center " >Codigo</p>
               <q-input  type="text" readonly placeholder="Ingrese el Usuario"  v-model="codigo" borderless  class=" flex flex-center w-100 input_txt" >

                </q-input>
             </div> -->

           </div>
          </q-card-section>


           <div class="  row w-100 q-pa-md " v-if="editando">
              <div class="col-6 w-100  text-right ">
                 <q-btn class="cl_standar text-white q-mr-md "  label="Guardar" :disabled="disableButton" @click="editar"></q-btn>
              </div>
               <div class="col-6 w-100   ">
                 <q-btn class="cl_standar text-white q-ml-md " @click="Agregar = false" label="Cancelar" ></q-btn>
              </div>
            </div>


        </q-card>
      </q-dialog>


    </div>
</template>

<script>
import DataTables from 'components/DataTables'
import {Money} from 'v-money'
export default {
  components: { DataTables , Money },
  data () {
    return {
      Agregar: false,
      ver : false,
      id: 0,
      nombre: '',
      M_importancion : '',
      M_DUA : '',
      M_DUA_exportacion : '',
      editando: false,
      extra : false,
      codigo : 1,
      filter: '',
      model: null,
      disableButton: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' €',
        precision: 2,
        masked: false
      },
      options: ['Zona1','Zona2','Zona3'],
      columns: [
        { name: 'ID', required: true, label: 'ID', align: 'center', field: row => row.id },
        { name: 'Nombre', required: true, label: 'Zona', align: 'center', field: row => row.nombre, sortable: true},
        { name: 'M_importancion', required: true, label: 'Monto por impotación', align: 'center', field: row => this.formato(row.importacion)+' €' },
        { name: 'M_DUA', required: true, label: 'Monto por DUA', align: 'center', field: row => this.formato(row.dua)+' €' },
        { name: 'M_DUA_exportacion', required: true, label: 'Monto por DUA exportación', align: 'center', field: row => this.formato(row.dua_exportacion)+' €' },

     ],
      configDataTable: {
        ajax: '/aduana',
        tooltip_agregar: '',
      },
      data: []
    }
  },
  methods: {
    editar(){
      const datos = {
        imp: this.M_importancion,
        dua: this.M_DUA,
        exp: this.M_DUA_exportacion,
      };
      if(!datos.imp)
        datos.imp = 0;
      if(!datos.dua)
        datos.dua = 0;
      if(!datos.exo)
        datos.exo = 0;

      this.disableButton = true;
      this.$api.put('/aduana/'+this.id, datos)
        .then(this.axiosThen, this.axiosCatch);

    },
    clickVer(row){
      this.fillData(row);
      this.editando = false;
      this.Agregar = true;
    },
    clickEditar(row){
      this.fillData(row);
      this.editando = true;
      this.Agregar = true;
    },
    async fillData(row){
      //console.log(row);
      this.id = row.id;
      this.nombre = row.nombre;
      this.M_importancion = row.importacion;
      this.M_DUA = row.dua;
      this.M_DUA_exportacion = row.dua_exportacion;
    },
    axiosThen() {
      this.disableButton = false;
      this.$q.notify('Datos actualizados');
      this.Agregar = false;
      this.$refs.tabla.fetch();
    },
    axiosCatch(err) {
      this.disableButton = false;
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else
        this.$q.notify('Ocurrió un error')
    },
    formato(val,txt) {
      return this.$utils.precio(val, txt);
    },
  }
}
</script>