<template>
  <div class="">

    <div class="row flex flex-center item-center  q-mt-lg  ">

      <div class="col-12 text-center ">
        <p class="mb-0 titulos" >Cambiar contraseña</p>
      </div>

      <div class="col-12 flex flex-center q-mt-md ">
        <q-img src="img/user.png" class="w-20"></q-img>
      </div>

      <div class="col-12 col-sm-7 col-md-5 flex flex-center q-mt-md ">
        <q-input name="usuario" :type=" isPwd ? 'password' : 'text' " v-model="old_pass" borderless placeholder="Contraseña actual" class=" q-mt-md w-90 q-pr-md input_txt">
          <template v-slot:prepend>
            <q-icon name="person" class="cursor-pointer" />
          </template>

         <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
          </template>
        </q-input>
      </div>

    </div>

    <div class="row flex flex-center ">

      <div class="col-12 col-sm-7 col-md-5 flex flex-center q-mt-md ">
        <q-input name="usuario" :type="isPwd2 ? 'password' : 'text'" v-model="new_pass" borderless placeholder="Nueva contraseña" class=" q-pr-md q-mt-md w-90 input_txt">
          <template v-slot:prepend>
            <q-icon name="person" class="cursor-pointer" />
          </template>

         <template v-slot:append>
          <q-icon
            :name="isPwd2 ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd2 = !isPwd2"
          />
          </template>
        </q-input>
      </div>

    </div>

    <div class="row flex flex-center ">

       <div class="col-12 col-sm-7 col-md-5 flex flex-center q-mt-md ">
        <q-input name="usuario" :type="isPwd3 ? 'password' : 'text'" v-model="confirm_pass" borderless placeholder="Confirmar contraseña" class=" q-pr-md q-mt-md w-90 input_txt">
          <template v-slot:prepend>
            <q-icon name="person" class="cursor-pointer" />
          </template>

         <template v-slot:append>
          <q-icon
            :name="isPwd3 ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd3 = !isPwd3"
          />
          </template>
        </q-input>
      </div>



      <div class="col-12 flex flex-center q-mt-md text-red" v-if="msjError">
        <p class="m-0"  style="">{{ msjError }} &nbsp;</p>
      </div>

      <div class="col-12 flex flex-center q-mt-md ">
        <q-btn class="cl_standar" label="Cambiar" @click="guardar" :disabled="disableButton"></q-btn>
      </div>
    </div>

  </div>
</template>


<script>
export default {

data() {
  return {
    isPwd: true,
    isPwd2: true,
    isPwd3: true,
    old_pass: null,
    new_pass: null,
    confirm_pass:null,
    msjError: null,
    disableButton: false
  };
},


methods: {
  guardar() {
    this.msjError = null;

    if (!this.old_pass) {
      this.msjError = 'Ingrese la contraseña actual';
      return;
    }
    if (!this.new_pass) {
      this.msjError = 'Ingrese la contraseña nueva';
      return;
    }
    else if (this.new_pass.length < 8) {
      this.msjError = 'Mínimo 8 caracteres';
      return;
    }
    if (this.old_pass === this.new_pass) {
      this.msjError = 'La contraseña nueva es igual a la actual';
      return;
    }
    if (this.new_pass !== this.confirm_pass) {
      this.msjError = 'Las contraseñas no coinciden';
      return;
    }

    this.disableButton = true;
    this.$api.post('/auth/change-password', {
      old_pass: this.old_pass,
      new_pass: this.new_pass,
      id_usuario: this.$store.getters['auth/id']
    })
    .then(resp => {
      this.$q.notify('Datos actualizados');
      this.$router.back();
    })
    .catch(err => {
      console.error(err);
      this.disableButton = false;

      if (err && err.response && err.response.status == 401)
        this.msjError = 'Contraseña actual incorrecta';
      else
        this.msjError = 'Ocurrió un error';
    });
  },
},


}</script>
