<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Clientes</p>
        </div>
      </div>

      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        :ocultar-selects="true"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @editar="clickEditar"
        @eliminar="clickEliminar"
        @aprobar="clickAprobar"
        @domiciliazacion="clickDomiciliazacion"
        @clientenvl="clicknivel1"
        loading-label="Cargando..."
        />

    <!-- modales -->

    <!-- modal agregar nuevo -->

    <q-dialog :persistent="true" v-model="Agregar">

        <q-card   class="no-max-width w-90 w-100-md " >

          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p class=" mb-0 text-white font-xl " >Introduzca los datos del nuevo cliente</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="Agregar = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row w-100 flex flex-center q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >DNI/Pasaporte/CIF/NIF</p>
               <q-input type="text" placeholder="Introduzca el nombre del documento" :readonly="!editando" v-model="DNI" borderless  class=" w-100 input_txt" :rules="[ val => val.length >= 9 && val.length <=12 || 'El DNI/Pasaporte debe tener de 9 a 12 caracteres']">

                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Nombre del cliente</p>
               <q-input  type="text" placeholder="Introduzca el nombre del cliente" :readonly="!editando" v-model="nombre" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>



              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Empresa (opcional)</p>
               <q-input  type="text" placeholder="Introduzca el nombre de la empresa" :readonly="!editando" v-model="empresa" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>


             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Email</p>
               <q-input  type="email" placeholder="Introduzca el email"  v-model="email"  :readonly="!editando" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

             <div class="col-12 col-sm-3 col-md-3 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Código</p>
               <q-select placeholder="" :readonly="!editando" v-model="cod"  borderless  class=" w-100  input_txt" :options="codpaises" option-value="codigo_tlf" :option-label="row => unirnombrecod(row)" label="Seleccione" emit-value map-options />

             </div>

             <div class="col-12 col-sm-3 col-md-3 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Teléfono</p>
               <q-input  type="number" min="0" placeholder="Introduzca el numeró de teléfono" :readonly="!editando" v-model="telefono" borderless  class=" w-100 input_txt" :rules="[ val => val.length >= 9 && val.length <=12 || 'El Teléfono debe tener de 9 a 12 caracteres']">

                </q-input>
             </div>



              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Dirección</p>
               <q-input  type="text" placeholder="Introduzca la dirección" :readonly="!editando" v-model="direccion" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Localidad</p>
               <q-input  type="text" placeholder="Introduzca la localidad" :readonly="!editando" v-model="localidad" borderless  class=" w-100 input_txt" >
               </q-input>
             </div>


             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >País</p>
               <q-select placeholder="" :readonly="!editando" v-model="pais"  borderless  class=" w-100  input_txt" :options="paises" option-value="id" option-label="nombre" label="Seleccione" />
             </div>

              <div v-if="pais.id==1" class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Provincia</p>
               <q-select placeholder="" :readonly="!editando" v-model="provincia"  borderless  class=" w-100  input_txt" :options="provincias" option-value="id" option-label="nombre" label="Seleccione" >

                </q-select>
             </div>


             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Código postal</p>
               <q-input type="text" placeholder="Introduzca el codigo postal" :readonly="!editando" v-model="codigo" borderless  class=" w-100 input_txt" @input.native="onInputCodArea" >


                </q-input>
             </div>

               <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Contraseña</p>
                   <q-input v-model="cliente_contraseña" placeholder="Introduzca la contraseña" class=" w-100 w-100-md input_txt q-pr-sm "  borderless :type="isPwd1 ? 'password' : 'text'" >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd1 ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd1 = !isPwd1"
                      />
                    </template>
                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Confirmar contraseña</p>
                   <q-input v-model="cliente_contraseña_confirmas" placeholder="Confirme la contraseña" class=" w-100 w-100-md input_txt q-pr-sm "  borderless :type="isPwd2 ? 'password' : 'text'" >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd2 ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd2 = !isPwd2"
                      />
                    </template>
                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Porcentaje de descuento</p>
               <template>
                  <div class="w-100">
                    <money v-model="descuento" placeholder="Introduzca el porcentaje de descuento" :readonly="!editando" v-bind="descuentos" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
               </template>

             </div>

             <!--<div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Coeficiente del envio</p>
               <template>
                  <div class="w-100">
                    <money v-model="coeficiente" placeholder="Introduzca el coeficiente del envío" :readonly="!editando" v-bind="coeficientes" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
               </template>

             </div>-->

             <div v-if="pais.id == 1" class="col-6">

             </div>

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 text-center " >¿Cliente Nivel 1?</p>
              <q-checkbox v-model="nivel" color="cyan" ></q-checkbox>
             </div>


             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 text-center " >¿Cliente autorizado para domiciliación bancaria?</p>
               <q-checkbox v-model="check" color="cyan" ></q-checkbox>
             </div>



              <!-- <div class="col-12 col-sm-2 col-md-2 q-mt-md q-pl-sm q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 text-center " >Codigo</p>
               <q-input  type="text" readonly placeholder="Ingrese el Usuario"  v-model="codigo" borderless  class=" flex flex-center w-100 input_txt" >

                </q-input>
             </div> -->

           </div>
          </q-card-section>


           <div v-if="creando || editando" class="  row w-100 q-pa-md " >
              <div class="col-6 w-100  text-right ">
                 <q-btn class="cl_standar text-white q-mr-md "  label="Guardar" :disabled="disableButton" @click="clickGuardar" ></q-btn>
              </div>
               <div class="col-6 w-100   ">
                 <q-btn class="cl_standar text-white q-ml-md " @click="Agregar = false" label="Cancelar" ></q-btn>
              </div>
            </div>

            <!-- opciones de modal aprobar cliente -->

             <div v-if="aprobando" class="  row w-100 q-pa-md " >
              <div class="col-6 w-100  text-right ">
                 <q-btn class="cl_standar text-white q-mr-md "  label="Aprobar"  ></q-btn>
              </div>
               <div class="col-6 w-100   ">
                 <q-btn class="cl_standar text-white q-ml-md " @click="dialogRechazar = true, razon_rechazo=null" label="Rechazar" ></q-btn>
              </div>
            </div>


        </q-card>
      </q-dialog>

      <!-- modal cliente rechazado -->

      <q-dialog :persistent="true" v-model="dialogAprobar">
        <q-card   class="no-max-width w-40 w-100-md" >
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p  class=" mb-0 text-white font-xl " >Aprobar/Rechazar Cliente</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogAprobar = false" flat label="x" ></q-btn>
              </div>

            </div>
          </q-card-section>

            <div class="row q-pa-md ">
              <div class="col-12  q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 " >Coeficiente del envio</p>
                <template>
                  <div class="w-100">
                    <money v-model="coeficiente" placeholder="Introduzca el coeficiente del envío" v-bind="coeficientes" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
              </div>
            </div>

          <div class="row q-pa-md ">
            <div class="col-12  q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 " >Porcentaje de descuento</p>
              <template>
                <div class="w-100">
                  <money v-model="porcentaje_descuento" v-bind="formato_iva" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                </div>
              </template>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
            <p class="mb-0 w-100 text-center " >¿Cliente autorizado para domiciliación bancaria?</p>
            <q-checkbox v-model="check" color="cyan" ></q-checkbox>
          </div>

<!--
          <div class="row q-pa-md ">
            <div class="col-12  q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 " >Razón del rechazo </p>
              <q-input :dense="true" autogrow placeholder="Introduzca la razón del rechazo" v-model="razon" borderless  class=" w-100 input_grow" >
              </q-input>
            </div>
          </div>

 -->
           <div class="row   q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton" label="Aprobar" @click="aprobar" ></q-btn>
            </div>
            <div class="  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " label="Cerrar" @click="dialogAprobar = false, Agregar = false " ></q-btn>
            </div>
<!--
            <div class=" w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialogAprobar = false" label="Cancelar" ></q-btn>
            </div>
             -->
          </div>

        </q-card>
      </q-dialog>


      <q-dialog :persistent="true" v-model="dialogRechazar">
        <q-card   class="no-max-width w-40 w-100-md" >
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p  class=" mb-0 text-white font-xl " >Rechazar</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogRechazar = false" flat label="x" ></q-btn>
              </div>

            </div>
          </q-card-section>


          <div class="row q-pa-md ">
            <div class="col-12  q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 " >Razón del rechazo </p>
              <q-input :dense="true" autogrow placeholder="Introduzca la razón del rechazo" v-model="razon_rechazo" borderless  class=" w-100 input_grow" >
              </q-input>
            </div>
          </div>


           <div class="row w-100  q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton" label="Rechazar" @click="rechazar" ></q-btn>
            </div>

            <div class="col-6 w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialogRechazar = false" label="Cancelar" ></q-btn>
            </div>

          </div>

        </q-card>
      </q-dialog>


      <q-dialog :persistent="true" v-model="dialogEliminar">
        <q-card   class="" >
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p  class=" mb-0 text-white font-xl " >Cliente # {{ id }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogEliminar = false" flat label="x" ></q-btn>
              </div>

            </div>
          </q-card-section>

           <p class=" q-pa-md q-pl-md q-pr-md mb-0 w-100 font-xl text-center " >¿Está seguro que desea eliminar éste cliente?</p>


          <div class="row w-100  q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton"  label="Si" @click="eliminar" ></q-btn>
            </div>
            <div class="col-6 w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialogEliminar = false" label="No" ></q-btn>
            </div>
          </div>


        </q-card>
      </q-dialog>
    </div>
</template>

<script>
import DataTables from 'components/DataTables'
import {Money} from 'v-money'
import extraerDigitos from '../lib/extraerDigitos'

export default {
  components: { DataTables , Money },
  data () {
    return {
     isPwd1: true,
     isPwd2: true,
     cliente_contraseña:null,
     cliente_contraseña_confirmas:null,
      dialog: false,
      dialogEliminar: false,
      dialogAprobar : false,
      dialogRechazar: false,
      localidad: '',
      editando: false,
      creando: false,
      aprobando: false,
      disableButton: false,
      id: 0,
      Agregar: false,
      DNI : '',
      nombre: '',
      empresa : '',
      email: '',
      telefono : '',
      direccion : '',
      pais: '',
      cod: '',
      codpaises: [],
      paises: [],
      region : '',
      provincia : '',
      provincias : [],
      codigo : '',
      coeficiente : '',
      descuento: '',
      check : false,
      nivel : false,
      extra : false,
      // codigo : '',
      filter: '',
      columns: [
        { name: '#', required: true, label: '#', align: 'center', field:'index' },
        { name: 'DNI', required: true, label: 'DNI/Pasaporte/CIF/NIF', align: 'center', field: row => row.dni },
        { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.nombre, sortable: true},
        { name: 'Email', align: 'center', label: 'Email', field: row => row.correo, sortable: true },
        { name: 'Domicializacion bancaria', align: 'center', label: 'Domiciliación bancaria', field: row => '' },
        { name: 'Cliente nivel 1', align: 'center', label: 'Cliente nivel 1', field: row => '' },
      ],
      configDataTable: {
        ajax: '/cliente',
        tooltip_agregar: 'Agregar cliente',
      },
      data: [],
      coeficientes: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      },
      descuentos: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' %',
        precision: 2,
        masked: false
      },
      razon_rechazo: '',
      formato_iva: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' %',
        precision: 2,
        masked: false
      },
      porcentaje_descuento: 0,
    }
  },
  created() {
    this.cargarPaises();
    this.cargarProvincias();
    if(this.$route.params.id){
      this.cargarData(this.$route.params.id);
    }
  },

  watch: {
    codpaises(v) {
      this.cod = '+34';
    },
  },

  methods:{
    unirnombrecod : function(row){
      if(row)
        return row.codigo_tlf+' '+row.nombre;
      else
        return '';
    },
    onInputCodArea(evt) {
      evt.target.value = extraerDigitos(evt.target.value);
    },
    cargarPaises(datos_api){
      this.$api.get('/pais/')
        .then(res => {
          this.paises = res.data;
          this.codpaises = res.data;
        });
    },
    cargarProvincias(datos_api){
      this.$api.get('/provincia/todas')
        .then(res => {
          this.provincias = res.data;
        });
    },
    clickDomiciliazacion(row){
      var valor = 0;
      if(row.dom_ban)
        valor = 1;
      this.editarcolumna('domiciliacion_bancaria',valor,row.id);
    },
    clicknivel1(row){
      var valor = 2;
      if(row.nivel_1)
        valor = 3;
      this.editarcolumna('estatus',valor,row.id);
    },
    editarcolumna(col,val,id){
      const datos = {
        tipo_columna: col,
        valor: val
      };

      this.$api.put('/cliente/editar_campo/'+id, datos)
        .then(res => {
          //console.log(res.data);
          if(res.data.r){
            this.$refs.tabla.fetch();
            this.$q.notify('Estatus actualizado')
          }
        }).catch(err => {
          console.log(err.response.data);
          if (err.response && err.response.data && err.response.data.msg)
            this.$q.notify(err.response.data.msg);
          else
            this.$q.notify('Ocurrió un error')
        });

    },
    clickGuardar(){
      if (this.creando)
        this.crear();
      else
        this.editar();
    },
    clickAgregar(){
      this.creando = this.editando = true;

      this.fillData({});
      this.cod = '+34';

      this.Agregar = true;
    },
    cargarData(idc){
      this.$api.get('/cliente/'+idc)
        .then(res => {
          if(res.data){
            this.fillData(res.data);
            this.creando = this.editando = false;
            this.Agregar = true;
          }else
            this.$q.notify('El cliente no existe')
        }).catch(err => {
          if (err.response && err.response.data)
            this.$q.notify('El cliente no existe');
          else
            this.$q.notify('Ocurrió un error')
        });
    },
    clickVer(row){
      this.fillData(row);
      this.creando = this.editando = false;
      this.Agregar = true;
    },
    clickEditar(row){
      this.fillData(row);
      this.creando = false;
      this.editando = true;
      this.Agregar = true;
    },
    clickEliminar(row){
      this.id = row.id;
      this.dialogEliminar = true;
    },
    clickAprobar(row) {
      this.fillData(row);
      this.dialogAprobar = true;
    },
    crear(){

      const datos = {
        nombre: this.nombre,
        correo: this.email,
        dni: this.DNI,
        cod: this.cod,
        tlf: this.telefono,
        direccion: this.direccion,
        localidad: this.localidad,
        cp: this.codigo,
        empresa: this.empresa,
        pais: this.pais.id,
        provincia: this.provincia.id,
        domiciliacion: this.check,
        coeficiente: this.coeficiente,
        descuento: this.descuento,
        nivel: this.nivel,
        pass: this.cliente_contraseña,
        pass2: this.cliente_contraseña_confirmas,
        localidad: this.localidad
      };

      if (this.cliente_contraseña != this.cliente_contraseña_confirmas)
        return this.$q.notify('Las contraseñas no coinciden');

      this.disableButton = true;
      this.$api.post('/cliente', datos)
        .then(this.axiosThen, this.axiosCatch);
    },

    editar(){
      const datos = {
        nombre: this.nombre,
        correo: this.email,
        dni: this.DNI,
        cod: this.cod,
        tlf: this.telefono,
        direccion: this.direccion,
        cp: this.codigo,
        empresa: this.empresa,
        pais: this.pais.id,
        provincia: this.provincia.id,
        domiciliacion: this.check,
        coeficiente: this.coeficiente,
        descuento: this.descuento,
        nivel: this.nivel,
        pass: this.cliente_contraseña,
        pass2: this.cliente_contraseña_confirmas,
        localidad: this.localidad
      };

      this.disableButton = true;
      this.$api.put('/cliente/'+this.id, datos)
        .then(this.axiosThen, this.axiosCatch);

    },
    eliminar(){
      this.disableButton = true;

      this.$api.delete('/cliente/'+this.id)
        .then(this.axiosThen, this.axiosCatch);
    },
    async fillData(row){
      //console.log(row);

      this.id = row.id;
      this.nombre = row.nombre;
      this.email = row.correo;
      this.DNI = row.dni;
      this.telefono = row.telefono;
      this.direccion = row.direccion;
      this.codigo = row.codigo_postal;
      this.empresa = row.empresa;
      this.cod = row.cod_telefono;
      this.coeficiente = row.coeficiente_envio || 0;
      this.descuento = row.porcentaje_des;
      this.localidad = row.localidad;
      if(row.estatus==3)
        this.nivel = true;
      else
        this.nivel = false;
      //this.region = row.id_region;
      this.pais = '';
      this.provincia = '';
      if(row.id_pais){
        var obt_pais = this.paises.filter(p => p.id == row.id_pais);
        if(obt_pais[0])
          this.pais = obt_pais[0];
      }
      if(row.id_provincia){
        var obt_provincia = this.provincias.filter(p => p.id == row.id_provincia);
        if(obt_provincia[0])
          this.provincia = obt_provincia[0];
      }

      if(row.domiciliacion_bancaria)
        this.check = true;
      else
        this.check = false;

      	this.cliente_contraseña = this.cliente_contraseña_confirmas = '';

    },
    axiosThen() {
      this.disableButton = false;
      this.$q.notify('Datos actualizados');
      this.Agregar = false;
      this.dialogEliminar = false;
      this.$refs.tabla.fetch();
    },
    axiosCatch(err) {
      this.disableButton = false;
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else
        this.$q.notify('Ocurrió un error')
    },

    mostrarAprobar(row) {
      return row.estatus == 'pendiente';
    },

    aprobar() {
      const datos = {
        domiciliacion: this.check,
        coeficiente: this.coeficiente,
        descuento: this.porcentaje_descuento,
      };

      this.disableButton = true;
      this.$api.put('/cliente/aprobar/'+this.id, datos)
        .then(resp => {
          this.$q.notify({message:'Cliente aprobado', timeout:1500});
          this.$refs.tabla.fetch();
          this.dialogAprobar = false;
        })
        .catch(err => {
          if (err.response && err.response.data && err.response.data.msg)
            this.$q.notify(err.response.data.msg);
          else
            this.$q.notify('Ocurrió un error')
        })
        .finally(() => { this.disableButton = false });
    },
    rechazar() {
      const datos = {
        motivo: this.razon_rechazo,
      };

      this.disableButton = true;
      this.$api.put('/cliente/rechazar/'+this.id, datos)
        .then(resp => {
          this.dialogRechazar = this.dialogAprobar = false;
          this.razon_rechazo = null;
          this.$refs.tabla.fetch();
          this.$q.notify({message:'Cliente rechazado', timeout:1500});
        })
        .catch(err => {
          if (err.response && err.response.data && err.response.data.msg)
            this.$q.notify(err.response.data.msg);
          else
            this.$q.notify('Ocurrió un error')
        })
        .finally(() => { this.disableButton = false });
    },
  }
}
</script>
