<template>
  <div class="">

    <div class="row flex flex-center ">

      <div class="col-12 flex flex-center q-mt-md ">
        <q-img src="img/user.png" class="w-20" ></q-img>
      </div>

      <div class="col-12 col-sm-4 col-md-4 flex flex-center q-mt-lg q-pl-md q-pr-md ">
          <p class="mb-0 w-100 " >Usuarios registrados</p>
        <q-input name="nombre" type="text" v-model="nombre" borderless placeholder="" class="  w-100  input_txt" >
         
        </q-input>
      </div>

      <div class="col-12 col-sm-4 col-md-4 flex flex-center q-mt-lg q-pl-md q-pr-md ">
          <p class="mb-0 w-100 " >Usuarios no registrados</p>
        <q-input name="nombre" type="text" v-model="nombre" borderless placeholder="" class=" w-100  input_txt" >
        
        </q-input>
      </div>

      <div class="col-12 col-sm-4 col-md-4 flex flex-center q-mt-lg q-pl-md q-pr-md ">
          <p class="mb-0 w-100 " >Internacional</p>
        <q-input name="nombre" type="text" v-model="nombre" borderless placeholder="" class="  w-100  input_txt" >
         
        </q-input>
      </div>

      <div class="col-12 q-mt-xl text-center text-red" v-if="msjError">
        <p class="m-0"  style="">{{ msjError }} &nbsp;</p>
      </div>

      <div class="col-12 q-mt-lg text-center ">
        <q-btn class="cl_standar" label="Guardar" @click="guardarDatos" :disabled="disableButton" ></q-btn>
      </div>

    </div>

  </div>
</template>

<script>
export default {

data() {
  return {
   
  };
},

}
</script>
