<template>
  <div class="q-pa-md">

    <div class="row ">
      <div class="col-12 text-center ">
        <p class="titulos">Envíos</p>
      </div>
    </div>


    <data-tables
      ref="tabla"
      :columns="columns"
      :config="configDataTable"
      no-results-label="No hay coincidencias"
      @ver="clickVer"
      @seguimiento="clickSeguimiento"
      loading-label="Cargando..."
      :ocultar-editar="true"
      :ocultar-eliminar="true"
      :ocultar-agregar="true"
      :mostrar-seguimiento="true"
    />

    <!-- modales -->

    <!-- modal ver -->

    <q-dialog :persistent="true" v-model="ver">
      <q-card  class=" w-100-md no-max-width w-90 ">


        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">

          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Envío # {{ index }}  / Código: {{ codigo }}</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="ver = false" flat
                label="x"></q-btn>
            </div>

          </div>

          <div class="row w-100 q-mt-md q-pl-md q-pr-md   ">

            <div class="col-12">
              <p class="mb-0 titulos clr-enviaxa bold ">Remitente</p>
            </div>

            <q-separator color="orange"></q-separator>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">DNI/pasaporte/CIF/NIF</p>
              <q-input type="text" readonly v-model="dni" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div v-if="es_cliente_empresa" class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Empresa</p>
              <q-input type="text" readonly v-model="empresa_remitente" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Contacto</p>
              <q-input type="text" readonly v-model="nombre_remitente" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">País</p>
              <q-input type="text" readonly v-model="pais_origen" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Provincia</p>
              <q-input type="text" readonly v-model="provincia_origen" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Dirección</p>
              <q-input type="text" readonly v-model="direccion_origen" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" readonly v-model="localidad_origen" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Código postal</p>
              <q-input type="number" readonly v-model="cp_origen" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Correo electrónico</p>
              <q-input type="mail" readonly v-model="correo_remitente" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Teléfono</p>
              <q-input type="text" readonly v-model="telefono_remitente" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

          </div>

          <div class="row w-100 q-mt-md q-pl-md q-pr-md q-pb-md  ">

            <div class="col-12">
              <p class="mb-0 titulos clr-enviaxa bold ">Destinatario</p>
            </div>

            <q-separator color="orange"></q-separator>

            <div v-if="es_destinatario_empresa" class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Empresa</p>
              <q-input type="text" readonly v-model="nombre_contacto_destinatario" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>


            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Contacto</p>
              <q-input type="text" readonly v-model="nombre_destinatario" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">País</p>
              <q-input type="text" readonly v-model="pais_destino" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Provincia</p>
              <q-input type="text" readonly v-model="provincia_destino" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Dirección</p>
              <q-input type="text" readonly v-model="direccion_destino" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" readonly v-model="localidad_destino" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Código postal</p>
              <q-input type="number" readonly v-model="cp_destino" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Correo electrónico</p>
              <q-input type="mail" readonly v-model="correo_destinatario" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Teléfono</p>
              <q-input type="text" readonly v-model="telefono_destinatario" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>


          </div>

          <div class="row w-100 q-mt-md  q-pl-md q-pr-md q-pb-md  ">

            <div class="col-12">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Paquete
                <q-icon name="fas fa-box" class=" q-ml-sm titulos clr-enviaxa">
                </q-icon>
              </p>
            </div>

            <q-separator color="orange"></q-separator>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Peso total</p>
              <q-input type="number" readonly v-model="pesoTotalBultos" borderless
                class=" w-100 input_txt">
                <template v-slot:append>
                  <span style="font-size: 20px;" class="q-mr-sm">Kg</span>
                </template>
              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Unidades</p>
              <q-input type="text" readonly v-model="cantidadBultos" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>
          </div>

          <div class="row w-100 q-mt-md  q-pl-md q-pr-md q-pb-md_  ">
            <div class="col-12">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Bultos
                <!-- <q-icon name="fas fa-box" class=" q-ml-sm titulos clr-enviaxa"></q-icon> -->
              </p>
            </div>
          </div>
          <div v-for="bulto in bultos" class="row w-100 q-mt-md  q-pl-md q-pr-md q-pb-md  ">
            <div class="col-6 col-sm-3 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Fondo</p>
              <q-input type="text" readonly v-model="bulto.fondo" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>

            <div class="col-6 col-sm-3 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Ancho</p>
              <q-input type="text" readonly v-model="bulto.ancho" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>

            <div class="col-6 col-sm-3 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Alto</p>
              <q-input type="text" readonly v-model="bulto.alto" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>

            <div class="col-6 col-sm-3 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Peso</p>
              <q-input type="text" readonly v-model="bulto.peso" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>
          </div>



          <div class="row w-100 q-mt-md q-mb-lg q-pl-md q-pr-md q-pb-md  ">
            <div class="col-12">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Fecha y
                hora</p>
            </div>

            <q-separator color="orange"></q-separator>

            <!--<div class="col-12 col-sm-6 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Monto a pagar</p>
              <q-input type="number" readonly v-model="monto_a_pagar" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>-->

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Servicio</p>
              <q-input type="text" readonly v-model="modalidad" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Fecha de recogida</p>
              <q-input type="text" readonly v-model="fecha_recogida" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Momento de recogida</p>
              <q-input type="text" readonly v-model="momento_recogida" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>


          </div>

          <div class="row w-100   q-pl-md q-pr-md   ">
            <div class="col-12 q-mt-md ">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Pago</p>
            </div>
            <q-separator color="orange"></q-separator>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Metodo de pago</p>
              <q-input type="text" readonly v-model="metodo_pago" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Importe</p>
              <q-input type="text" readonly v-model="importe_pago" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Referencia</p>
              <q-input type="text" readonly v-model="referencia_pago" borderless class=" w-100 input_txt">
              </q-input>
            </div>

          </div>
        </q-card-section>


        <div class="  row w-100  q-pa-md ">
          <div class="col-12 w-100  text-center ">
            <q-btn class="cl_standar text-white q-mr-md " @click="ver = false"
              label="Cerrar"></q-btn>
          </div>
        </div>


      </q-card>
    </q-dialog>

      <!-- seguimiento -->





      <q-dialog :persistent="true" v-model="dialogSeguimiento">

        <!-- seguimiento -->
        <q-card  class=" w-100-md no-max-width w-90 " >


          <q-card-section class="q-pt-none q-pb-lg pl-0 pr-0 flex flex-center ">

            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p class=" mb-0 text-white font-xl " >Envío #{{ index }} / Código: {{ codigo }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogSeguimiento = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row w-100 q-mt-md  q-pl-md q-pr-md   ">

            <div class="col-12">
                <p class="mb-0 titulos clr-enviaxa bold " >Remitente</p>
            </div>

            <q-separator color="orange" ></q-separator>

             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >DNI/pasaporte</p>
               <q-input  type="text" readonly  v-model="dni" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >País</p>
               <q-input  type="text" readonly  v-model="pais_origen" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

              <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Provincia</p>
               <q-input  type="text" readonly  v-model="provincia_origen" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Dirección</p>
               <q-input  type="text" readonly  v-model="direccion_origen" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>


             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" readonly v-model="localidad_origen" borderless
                class=" w-100 input_txt">

              </q-input>
            </div>


             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Código postal</p>
               <q-input  type="number" readonly   v-model="cp_origen" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Correo electrónico</p>
               <q-input  type="mail" readonly  v-model="correo_remitente" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

             <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Teléfono</p>
               <q-input  type="text" readonly  v-model="telefono_remitente" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

           </div>


           <div class="row w-100 q-mt-lg  q-pl-md q-pr-md   ">

            <q-separator color="orange" ></q-separator>

            <div class="col-12 row flex item-center ">

              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 " >Observación</p>
              <q-input   :dense="true" autogrow
                :readonly="!puede_enviar_seguimiento"
                v-model="observacion_seguimiento" borderless  class=" w-100 input_grow"
              >

              </q-input>
             </div>

            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 " >URL para el seguimiento del envío</p>
              <q-input   :dense="true" autogrow
                :readonly="!puede_enviar_seguimiento"
                v-model="url_seguimiento" borderless  class=" w-100 input_grow"
              >

              </q-input>
             </div>

            </div>

           </div>



          </q-card-section>


           <div v-if="puede_enviar_seguimiento" class="row w-100  text-center q-pa-md " >
              <div class="col-12 w-100  text-center ">
                 <q-btn class="cl_standar text-white q-mr-md " @click="clickEnviar" :disabled="disableButton" label="Enviar" ></q-btn>
              </div>
            </div>


        </q-card>
      </q-dialog>

  </div>
</template>
<script>

import DataTables from '../components/DataTables'
import precio from '../lib/precio'
import moment from 'moment'
export default {

components: { DataTables },

data () {
  return {
    ver: false,
    dialogSeguimiento: false,
    id: null,
    index: null,
    codigo: null,

    dni: null,
    nombre_remitente: null,
    empresa_remitente: null,
    es_cliente_empresa: false,
    correo_remitente: null,
    telefono_remitente: null,
    pais_origen: null,
    provincia_origen: null,
    direccion_origen: null,
    localidad_origen: null,
    cp_origen: null,

    nombre_destinatario: null,
    nombre_contacto_destinatario: null,
    correo_destinatario: null,
    telefono_destinatario: null,
    pais_destino: null,
    provincia_destino: null,
    direccion_destino: null,
    localidad_destino: null,
    cp_destino: null,
    es_destinatario_empresa: false,

    url_seguimiento: null,
    observacion_seguimiento: null,
    id_cliente: null,

    bultos: null,
    fecha_recogida: null,
    momento_recogida: null,
    monto_a_pagar: null,

    modalidad: null,
    metodo_pago: null,
    importe_pago: null,
    referencia_pago: null,
    disableButton: false,
    columns: [
      // { name: '#', required: true, label: '#', align: 'center', field: 'index' },
      { name: 'Fecha', required: true, label: 'Fecha de envío', align: 'center', field: row => moment(row.fecha_envio).format('DD-MM-YYYY') },
      { name: 'Hora', required: true, label: 'Hora de envío', align: 'center', field: row => moment(row.fecha_envio).format('HH:mm') },
      { name: 'Código', required: true, label: 'Código', align: 'center', field: 'codigo_generado' },
      { name: 'Nombre', required: true, label: 'Remitente', align: 'center', field: 'nombre_cliente', sortable: true},
      { name: 'Pago', required: true, label: 'Método de pago', align: 'center', field: this.obtenerMetodo, sortable: true},
      { name: 'Estado', required: true, label: 'Estado', align: 'center', field: this.obtenerEstatus, sortable: true},
      { name: 'Importe', required: true, label: 'Importe', align: 'center', field: row => precio(row.monto)+' €', sortable: true},
      { name: 'Fecharec', required: true, label: 'Fecha de recogida', align: 'center', field: row => moment(row.fecha_recogida).format('DD-MM-YYYY'), sortable: true},
      // { name: 'DNI/pasaporte', required: true, label: 'DNI/pasaporte', align: 'center', field: 'dni_cliente' },
      // { name: 'Destinatario', required: true, label: 'Destinatario', align: 'center', field: 'nombre_destinatario' },
    ],
    configDataTable: {
      ajax: '/envio',
    },

    puede_enviar_seguimiento: false,

  }
},

created() {
  if(this.$route.params.id){
    this.cargarData(this.$route.params.id);
  }
},


computed: {
  cantidadBultos() {
    return this.bultos ? this.bultos.length : 0;
  },

  pesoTotalBultos() {
    return this.bultos ?
      this.bultos.reduce((total, bulto) => total + bulto.peso, 0)
      : 0;
  },
},


methods: {
  clickEnviar() {
    if (!this.observacion_seguimiento)
      return this.$q.notify('Ingrese una observación');

    if (!this.url_seguimiento)
      return this.$q.notify('Ingrese la URL de seguimiento');

    if (!this.checkUrl(this.url_seguimiento))
      return this.$q.notify('Ingrese una URL válida');

    this.disableButton = true;
    this.$api.post('/envio/seguimiento', {
      id_envio: this.id,
      url: this.url_seguimiento,
      observacion: this.observacion_seguimiento,
      id_cliente: this.id_cliente,
    })
    .then(r => {
      this.disableButton = false;
      this.$q.notify('Correo enviado');
      this.ver = false;
      this.dialogSeguimiento= false;
      this.$refs.tabla.fetch();
    })
    .catch(this.axiosCatch);
  },

  checkUrl(url) {
    try {
      new URL(url);
      return true;
    }
    catch (e) {
      return false;
    }
  },
  cargarData(idc){
    this.$api.get('/envio/'+idc)
      .then(res => {
        if(res.data[0]){
          this.fillData(res.data[0]);
          this.creando = this.editando = false;
          this.ver = true;
        }else
          this.$q.notify('El envío no existe')
      }).catch(err => {
        if (err.response && err.response.data)
          this.$q.notify('El envío no existe');
        else
          this.$q.notify('Ocurrió un error')
      });
  },
  clickVer(row){
    this.fillData(row);
    this.creando = this.editando = false;
    this.ver = true;
  },

  clickSeguimiento(row){
    this.fillData(row);
    this.dialogSeguimiento = true;
  },

  time_a_hora(time) {
    if (!time) return '';
    return moment(time, 'HH:mm:ss').format('HH');
  },

  iso_a_fecha(date) {
    if (!date) return '';
    return moment(date).format('DD-MM-YYYY');
  },

  obtenerMetodo(row) {
    if (!row.metodo_pago_text)
      return row.tipo_pago;

    return row.metodo_pago_text;
  },

  obtenerEstatus(row) {
    if (!row.estatus_transaccion)
      return row.estatus == 1 ? 'POR VERIFICAR' : 'VERIFICADO';

    return row.estatus_transaccion;
  },

  fillData(row={}) {
    this.codigo = row.codigo_generado;
    this.dni = row.dni_cliente
    this.nombre_remitente = row.nombre_cliente
    this.empresa_remitente = row.empresa_cliente
    this.es_cliente_empresa = row.es_cliente_empresa;
    this.correo_remitente = row.correo_cliente
    this.telefono_remitente = row.cod_telefono_cliente +' '+ row.telefono_cliente
    this.pais_origen = row.pais_origen
    this.provincia_origen = row.provincia_origen
    this.direccion_origen = row.direccion_origen
    this.localidad_origen = row.localidad_origen
    this.cp_origen = row.codigo_postal_origen

    this.es_destinatario_empresa = row.es_destinatario_empresa
    this.nombre_destinatario = row.nombre_destinatario
    this.nombre_contacto_destinatario = row.nombre_contacto_destinatario

    if (this.es_destinatario_empresa) {
      this.nombre_destinatario = row.nombre_contacto_destinatario
      this.nombre_contacto_destinatario = row.nombre_destinatario
    }
    this.correo_destinatario = row.correo_destinatario
    this.telefono_destinatario = row.cod_telefono_destinatario +' '+ row.telefono_destinatario
    this.pais_destino = row.pais_destino
    this.provincia_destino = row.provincia_destino
    this.direccion_destino = row.direccion_destino
    this.localidad_destino = row.localidad_destino
    this.cp_destino = row.codigo_postal_destino

    this.observacion_seguimiento = row.observacion_seguimiento;
    this.url_seguimiento = row.url_seguimiento;
    this.puede_enviar_seguimiento = !(row.observacion_seguimiento || row.url_seguimiento);

    this.id = row.id;
    this.id_cliente = row.id_cliente;
    this.index = row.index;
    this.bultos = row.bultos;
    this.monto_a_pagar = row.monto;
    this.modalidad = row.modalidad;
    this.fecha_recogida = this.iso_a_fecha(row.fecha_recogida);
    this.momento_recogida = this.time_a_hora(row.hora_recogida_desde) +' - '+ this.time_a_hora(row.hora_recogida_hasta) + ' h';
    this.metodo_pago = row.modalidad_pago || row.modalidad_pago_db || row.tipo_pago || row.metodo_pago_text || '';
    this.importe_pago = row.monto + ' €';
    this.referencia_pago = '';
    if(this.metodo_pago){
      this.importe_pago = row.importe_pago || row.monto || '0';
      if(this.metodo_pago=='Tarjeta')
        this.referencia_pago = row.referencia_pago || row.code_pago || 'En proceso';
      else
        this.referencia_pago = 'N/A';
    }

    if (+this.importe_pago)
      this.importe_pago = precio(this.importe_pago) + ' €';
  },


  axiosThen() {
    this.disableButton = false;
    this.$q.notify('Datos actualizados');
    this.ver = false;
    this.dialogSeguimiento= false;
    this.$refs.tabla.fetch();
  },
  axiosCatch(err) {
    this.disableButton = false;
    if (err.response.data && err.response.data.msg)
      this.$q.notify(err.response.data.msg);
    else
      this.$q.notify('Ocurrió un error')
  },

},


}</script>
