<template>
  <div class="color-fondo-claro">

     <div class="row vh40 flex item-center ">

      <div class="col-12 text-center item-center flex flex-center ">
         <q-img src="img/parador-logo.png" class="img-formulario" ></q-img>

      </div>

    </div>

    <div class="row vh60 ">

       <div class="col-12  flex flex-center ">
        <p class="text-white mb-0 text-center w-100 font-xl " >Join the family:</p>

       <q-input name="telefono" placeholder="Name" type="text"  dark v-model="nombre" borderless  class=" w-80 input_txt"/>

       <q-input name="telefono" placeholder="E-mail" type="text" dark v-model="correo" borderless  class=" w-80 input_txt"/>

       <q-input name="telefono" placeholder="Phone number" type="text" dark v-model="telefono" borderless  class=" w-80 input_txt"/>

        <p class=" font-xl bold mb-0 text-white w-100 text-center " > Gender: </p>

        <q-icon @click="EstadoM = true , EstadoF = false " :class="EstadoM ? 'clr_blue' : '' "  style="border: solid 1px blue" class="fas fa-mars titulos q-mr-md soft-border q-pa-sm " ></q-icon>
        <q-icon @click="EstadoF = true , EstadoM = false " :class="EstadoF ? 'clr_pink' : ''" style="border: solid 1px fuchsia" class="fas fa-venus titulos q-ml-md q-pa-sm soft-border " ></q-icon>
          <!-- <q-input  style="display:none" :dense="true" class="w-80 q-mt-md  " name="sexo" v-model="sexo"  label="Sexo" emit-values /> -->
         <div class="flex flex-center">
          <q-checkbox v-model="terminos" />
          <p class="mb-0 text-white font-md "> I accept terms and <span class="txt-etiquetas"> conditions and privacy policy. </span> </p>
         </div>
          <div class="flex flex-center q-mt-md q-mb-md text-white" v-if="msjError">
            <p class="m-0"  style="">{{ msjError }}&nbsp;</p>
          </div>
          <q-btn @click="Conectar" class="w-80 bg-white soft-border clr-red " >Sign up</q-btn>

      </div>

     </div>

     <q-dialog v-model="modal">
      <q-card  class="w-100 fondo-dark " >

        <q-card-section class="q-pa-md text-center ">
          <div>
          <q-spinner-radio
          color="yellow"
          size="5em"
          />
          <q-tooltip :offset="[0, 8]">QSpinnerRadio</q-tooltip>
        </div>
        <p class="font-xl q-mt-md text-white " >establishing connection</p>
        </q-card-section>

      </q-card>
    </q-dialog>


  </div>
</template>

<script>

import { LocalStorage } from 'quasar'
import validaciones from '../mixins/validaciones'

export default {

mixins: [validaciones],

data () {
  return {
    msjError: null,
    modal: false,
    EstadoM: false,
    EstadoF: false,
    model: null,
    nombre: null,
    telefono: null,
    correo: null,
    terminos: false,
  }
},


created() {
  const data = this.$store.getters['auth/data']
  if (data && data.correo) {
    this.$router.push('/Conexionestablecida')
  }
},


methods: {
  Conectar(){
    this.msjError = '';
    if(!this.nombre) {
      this.msjError = 'Ingrese el nombre'; return;
    }
    if(!this.correo || this.correo < 4) {
      this.msjError = 'Ingrese el correo'; return;
    }
    if(!this.telefono || this.telefono < 10) {
      this.msjError = 'Ingrese el teléfono'; return;
    }
    if(!this.EstadoM && !this.EstadoF) {
      this.msjError = 'Seleccione el sexo'; return;
    }
    if(!this.terminos) {
      this.msjError = 'Debe aceptar los terminos y condiciones'; return;
    }
    // net = this.$store.getters['auth/network']
    // net.name
    // net.pass
    const data = {
      nombre: this.nombre,
      correo: this.correo,
      telefono: this.telefono,
      sexo: this.EstadoM ? 'M' : 'F'
    }

    LocalStorage.set('DATA', data)

    this.$store.dispatch('auth/registrar', data)
      .then(resp => {
        this.$store.dispatch('logs/add_log', {name: resp.network.name, datetime: Date()});
        this.modal = true,
        this.$store.commit('logs/RESET_STATE');
        setTimeout (() => this.$router.push({ path:'/Conexionestablecida' }) , 4000 );
      })
      .catch(err => {
        if(err.data && err.data.msj)
          this.msjError = err.data.msj;
        else
          this.msjError = 'Ocurrió un error'
      })

  },

}


}</script>