<template>
  <div  class=" bg-img-fondo vh100 bg-light-gray flex item-center ">

   <div class="row w-100 flex content-around ">

     <div class="col-12 col-sm-4 col-md-3 q-pa-sm  "  @click="$router.push('/Admins')">
        <div class="bg-enviaxa rounded-1 q-pt-sm q-pb-sm flex flex-center ">
          <q-icon name="fas fa-id-card" class="icono-card-home text-white" ></q-icon>
          <p class="mb-0 w-100 text-center font-xl text-white" >Administradores : <span class="bold" >{{ conteo_admin }}</span></p>
        </div>
      </div>

      <div class="col-12 col-sm-4 col-md-3 q-pa-sm  "  @click="$router.push('/Clientes')">
        <div class="bg-enviaxa rounded-1 q-pt-sm q-pb-sm flex flex-center ">
          <q-icon name="person" class="icono-card-home text-white" ></q-icon>
          <p class="mb-0 w-100 text-center font-xl text-white" >Clientes : <span class="bold" >{{ conteo_cliente }}</span></p>
        </div>
      </div>

      <div class="col-12 col-sm-4 col-md-3 q-pa-sm  "  @click="$router.push('/Envios')">
        <div class="bg-enviaxa rounded-1 q-pt-sm q-pb-sm flex flex-center ">
          <q-icon name="fas fa-boxes" class="icono-card-home text-white" ></q-icon>
          <p class="mb-0 w-100 text-center font-xl text-white" >Envíos : <span class="bold" >{{ conteo_envio }}</span></p>
        </div>
      </div>
     

    </div>


  </div>
</template>

<script>
export default {

data () {
  return {
    modal: false,
    model: null,
    conteo_admin: '...',
    conteo_cliente: '...',
    conteo_envio: '...',
  }
},

created() {
  this.$api.get('/admin/contadores')
    .then(r => {
      this.conteo_admin = r.data.conteo_admin;
      this.conteo_cliente = r.data.conteo_cliente;
      this.conteo_envio = r.data.conteo_envio;
    });
},


}</script>
