<template>

  <div  class=" degradado">

    <div class="row vh100 flex  flex-center item-center ">
      <div class="col-11 col-md-3 border-login bg-white flex flex-center soft-border ">
        <q-img src="img/logo.png" class="img-bienvenido q-mt-md " ></q-img>

        <q-input v-on:keyup.enter="login" name="email" type="text" label="Correo electrónico"  v-model="email" borderless  class=" q-mt-md w-80 input_txt" >
           <template v-slot:prepend>
          <q-icon
            name="person"
            class="cursor-pointer"
          />
          </template>
        </q-input>

        <q-input v-on:keyup.enter="login" class="q-mt-md w-80 input_txt q-pr-sm " label="Contraseña" v-model="password"  borderless :type="isPwd ? 'password' : 'text'" >
         <template v-slot:prepend>
          <q-icon
            name="vpn_key"
            class="cursor-pointer"
          />
          </template>

         <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
          </template>
        </q-input>

        <div class=" w-100 text-center q-mt-md text-red" v-if="msjError">
          <p class="m-0"  style="">{{ msjError }} &nbsp;</p>
        </div>

         <div class="w-100 text-center q-mt-md " v-if="recuperarpass">
           <p @click="recuperar = true" class="clr-enviaxa mb-0 pointer " >Recuperar contraseña</p>
        </div>

        <div class="w-100 text-center q-mt-md q-mb-md ">
          <q-btn class="cl_standar " @click="login" :disabled="disableButton" >Ingresar</q-btn>
        </div>

      </div>

    </div>

    <!-- Dialog Recuperar -->
    <q-dialog v-model="recuperar">
        <q-card>
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">

            <div class="row w-100 bg-enviaxa " >
               <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p class=" mb-0 text-white font-xl " >Recuperar contraseña</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="recuperar = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row q-mt-md q-mb-md w-100 flex q-pr-sm q-pl-sm flex-center ">
              <div class="col-9">
                <p class="mb-0 w-100 " >Correo electrónico </p>
                <q-input name="email" type="text" placeholder="Ingrese el correo electrónico"  v-model="email" borderless  class="  w-100 input_txt" >
                  <template v-slot:prepend>
                  <q-icon
                    name="mail"
                    class="cursor-pointer"
                  />
                  </template>
                </q-input>
              </div>
           </div>

            <div class="row w-100  q-pa-md " >

              <div class="col-12 w-100  text-center ">
                 <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButtonRec" label="Enviar correo" @click="clickRecuperar"></q-btn>
              </div>

            </div>
          </q-card-section>
        </q-card>
      </q-dialog>


    <!-- Dialog cambiar pass -->
    <q-dialog v-model="cambiar" persistent>
        <q-card>
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">

            <div class="row w-100 bg-enviaxa " >
               <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p class=" mb-0 text-white font-xl " >Cambiar contraseña</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="cambiar = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row q-mt-md q-mb-md w-100 flex q-pr-sm q-pl-sm flex-center ">
              <div class="col-9">
                <p class="mb-0 w-100 " >Nueva contraseña </p>
                <q-input type="text" placeholder="" :type="isPwd2 ? 'password' : 'text'" v-model="new_pass" borderless  class="  w-100 input_txt" >
                  <template v-slot:prepend>
                  <q-icon
                    name="mail"
                    class="cursor-pointer"
                  />
                  </template>


                 <template v-slot:append>
                  <q-icon
                    :name="isPwd2 ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd2 = !isPwd2"
                  />
                  </template>
                </q-input>
              </div>
           </div>


           <div class="row q-mt-md q-mb-md w-100 flex q-pr-sm q-pl-sm flex-center ">
              <div class="col-9">
                <p class="mb-0 w-100 " >Confirmar contraseña </p>
                <q-input type="text" placeholder="" :type="isPwd3 ? 'password' : 'text'" v-model="confirm_pass" borderless  class="  w-100 input_txt" >
                  <template v-slot:prepend>
                  <q-icon
                    name="mail"
                    class="cursor-pointer"
                  />
                  </template>

                  <template v-slot:append>
                  <q-icon
                   :name="isPwd3 ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd3 = !isPwd3"
                  />
                  </template>
                </q-input>
              </div>
           </div>

            <div class="row w-100  q-pa-md " >

              <div class="col-12 w-100  text-center ">
                 <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButtonRec" label="Cambiar" @click="clickCambiar"></q-btn>
              </div>

            </div>
          </q-card-section>
        </q-card>
      </q-dialog>

  </div>
</template>

<script>

import checkEmail from '../lib/checkEmail'
import getBaseHashUrl from '../lib/getBaseHashUrl'

export default {

data() {
  return {
    email: null,
    recuperar: false,
    cambiar: false,
    password: null,
    isPwd: true,
    msjError: null,
    disableButton: false,
    disableButtonRec: false,
    recuperarpass: true,

    new_pass: null,
    confirm_pass: null,

    isPwd2: true,
    isPwd3: true,
  }
},

created() {
  const logueado = this.$store.getters['auth/logueado'];
  if (logueado) return this.$router.push('/Home');

  if (this.$route.params.token)
    this.cambiar = true;
},

methods: {
  login() {
    this.msjError = null;
    if(!this.email) this.msjError = 'Enter your username';
    if(!this.password) this.msjError = 'Enter your password';

    this.disableButton = true;
    this.$store.dispatch('auth/login', { email:this.email, pass: this.password })
      .then(() => this.$router.push('/Home'))
      .catch(err => {
        console.error(err);
        this.disableButton = false;
        if (err.data && err.data.msj)
          this.msjError = err.data.msj;
        else if (err && err.response && err.response.status == 401)
          this.msjError = 'Datos incorrectos';
        else
          this.msjError = 'Ocurrió un error';
      });
  },

  clickRecuperar() {
    if (!this.email || !checkEmail(this.email))
      return this.$q.notify('Ingrese su correo');

    this.disableButtonRec = true;
    this.$api.post('/auth/recuperar-clave', {
      correo: this.email,
      url_cambio: getBaseHashUrl() + '/Login'
    })
    .then(resp => {
      this.$q.notify({message:'Se ha enviado un correo de recuperación', timeout:5000})
      this.recuperar = this.recuperarpass = this.disableButtonRec = false;
    })
    .catch(err => {
      console.error(err);
      this.disableButtonRec = false;

      if (err && err.response && err.response.status == 401)
        this.$q.notify('Correo no encontrado');
      else
        this.$q.notify('Ocurrió un error');
    });
  },


  clickCambiar() {
    this.msjError = null;

    if (!this.new_pass) {
      return this.$q.notify('Ingrese la contraseña nueva');
    }
    if (this.new_pass.length < 8) {
      return this.$q.notify('Mínimo 8 caracteres');
    }
    if (!this.confirm_pass) {
      return this.$q.notify('Confirme la contraseña');
    }
    if (this.new_pass !== this.confirm_pass) {
      return this.$q.notify('Las contraseñas no coinciden');
    }


    this.disableButtonRec = true;
    this.$api.post('/auth/change-password/'+this.$route.params.token, {
      new_pass: this.new_pass,
      confirm_pass: this.confirm_pass,
    })
    .then(resp => {
      this.cambiar = false;
      this.$q.notify('Contraseña cambiada exitosamente');
      this.$router.replace('/Login');
    })
    .catch(err => {
      console.error(err);
      this.disableButtonRec = false;

      if (err.response && err.response.status === 404) {
        this.$q.notify('Enlace inválido');
        this.$router.replace('/Login');
      }
    });
  },
},


}</script>
