<template>
  <div class="q-pa-md">

    <div class="row ">
      <div class="col-12 text-center ">
        <p class="titulos">Modalidades de envío</p>
      </div>
    </div>

    <data-tables
      ref="tabla"
      :columns="columns"
      :config="configDataTable"
      no-results-label="No hay coincidencias"
      @agregar="clickAgregar"
      @ver="clickVer"
      @editar="clickEditar"
      @eliminar="clickEliminar"
      loading-label="Cargando..."
    />


    <!-- modales -->

    <q-dialog :persistent="true" v-model="dialog">
      <q-card class=" w-100-md ">


        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 col-sm-1 col-md-1 w-100  text-right ">

            </div>

            <div class="col-8 col-sm-10 col-md-10 w-100 flex flex-center item-center  text-center ">
              <p v-if="creando" class=" mb-0 text-white font-xl ">Introduzca los datos de la
                nueva modalidad de envío</p>
              <p v-else class=" mb-0 text-white font-xl ">Modalidad # {{ index }}</p>
            </div>

            <div class="col-2 col-sm-1 col-md-1 w-100  text-center ">
              <q-btn class="text-white font-xl " @click="dialog = false" flat
                label="x"></q-btn>
            </div>

          </div>

          <div
            class="row w-100 flex flex-center q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">
<!--
            <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Nombre del país</p>
              <q-select placeholder="" v-model="pais" borderless
                class=" w-100 input_txt" :options="paises" @filter="filterPais"
                map-options emit-value option-value="id" option-label="nombre" :readonly="!editando"
                label="Seleccione el país donde se encuentra la ciudad" />

            </div>
 -->

            <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Nombre de la modalidad de envío</p>
              <q-input type="text"
                placeholder="Introduzca el nombre de la modalidad" :readonly="!editando"
                v-model="modalidad" borderless class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Descripción de la modalidad de envío</p>
              <q-input type="text"
                placeholder="Introduzca la descripción de la modalidad" :readonly="!editando"
                v-model="descripcion" borderless class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Nombre de la zona</p>
              <q-select placeholder="" v-model="zona" borderless
                class=" w-100 input_txt" :options="zonas" @filter="filterZona"
                map-options emit-value option-value="id" option-label="nombre" :readonly="!editando"
                label="Seleccione la zona donde se registrara la modalidad" />

            </div>
<!--
            <div
              class="col-12 q-mt-md col-sm-10 flex item-center col-md-10 q-pl-sm  q-pr-sm  ">
              <p class="mb-0 w-100 q-pl-sm q-pr-sm ">Costo</p>
                <template>
                  <div class="w-100">
                    <money v-model="costo" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
            </div>
 -->
          </div>
        </q-card-section>


        <div v-if="editando" class="  row w-100 q-pa-md ">
          <div class="col-6 w-100  text-right ">
            <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton" label="Guardar" @click="clickGuardar">
            </q-btn>
          </div>
          <div class="col-6 w-100   ">
            <q-btn class="cl_standar text-white q-ml-md "
              @click="dialog = false" label="Cancelar"></q-btn>
          </div>
        </div>


      </q-card>
    </q-dialog>


    <q-dialog :persistent="true" v-model="dialogEliminar">
      <q-card class="">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Modalidad #{{ index }}</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogEliminar = false" flat
                label="x"></q-btn>
            </div>

          </div>
        </q-card-section>

        <p class=" q-pa-md q-pl-md q-pr-md mb-0 w-100 font-xl text-center ">
          ¿Está seguro que desea eliminar ésta modalidad?</p>


        <div class="row w-100  q-pa-md">
          <div class="col-6 w-100  text-right ">
            <q-btn class="cl_standar text-white q-mr-md "
              :disabled="disableButton" label="Si" @click="eliminar">
            </q-btn>
          </div>
          <div class="col-6 w-100   ">
            <q-btn class="cl_standar text-white q-ml-md "
              @click="dialogEliminar = false" label="No"></q-btn>
          </div>
        </div>


      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import DataTables from '../components/DataTables'
import {Money} from 'v-money'
export default {

components: { DataTables, Money },

data () {
  return {
    creando: false,
    editando: false,
    dialog: false,
    dialogEliminar: false,
    nombre: '',
    ciudad: null,
    zonas: [],
    descripcion: '',
    pais: null,
    paises: [],
    columns: [
      { name: '#', required: true, label: 'ID', align: 'center', field : 'index' },
      { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: 'nombre', sortable: true},
      { name: 'Zona', required: true, label: 'Zona', align: 'center', field : 'zona' },
      // { name: 'Monto', required: true, label: 'Monto', align: 'center', field : 'monto' },

    ],

    configDataTable: {
      ajax: '/modalidad',
    },
    money: {
      decimal: ',',
      thousands: '.',
      prefix: '',
      suffix: ' €',
      precision: 2,
      masked: false
    },
    zona:null,
    modalidad:null,
    costo:null,
    disableButton: false,
    id: null,
    index: 0,
    españa: {},
  };
},

created() {
  this.$api.get('/pais/esp')
    .then(resp => { this.españa = resp.data })
},

methods: {

  crear(){
    const datos = {
      nombre: this.modalidad,
      id_pais: this.pais,
      id_zona: this.zona,
      monto: this.costo,
      descripcion: this.descripcion,
    };

    if (!datos.nombre || !datos.id_zona)
      return this.$q.notify('Complete todos los campos');

    this.disableButton = true;
    this.$api.post('/modalidad', datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  editar(){
    this.disableButton = true;

    const datos = {
      nombre: this.modalidad,
      id_pais: this.pais,
      id_zona: this.zona,
      monto: this.costo,
      descripcion: this.descripcion,
    };

    if (!datos.nombre || !datos.id_zona || !datos.monto)
      return this.$q.notify('Complete todos los campos');

    this.$api.put('/modalidad/'+this.id, datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  eliminar(){
    this.disableButton = true;

    this.$api.delete('/modalidad/'+this.id)
      .then(this.axiosThen, this.axiosCatch);
  },

  clickGuardar(){
    if (this.creando)
      this.crear();
    else
      this.editar();
  },

  clickAgregar(){
    this.creando = this.editando = true;

    this.fillData();

    this.dialog = true;
  },
  clickVer(row){
    this.fillData(row);
    this.creando = this.editando = false;
    this.dialog = true;
  },
  clickEditar(row){
    this.fillData(row);
    this.creando = false;
    this.editando = true;
    this.dialog = true;
  },
  clickEliminar(row){
    this.fillData(row);
    this.dialogEliminar = true;
  },


  fillData(row={}){
    this.id = row.id;
    this.index = row.index;
    this.modalidad = row.nombre;
    this.pais = row.id_pais;
    this.zona = row.id_zona;
    this.zonas = [{ id: row.id_zona, nombre: row.zona }];
    this.costo = row.monto;
    this.descripcion = row.descripcion;
  },


  axiosThen() {
    this.disableButton = false;
    this.$q.notify('Datos actualizados');
    this.dialog = false;
    this.dialogEliminar = false;
    this.$refs.tabla.fetch();
  },
  axiosCatch(err) {
    this.disableButton = false;
    if (err.response.data && err.response.data.msg)
      this.$q.notify(err.response.data.msg);
    else
      this.$q.notify('Ocurrió un error')
  },


  filterPais(value, update, abort) {
    this.$api.get('/pais')
      .then(r => {
        const data = r.data || [];
        // Ordenar alfabeticamente.
        data.sort((a,b) => a.nombre.localeCompare(b.nombre));
        this.paises = data;
        update();
      })
      .catch(this.axiosCatch);
  },
  filterZona(value, update, abort) {
    let params = {};

    if (this.pais == this.españa.id)
      params.envio = 'Destino';

    this.$api.get('/zona', { params })
      .then(r => {
        const data = r.data || [];
        // Ordenar alfabeticamente.
        data.sort((a,b) => a.nombre.localeCompare(b.nombre));
        this.zonas = data;
        update();
      })
      .catch(this.axiosCatch);
  },

},


}</script>
