<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Notificaciones</p>
        </div>
      </div>
      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        :ocultar-agregar="true"
        :ocultar-editar="true"
        :ocultar-eliminar="true"
        no-results-label="No hay coincidencias"
        @ver="clickVer"
        loading-label="Cargando..."
        />
        <!--<q-table
      title="Agregar administrador"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
    >

      <template class="w-100" v-slot:top-left>
        <div class="row">


          <div class="col-12 col-sm-12 col-md-6 ">
            <q-input borderless dense debounce="300" v-model="filter" class="input_txt" placeholder="Buscar">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          </div>

        </div>




      </template>




    </q-table>-->


    </div>
</template>

<script>
  import DataTables from 'components/DataTables'
  import { LocalStorage } from 'quasar'
  const moment = require('moment');
  require('moment/locale/es')
export default {
  components: { DataTables },
  data () {
    return {
      eliminar : false,
      Agregar: false,
      ver : false,
      editar : false,
      nombre: '',
      extra : false,
      codigo : 1,
      filter: '',
      ciudad: null,
      ciudades: ['Caracas', 'Barcelona', 'Merida', 'Malaga', 'Madrid'],
      pais: null,
      paises: ['Venezuela', 'España'],
      columns: [
        { name: 'Nombre', required: true, label: 'Titulo', align: 'center', field : 'titulo', sortable: true},
        { name: 'Mensaje', required: true, label: 'Mensaje', align: 'center', field : 'contenido' },
        { name: 'Tiempo', required: true, label: 'Tiempo', align: 'center', field: row => this.calcularfecha(row.fecha) },
      ],
      configDataTable: {
        ajax: '/notificaciones/tabla/admin/'+LocalStorage.getItem('ID'),
        body: {id:1},
        tooltip_agregar: '',
      },
      data: [
        {
          ID : 1,
          name: 'Nuevo envío de paquete',
          Mensaje: 'Se ha registrado un nuevo envío de paquete',
          Hace : '3-Minutos'
        },
        {
          ID : 3,
          name: 'Se ha registrado un nuevo usuario',
          Mensaje: 'Se ha registrado un nuevo envío de paquete',
          Hace : '19-Minutos'
        },
        {
          ID : 4,
          name: 'Nueva solicitud de paqueteria',
          Mensaje: 'Se ha registrado un nuevo envío de paquete',
          Hace : '34-Minutos'
        },
      ]
    }
  },
  methods: {
    calcularfecha(fe){
      return moment(fe).toNow().replace("en", "hace");
    },
    clickVer(row){
      this.Abrir(row.id);
    },
    Abrir(id_noti){
      const formData = new FormData();
      this.$api.post('notificaciones/vista/'+id_noti, formData)
        .then(r => {
          r = r.data;
          if(r.estatus==1){
            this.notificacion = !this.notificacion;
            this.$store.dispatch('notificaciones/actualizarNotificaciones');
            if(r.tipo_noti==2){
              this.$router.push({ path:'/'+r.url+'/'+r.id_usable })
            }else if(r.tipo_noti==1){
              this.$router.push({ path:'/'+r.url+'/' })
            }else{
              this.$router.push({ path:'/Home/' })
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
  }
}
</script>