<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Países</p>
        </div>
      </div>


      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @editar="clickEditar"
        @eliminar="clickEliminar"
        loading-label="Cargando..."
        />

    <!-- modal pais -->

    <q-dialog :persistent="true" v-model="dialog">
        <q-card   class="" >

          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p v-if="creando" class=" mb-0 text-white font-xl " >Introduzca los datos del nuevo país</p>
                 <p v-else class=" mb-0 text-white font-xl " >País # {{ index }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialog = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row w-100 q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">
             <div class="col-12 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Nombre del país</p>
               <q-input  type="text" :readonly="!editando" placeholder="Introduzca el nombre del país"  v-model="nombre" borderless  class=" w-100 input_txt" >
                </q-input>
             </div>
             <div class="col-12 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Código del país</p>
               <q-input  type="text" :readonly="!editando" placeholder="Introduzca el código ejemplo: +34 "  v-model="cod" borderless  class=" w-100 input_txt" >
                </q-input>
             </div>
             <div class="col-12 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Importación</p>
               <template>
                  <div class="w-100">
                    <money v-model="importacion" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt "></money>
                  </div>
                </template>
             </div>
              <div class="col-12 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 text-center " >Extracomunitario</p>
               <q-checkbox v-model="extra" :disable="!editando" color="cyan" ></q-checkbox>
             </div>

           </div>
          </q-card-section>


           <div v-if="editando || creando" class="  row w-100 q-pa-md " >
              <div class="col-6 w-100  text-right ">
                 <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton" label="Guardar" @click="clickGuardar" ></q-btn>
              </div>
               <div class="col-6 w-100   ">
                 <q-btn class="cl_standar text-white q-ml-md " @click="dialog = false" label="Cancelar" ></q-btn>
              </div>
            </div>


        </q-card>
      </q-dialog>


      <q-dialog :persistent="true" v-model="dialogEliminar">
        <q-card   class="" >
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p  class=" mb-0 text-white font-xl " >País # {{ index }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogEliminar = false" flat label="x" ></q-btn>
              </div>

            </div>
          </q-card-section>

           <p class=" q-pa-md q-pl-md q-pr-md mb-0 w-100 font-xl text-center " >¿Está seguro que desea eliminar éste país?</p>


          <div class="row w-100  q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton"  label="Si" @click="eliminar" ></q-btn>
            </div>
            <div class="col-6 w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialogEliminar = false" label="No" ></q-btn>
            </div>
          </div>


        </q-card>
      </q-dialog>


    </div>
</template>

<script>
import DataTables from 'components/DataTables'
import {Money} from 'v-money'
export default {

components: { DataTables , Money },

data () {
  return {

    dialog: false,
    dialogEliminar: false,
    editando: false,
    creando: false,
    disableButton: false,

    id: 0,
    index: 0,
    nombre: '',
    extra : false,
    codigo : 1,
    cod: '',
    filter: '',
    columns: [
      // { name: 'ID', required: true, label: 'ID', align: 'center', field : 'id' },
      { name: 'index', required: true, label: '#', align: 'center', field : 'index' },
      { name: 'Nombre', required: true, label: 'País', align: 'center', field: row => row.nombre},
      { name: 'Extracomunitario', align: 'center', label: 'Extracomunitario', field: row => (row.extracomunitario ? 'SI' : 'NO') },
    ],
    configDataTable: {
      ajax: '/pais',
      tooltip_agregar: 'Agregar país',
    },
    importacion : 0,
    money: {
      decimal: ',',
      thousands: '.',
      prefix: '',
      suffix: ' €',
      precision: 2,
      masked: false
    },
  }
},




methods: {
  crear(){

    const datos = {
      nombre: this.nombre,
      extracomunitario: this.extra,
      cod: this.cod,
      importacion: this.importacion
    };

    if (!datos.nombre || !datos.cod)
      return this.$q.notify('Complete todos los campos');

    this.disableButton = true;
    this.$api.post('/pais', datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  editar(){
    this.disableButton = true;

    const datos = {
      nombre: this.nombre,
      extracomunitario: this.extra,
      cod: this.cod,
      importacion: this.importacion
    };

    if (!datos.nombre || !datos.cod)
      return this.$q.notify('Complete todos los campos');

    this.$api.put('/pais/'+this.id, datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  eliminar(){
    this.disableButton = true;

    this.$api.delete('/pais/'+this.id)
      .then(this.axiosThen, this.axiosCatch);
  },

  clickGuardar(){
    if (this.creando)
      this.crear();
    else
      this.editar();
  },

  clickAgregar(){
    this.creando = this.editando = true;

    this.fillData();

    this.dialog = true;
  },
  clickVer(row){
    this.fillData(row);
    this.creando = this.editando = false;
    this.dialog = true;
  },
  clickEditar(row){
    this.fillData(row);
    this.creando = false;
    this.editando = true;
    this.dialog = true;
  },
  clickEliminar(row){
    this.fillData(row);
    this.dialogEliminar = true;
  },


  fillData(row={}){
    this.id = row.id;
    this.index = row.index;
    this.nombre = row.nombre;
    this.importacion = row.importacion;
    this.extra = !!row.extracomunitario;
    this.cod = row.codigo_tlf;
  },


  axiosThen() {
    this.disableButton = false;
    this.$q.notify('Datos actualizados');
    this.dialog = false;
    this.dialogEliminar = false;
    this.$refs.tabla.fetch();
  },
  axiosCatch(err) {
    this.disableButton = false;
    if (err.response.data && err.response.data.msg)
      this.$q.notify(err.response.data.msg);
    else
      this.$q.notify('Ocurrió un error')
  },
},




}</script>
