<template>
  <div class="">

    <div class="row flex flex-center ">

      <div class="col-12 flex flex-center q-mt-md ">
        <q-img src="img/user.png" class="w-20" ></q-img>
      </div>

      <div class="col-12 col-sm-7 col-md-5 flex flex-center  ">
        <q-input name="nombre" type="text" v-model="nombre" borderless placeholder="Ingrese su nombre" class=" q-mt-md w-90 input_txt" >
         <template v-slot:prepend>
          <q-icon
            name="person"
            class="cursor-pointer"
          />
          </template>
        </q-input>
      </div>

      <div class="col-12 q-mt-xl text-center text-red" v-if="msjError">
        <p class="m-0"  style="">{{ msjError }} &nbsp;</p>
      </div>

      <div class="col-12 q-mt-lg text-center ">
        <q-btn class="cl_standar" label="Guardar" @click="guardarDatos" :disabled="disableButton" ></q-btn>
      </div>

    </div>

  </div>
</template>

<script>
export default {

data() {
  return {
    disableButton: false,
    msjError: null,

    nombre: null,
  };
},

created() {
  this.cargarDatos();
},

methods: {
  cargarDatos() {
    const datos = this.$store.getters['auth/datos'];
    if (!datos) return;

    this.nombre = datos.nombre;
  },

  guardarDatos() {
    const id_admin = this.$store.getters['auth/id'];
    const datos = {
      nombre: this.nombre,
    };

    this.disableButton = true;
    this.msjError = null;
    this.$api.put('/admin/'+id_admin, datos)
      .then(resp => {
        if (resp.data)
          this.$store.commit('auth/SET_DATOS', resp.data);
        this.$q.notify('Datos actualizados')
      })
      .catch(err => {
        this.msjError = 'Ocurrió un error';
      })
      .finally(() => { this.disableButton=false });
  },
},

}
</script>
