<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Provincias</p>
        </div>
      </div>

      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @editar="clickEditar"
        @eliminar="clickEliminar"
        loading-label="Cargando..."
        />


    <!-- modal agregar nuevo -->

    <q-dialog :persistent="true" v-model="dialog">
        <q-card   class=" " >


          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p v-if="creando" class=" mb-0 text-white font-xl " >Introduzca los datos de la nueva provincia</p>
                 <p v-else class=" mb-0 text-white font-xl " >Provincia # {{ index }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialog = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row w-100 flex flex-center q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">

             <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Nombre del país</p>
                 <q-select
                  @input="ciudades = ciudad = null"
                  placeholder=""
                  :readonly="!editando"
                  v-model="pais"
                  borderless
                  class=" w-100 input_txt"
                  :options="paises"
                  label="Seleccione el país donde se encuentra la ciudad"
                  @filter="filterSelectPais"
                  option-value="id"
                  option-label="nombre"
                  emit-value
                  map-options
                />

             </div>

             <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Nombre de la región</p>
                 <q-select
                  placeholder=""
                  :readonly="!editando"
                  v-model="ciudad"
                  borderless
                  class=" w-100 input_txt"
                  :options="ciudades"
                  label="Seleccione la región donde se encuentra la provincia"
                  @filter="filterSelectCiudad"
                  option-value="id"
                  option-label="nombre"
                  emit-value
                  map-options
                />

             </div>

             <div class="col-12 col-sm-10 col-md-10 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 " >Nombre de la provincia</p>
                <q-input
                  type="text"
                  :readonly="!editando"
                  placeholder="Introduzca el nombre de la provincia"
                  v-model="nombre"
                  borderless
                  class=" w-100 input_txt"
                >
                </q-input>
             </div>


           </div>
          </q-card-section>


           <div v-if="editando || creando" class="  row w-100 q-pa-md " >
              <div class="col-6 w-100  text-right ">
                 <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton" label="Guardar" @click="clickGuardar"></q-btn>
              </div>
               <div class="col-6 w-100   ">
                 <q-btn class="cl_standar text-white q-ml-md " @click="dialog = false" label="Cancelar" ></q-btn>
              </div>
            </div>


        </q-card>
      </q-dialog>


      <!-- modal eliminar -->
      <q-dialog :persistent="true" v-model="dialogEliminar">
        <q-card   class="" >
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p  class=" mb-0 text-white font-xl " >provincia # {{ index }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogEliminar = false" flat label="x" ></q-btn>
              </div>

            </div>
          </q-card-section>

           <p class=" q-pa-md q-pl-md q-pr-md mb-0 w-100 font-xl text-center " >¿Está seguro que desea eliminar ésta provincia?</p>


          <div class="row w-100  q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton"  label="Si" @click="eliminar" ></q-btn>
            </div>
            <div class="col-6 w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialogEliminar = false" label="No" ></q-btn>
            </div>
          </div>


        </q-card>
      </q-dialog>



    </div>
</template>

<script>
import DataTables from '../components/DataTables'

export default {

components: { DataTables },

data () {
  return {
    dialog: false,
    dialogEliminar: false,
    disableButton: false,
    creando: false,
    editando: false,
    id: 0,
    index: 0,
    pais: null,
    ciudad: null,
    nombre: '',

    ciudades: [],
    paises: ['Venezuela', 'España'],
    columns: [
      // { name: 'ID', required: true, label: 'ID', align: 'center', field : 'id' },
      { name: 'index', required: true, label: '#', align: 'center', field : 'index' },
      { name: 'Nombre', required: true, label: 'Provincia', align: 'center', field: 'nombre'},
      { name: 'Pais', required: true, label: 'País', align: 'center', field : 'pais' },
      { name: 'Ciudad', required: true, label: 'Región', align: 'center', field : 'region' },
    ],

    configDataTable: {
      ajax: '/provincia',
      tooltip_agregar: 'Agregar provincia',
    },

  };
},


methods: {
  crear(){

    const datos = {
      nombre: this.nombre,
      id_region: this.ciudad
    };

    for (let val of Object.values(datos)) {
      if (!val)
        return this.$q.notify('Complete todos los campos');
    }

    this.disableButton = true;
    this.$api.post('/provincia', datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  editar(){
    this.disableButton = true;

    const datos = {
      nombre: this.nombre,
      extracomunitario: this.extra,
    };

    this.$api.put('/provincia/'+this.id, datos)
      .then(this.axiosThen, this.axiosCatch);
  },

  eliminar(){
    this.disableButton = true;

    this.$api.delete('/provincia/'+this.id)
      .then(this.axiosThen, this.axiosCatch);
  },

  clickGuardar(){
    if (this.creando)
      this.crear();
    else
      this.editar();
  },

  clickAgregar(){
    this.creando = this.editando = true;

    this.fillData();

    this.dialog = true;
  },
  clickVer(row){
    this.fillData(row);
    this.creando = this.editando = false;
    this.dialog = true;
  },
  clickEditar(row){
    this.fillData(row);
    this.creando = false;
    this.editando = true;
    this.dialog = true;
  },
  clickEliminar(row){
    this.fillData(row);
    this.dialogEliminar = true;
  },


  fillData(row={}){
    this.id = row.id;
    this.index = row.index;
    this.nombre = row.nombre;

    this.paises = [{ id:row.id_pais, nombre:row.pais  }];
    this.pais = row.id_pais;

    this.ciudad = row.id_region;
    this.ciudades = [{ id:row.id_region, nombre:row.region  }];
  },


  axiosThen() {
    this.disableButton = false;
    this.$q.notify('Datos actualizados');
    this.dialog = false;
    this.dialogEliminar = false;
    this.$refs.tabla.fetch();
  },
  axiosCatch(err) {
    this.disableButton = false;
    if (err.response && err.response.data && err.response.data.msg)
      this.$q.notify(err.response.data.msg);
    else
      this.$q.notify('Ocurrió un error')
  },


  filterSelectPais(val, update, abort) {
    this.$api.get('/pais')
      .then(r => {
        const data = r.data || [];
        // Ordenar alfabeticamente.
        data.sort((a,b) => a.nombre.localeCompare(b.nombre));
        this.paises = data;
        update();
      })
      .catch(this.axiosCatch);
  },

  filterSelectCiudad(val, update, abort) {
    if (!this.pais){
      this.$q.notify('Seleccione un país');
      return abort();
    }
    this.$api.get('/region/por-pais/'+this.pais)
      .then(r => {
        const data = r.data || [];
        // Ordenar alfabeticamente.
        data.sort((a,b) => a.nombre.localeCompare(b.nombre));
        this.ciudades = data;
        update();
      })
      .catch(this.axiosCatch);
  },

},



}</script>
