<template>
  <div class="q-pa-md">
    <div class="row ">
      <div class="col-12 text-center ">
        <p class="titulos">Informes de envíos</p>
      </div>

      <div class="col-12 col-sm-6 col-md-6 q-mt-md q-pr-md q-pl-md ">
        <p class="mb-0 w-100 ">Desde</p>
        <q-input type="date" placeholder="Introduzca la fecha" v-model="desde" :max="hasta || ''"
          borderless class=" w-100-md input_txt">
        </q-input>
      </div>

      <div class="col-12 col-sm-6 col-md-6 q-mt-md q-pl-md q-pr-md ">
        <p class="mb-0 w-100 ">Hasta</p>
        <q-input type="date" placeholder="Introduzca la fecha" v-model="hasta"  :min="desde || ''"
          borderless class=" w-100-md input_txt" >
        </q-input>
      </div>

      <div class="col-12 col-sm-6 col-md-6 q-pl-md q-mt-md q-pr-md  ">
        <p class="mb-0 w-100 ">Zona</p>
        <q-select placeholder="" v-model="zona" borderless
          class=" w-100 input_txt" :options="zonas" @filter="filterZonas"
          map-options emit-value option-value="id" option-label="nombre"
          label="Seleccione la zona" input-debounce="500" />
      </div>

      <div class="col-12 col-sm-6 col-md-6 q-pl-md q-mt-md q-pr-md  ">
        <p class="mb-0 w-100 ">Cliente</p>
        <q-select placeholder="" v-model="cliente" borderless use-input
          class=" w-100 input_txt" :options="clientes" @filter="filterClientes"
          map-options emit-value option-value="id" option-label="nombre"
          label="Seleccione el cliente " input-debounce="500"
        >
          <template v-slot:no-option>
            <q-item class="bg-white">
              <q-item-section class="text-italic text-black">
               Sin coincidencias
              </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>


      <div class="col-12 col-sm-6 col-md-6 q-pl-md q-mt-md q-pr-md  ">
        <p class="mb-0 w-100 ">Método de pago</p>
        <q-select placeholder="" v-model="metodo" borderless
          class=" w-100 input_txt" :options="metodos"

          label="Seleccione el método" input-debounce="500" />
      </div>


      <div class="col-12 col-sm-12 col-md-12 q-pl-md text-center q-mt-lg q-pr-md">
        <q-btn @click="clickGenerar" :disabled="disableButton" label="Generar" class="cl_standar q-mr-sm "></q-btn>
        <q-btn @click="clickExcel" :disabled="disableButton" label="Exportar Excel" class="cl_standar q-ml-sm q-mr-sm "></q-btn>
        <q-btn @click="clickCSV" :disabled="disableButton" label="Exportar CSV" class="cl_standar q-ml-sm "></q-btn>
      </div>

    </div>
  </div>
</template>

<script>
import config from '../config'
export default {

data () {
  return {
    desde:'',
    hasta:'',
    zona: null,
    zonas: [],
    cliente: null,
    clientes: [],
    metodo: null,
    metodos: [],

    fecha_de_hoy: this.fechaDeHoy(),
    fecha_de_ayer: this.fechaDeAyer(),
    disableButton: false,
  };
},

mounted() {
  this.$api.get('/zona')
    .then(r => { this.zonas = r.data })
    .catch(console.log);

  this.$api.get('/envio/metodos_pago')
    .then(r => { this.metodos = r.data })
    .catch(console.log);
},

methods: {
  clickGenerar() {
    this.descargarReporte('reporte_envios.html','reporte/en-html', true);
  },

  clickExcel() {
    this.descargarReporte('reporte_envios.xlsx','reporte/en-excel');
  },

  clickCSV() {
    this.descargarReporte('reporte_envios.csv','reporte/en-csv');
  },


  descargarReporte(archivo, ruta, newTab=false) {
    if (this.desde && this.hasta && this.desde > this.hasta) {
      return this.$q.notify('La fecha de inicio debe ser menor a la fecha final');
    }

    const xhr = new XMLHttpRequest();
    xhr.open('POST', config.API_URL + ruta, true);
    xhr.setRequestHeader('token', this.$store.getters['auth/token']);
    if (archivo.endsWith('.xlsx')) {
      xhr.responseType = 'arraybuffer';
    }

    xhr.onload = (oEvent) => {
      this.disableButton = false;

      if (xhr.status == 204) {
        this.$q.notify({message:'Sin datos',timeout: 1500});
        this.disableButton = false;
        return;
      }
      if (xhr.status == 401) {
        return this.$store.dispatch('auth/salir')
          .then(() => this.$router.push('/Login'));
      }
      if (xhr.status != 200) {
        this.disableButton = false;
        this.$q.notify({message:'Ocurrió un error',timeout: 1500});
        return console.error('Error:', xhr.status);
      }

      const blob = new Blob([xhr.response], { type: xhr.getResponseHeader('content-type') });
      const dataUrl = URL.createObjectURL(blob);

      if (archivo.endsWith('.html'))
        this.openWin(xhr.response);
      else
        this.descargarURL(archivo, dataUrl, newTab);
    };

    this.disableButton = true;
    xhr.send(this.crearFormData());
  },

  crearFormData() {
    const formData = new FormData();
    if (this.desde)
      formData.set('desde', this.desde);

    if (this.hasta)
      formData.set('hasta', this.hasta);

    if (this.zona)
      formData.set('id_zona', this.zona);

    if (this.cliente)
      formData.set('id_cliente', this.cliente);

    if (this.metodo)
      formData.set('metodo', this.metodo);


    return formData;
  },

  openWin(content) {
    const myWindow = window.open('','','width=1000,height=400');
    myWindow.document.write(content);
    myWindow.document.title = 'Envíos';
    myWindow.document.close(); //missing code

    myWindow.onload = () => {
      myWindow.focus();
      myWindow.print();
    };
  },

  descargarURL(filename, URL, newTab=false) {
    const a = document.createElement('a');
    a.setAttribute('href', URL);
    a.setAttribute('target', '_blank');
    a.setAttribute('download', filename);
    a.click();
  },

  filterZonas(busqueda, listo, abortar) {
    if (this.zonas && this.zonas.length) {
      return listo();
    }

    this.$api.get('/zona')
      .then(r => {
        this.zonas = r.data;
        listo();
      })
  },

  filterClientes(busqueda, listo, abortar) {
    if (!busqueda || busqueda.length < 3)
      return abortar();

    this.$api.get('/cliente?filter='+busqueda)
      .then(r => {
        this.clientes = r.data;
        listo();
      })
  },


  fechaDeAyer() {
    const hoy = new Date();
    const actual = new Date(hoy.getUTCFullYear(), hoy.getMonth(), hoy.getDate()-1);

    return actual.toISOString().split('T')[0];
  },

  fechaDeHoy() {
    const hoy = new Date();
    const actual = new Date(hoy.getUTCFullYear(), hoy.getMonth(), hoy.getDate());

    return actual.toISOString().split('T')[0];
  },


},

}</script>
