<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Transacciones de Tarjeta</p>
        </div>
      </div>


      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        :ocultar-opciones="true"
        :ocultar-agregar="true"
        :ocultar-editar="true"
        :ocultar-ver="true"
        :ocultar-eliminar="true"
        no-results-label="No hay coincidencias"
        loading-label="Cargando..."
        />

    </div>
</template>

<script>
import DataTables from 'components/DataTables'
import {Money} from 'v-money'
import moment from 'moment'

export default {

components: { DataTables , Money },

data () {
  return {

    dialog: false,

    filter: '',
    columns: [
      { name: 'Código', required: true, label: 'Código', align: 'center', field: row => row.codigo_generado || "N/A"},
      { name: 'Referencia', required: true, label: 'Referencia', align: 'center', field: row => row.code_pago},
      { name: 'DNI', required: true, label: 'DNI', align: 'center', field: row => row.dni},
      { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.nombre},
      { name: 'Teléfono', required: true, label: 'Teléfono', align: 'center', field: row => row.telefono},
      { name: 'Email', required: true, label: 'Email', align: 'center', field: row => row.email},
      { name: 'Método de pago', required: true, label: 'Método de pago', align: 'center', field: row => row.metodo_pago_text},
      { name: 'Estado', required: true, label: 'Estado', align: 'center', field: row => row.estatus},
      { name: 'Respuesta del pago', required: true, label: 'Respuesta del pago', align: 'center', field: row => row.response_payment || "N/A"},
      { name: 'Importe', required: true, label: 'Importe', align: 'center', field: row => this.formato(row.importe)+' €' },
      { name: 'Últ. actualización', required: true, label: 'Últ. actualización', align: 'center', field: row => moment(row.fecha_actualizacion).format('DD-MM-YYYY HH:mm') },
    ],
    configDataTable: {
      ajax: '/transacciones',
      tooltip_agregar: '',
    },
    importacion : 0,
    money: {
      decimal: ',',
      thousands: '.',
      prefix: '',
      suffix: ' €',
      precision: 2,
      masked: false
    },
  }
},




methods: {
    formato(val,txt) {
        return this.$utils.precio(val, txt);
    },
},




}</script>
