<template>
    <div class="q-pa-md">

      <div class="row ">
        <div class="col-12 text-center ">
          <p class="titulos" >Zonas</p>
        </div>
      </div>



      <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @editar="clickEditar"
        @eliminar="clickEliminar"
        loading-label="Cargando..."
        />
        <!--
        <q-table
      title="Agregar administrador"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
    >

      <template class="w-100" v-slot:top-left>
        <div class="row">


          <div class="col-6 col-sm-9 col-md-9 ">
            <q-input borderless dense debounce="300" v-model="filter" class="input_txt" placeholder="Buscar">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          </div>

          <div class="col-6 col-sm-3 col-md-3  flex item-center flex-center ">
          <q-btn icon="add" label="Agregar" @click="Agregar = true"  size="md" class="cl_standar rounded " >
            <q-tooltip>
                Agregar una nueva zona
              </q-tooltip>
          </q-btn>
        </div>

        </div>




      </template>

      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>


      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn size="sm" class="cl_standar" color="accent" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" >
              <q-tooltip>
                Opciones
              </q-tooltip>
            </q-btn>
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <div class="text-left">
            <q-btn icon="visibility" size="sm" @click="ver = true" round class="cl_standar q-ma-xs " >
              <q-tooltip>
                Ver
              </q-tooltip>
            </q-btn>
            <q-btn icon="create" @click="editar = true" size="sm" round class="cl_standar q-ma-xs " >
              <q-tooltip>
                Editar
              </q-tooltip>
            </q-btn>
            <q-btn icon="delete_forever" size="sm" round class="cl_standar q-ma-xs " >
              <q-tooltip>
                Eliminar
              </q-tooltip>
            </q-btn>
            .</div>
          </q-td>
        </q-tr>
      </template>

    </q-table>-->

    <!-- modales -->

    <!-- modal agregar nuevo -->

    <q-dialog :persistent="true" v-model="Agregar">
        <q-card   class="no-max-width w-90 w-100-md " >


          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p class=" mb-0 text-white font-xl " >Introduzca los datos de la zona</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="Agregar = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row w-100 flex flex-center  q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Nombre de la zona</p>
               <q-input  type="text" :readonly="!editando" placeholder="Introduzca el nombre de la zona"  v-model="nombre" borderless  class=" w-100 input_txt" >

                </q-input>
             </div>

              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Tipo</p>
                 <q-select placeholder="" :readonly="!editando" v-model="tipo" borderless  class=" w-100 input_txt" :options="tipos" label="Seleccione" />

             </div>

             <div v-if="tipo == 'Internacional'" class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Países asociados a esta zona</p>
                 <q-select placeholder="" :readonly="!editando" multiple v-model="pais"  borderless  class=" w-100 select_grow input_txt" :options="paises" option-value="id" option-label="nombre" label="Seleccione" />

             </div>


              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Tipo de envio</p>
                 <q-select placeholder="" :readonly="!editando" v-model="tipov" borderless  class=" w-100 q-pl-md q-pr-md input_txt" :options="tiposv" label="Seleccione el tipo de envío " />
             </div>

             <div v-if="tipo == 'Nacional' || tipo == 'Internacional/Provincia'" class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 " v-if="tipo == 'Nacional'">Regiones asociadas a esta zona</p>
                <p class="mb-0 w-100 " v-else>Provincias asociadas a esta zona</p>
                 <q-select placeholder="" :readonly="!editando" multiple v-model="region" borderless  class=" w-100 q-pl-md q-pr-md select_grow" :options="regiones" option-value="id" option-label="nombre" label="Seleccione" />

             </div>

             <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
                <p class="mb-0 w-100 text-center" >¿Colocar precio adicional?</p>
                <q-checkbox v-model="si_adicional" :disable="!editando" color="cyan" ></q-checkbox>

             </div>

             <div v-if="si_adicional" class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
               <p class="mb-0 w-100 " >Precio del Kg. adicional</p>
                <template>
                  <div class="w-100">
                    <money v-model="precio_adicional" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
               <!--<q-input  type="number" :readonly="!editando" placeholder="Ingrese el precio adicional "  v-model="precio_adicional" borderless  class=" q-pr-md w-100 input_txt" >
                  <template v-slot:append>
                    <q-icon
                        name="fas fa-euro-sign"
                    />
                    </template>
                </q-input>-->
             </div>

              <div class="col-12 text-center q-mt-md q-mb-md ">
                  <p class=" titulos" >Coeficiente para el calculo de peso</p>
              </div>
              <div class="col-12 col-sm-4 q-mt-md col-md-4 q-pl-sm  q-pr-sm  ">
               <p class="mb-0 w-100 " >USUARIOS REGISTRADOS</p>
                <template>
                  <div class="w-100">
                    <money v-model="coe_usu" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
              </div>
              <div class="col-12 col-sm-4 col-md-4 q-mt-md q-pl-sm q-pr-sm  ">
               <p class="mb-0 w-100 " >USUARIOS NO REGISTRADOS</p>
                <template>
                  <div class="w-100">
                    <money v-model="coe_no_usu" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
              </div>
              <div class="col-12 col-sm-4 q-mt-md col-md-4 q-pl-sm  q-pr-sm  ">
               <p class="mb-0 w-100 " >USUARIOS REGISTRADOS NIVEL 1</p>
                <template>
                  <div class="w-100">
                    <money v-model="coe_usu_1" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
              </div>
             <div class="col-12 text-center q-mt-md  ">
                 <p class=" titulos" >Rango de pesos</p>
             </div>
             <div class="col-12 col-sm-12 col-md-12 q-pl-sm q-mb-md q-pr-sm flex flex-center ">
                <p class="mb-0 w-100 text-center" >¿Colocar tiempo de entrega?</p>
                <q-checkbox v-model="si_tiempo" :disable="!editando" color="cyan" ></q-checkbox>
             </div>

            <div v-if="editando || creando" class="col-12 col-sm-4 col-md-4 flex flex-center row q-mt-md ">



            <div class="col-12 q-mt-lg row col-sm-9 flex item-center col-md-9 q-pl-sm  q-pr-sm  ">

               <p class="mb-0 w-30 q-pl-sm q-pr-sm  " >Desde</p>
               <template>
                  <div class="w-70">
                    <money v-model="desde" v-bind="kg" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
               <!--<q-input  type="number" suffix="Kg" placeholder="0"  v-model="desde" borderless  class=" q-pr-md w-70 input_txt" >

                </q-input>-->

             </div>


             <div class="col-12 q-mt-lg col-sm-9 flex item-center col-md-9 q-pl-sm  q-pr-sm  ">
               <p class="mb-0 w-30 q-pl-sm q-pr-sm " >Hasta</p>
                <template>
                  <div class="w-70">
                    <money v-model="hasta" v-bind="kg" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
               <!--<q-input  type="number" suffix="Kg" placeholder="0"  v-model="hasta" borderless  class=" q-pr-md w-70 input_txt" >

                </q-input>-->
             </div>

              <div class="col-12 q-mt-lg col-sm-9 flex item-center col-md-9 q-pl-sm  q-pr-sm  ">
               <p class="mb-0 w-30 q-pl-sm q-pr-sm " >Costo</p>
               <template>
                <div class="w-70">
                  <money v-model="costo" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                </div>
              </template>

               <!--<q-input  type="number"  placeholder="0"  v-model="costo" borderless  class=" q-pr-md w-70 input_txt" >
                  <template v-slot:append>
                    <q-icon
                        name="fas fa-euro-sign"
                    />
                    </template>
                </q-input>-->
             </div>
             <div v-if="si_tiempo" class="col-12 q-mt-lg col-sm-9 flex item-center col-md-9 q-pl-sm  q-pr-sm  ">
               <p class="mb-0 w-30 q-pl-sm q-pr-sm " >Tiempo</p>
               <q-input  type="text"  v-model="tiempo" borderless  class=" q-pr-md w-70 input_txt" >
                  <template v-slot:append>
                    <q-icon
                        name="fas fa-clock"
                    />
                    </template>
                </q-input>
             </div>
                </div>



             <div v-if="editando || creando" class="col-12  col-sm-2 flex-center flex item-center col-md-2 q-pl-sm  q-mt-lg q-mb-lg q-pr-sm  ">
               <q-btn icon="add" class="cl_standar " round @click="agregarnuevocosto">
                <q-tooltip content-class="hide-sm bg-grey " >
                Agregar nuevo rango
               </q-tooltip>
               </q-btn>
             </div>

             <div  class="col-12  bg-light-gray col-sm-6 overflow-hidden flex flex-center item-center col-md-6 q-pl-sm  q-pr-sm  ">

           <!-- tabla de costos -->
              <q-table
                title="Pesos"
                :data="Datos"
                :columns="Campos"
                :visible-columns="visibleCampos"
                row-key="name"
                class="w-100"
                :rows-per-page-options="[0]"
                hide-bottom
                >

                <template class="w-100" v-slot:top-left>
                  <div class="row">
                    <div class="col-6 flex item-center flex-center text-center col-sm-6 col-md-6 ">
                        <p class="mb-0 bold" >Costos por peso</p>
                    </div>
                  </div>
                </template>

                <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="Desde" :props="props">
                          {{ formato(props.row.Desde,'') }}
                      </q-td>
                      <q-td key="Hasta" :props="props">

                          {{ formato(props.row.Hasta,'') }}

                      </q-td>
                      <q-td key="Costo" :props="props">
                        <template>
                          <div class="w-100">
                            <money v-model="props.row.Costo" :readonly="!editando" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                          </div>
                        </template>

                      </q-td>
                      <q-td key="Tiempo" :props="props" v-if="si_tiempo">
                        <q-input  type="text" :readonly="!editando" v-model="props.row.Tiempo" borderless  class=" q-pr-md w-100 input_txt" >
                          <template v-slot:append>
                            <q-icon
                                name="fas fa-clock"
                            />
                            </template>
                        </q-input>

                      </q-td>
                      <q-td key="Opciones"  :props="props">

                         <q-btn v-if="editando || creando" icon="delete_forever" class="cl_standar" round size="sm" @click="quitarpeso(props.row)" ></q-btn>

                      </q-td>
                    </q-tr>
                </template>
              </q-table>

             </div>

              <!-- <div class="col-12 col-sm-2 col-md-2 q-mt-md q-pl-sm q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 text-center " >Codigo</p>
               <q-input  type="text" readonly placeholder="Ingrese el Usuario"  v-model="codigo" borderless  class=" flex flex-center w-100 input_txt" >

                </q-input>
             </div> -->

           </div>
          </q-card-section>


           <div class="  row w-100   q-pa-md " v-if="editando || creando">
              <div class="col-6 w-100  text-right " >
                 <q-btn class="cl_standar text-white q-mr-md "  label="Guardar" :disabled="disableButton" @click="clickGuardar" ></q-btn>
              </div>
               <div class="col-6 w-100   ">
                 <q-btn class="cl_standar text-white q-ml-md " @click="Agregar = false" label="Cancelar" ></q-btn>
              </div>
            </div>


        </q-card>
      </q-dialog>

      <q-dialog :persistent="true" v-model="dialogEliminar">
        <q-card   class="" >
          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row bg-enviaxa w-100 " >

              <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p  class=" mb-0 text-white font-xl " >Zona # {{ id }}</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialogEliminar = false" flat label="x" ></q-btn>
              </div>

            </div>
          </q-card-section>

           <p class=" q-pa-md q-pl-md q-pr-md mb-0 w-100 font-xl text-center " >¿Está seguro que desea eliminar ésta zona?</p>


          <div class="row w-100  q-pa-md" >
            <div class="col-6 w-100  text-right ">
              <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButton"  label="Si" @click="eliminar" ></q-btn>
            </div>
            <div class="col-6 w-100   ">
              <q-btn class="cl_standar text-white q-ml-md " @click="dialogEliminar = false" label="No" ></q-btn>
            </div>
          </div>


        </q-card>
      </q-dialog>
      <!-- modal ver -->

    </div>
</template>

<script>
import DataTables from 'components/DataTables'
import {Money} from 'v-money'
export default {
  components: { DataTables , Money },
  data () {
    return {
      dialog: false,
      dialogEliminar: false,
      editando: false,
      creando: false,
      disableButton: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' €',
        precision: 2,
        masked: false
      },
      kg: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' Kg',
        precision: 2,
        masked: false
      },
      coeficiente: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      },
      id: 0,

      Agregar: false,
      coe_usu: '',
      coe_usu_1: '',
      coe_no_usu: '',
      desde: 0,
      hasta: '',
      costo: '',
      tiempo: '',
      precio_adicional: '',
      ver : false,
      nombre: '',
      extra : false,
      codigo : 1,
      filter: '',
      filtro: '',
      tipo: null,
      tipos: ['Nacional', 'Nacional/Provincial', 'Nacional/Regional', 'Internacional'],
      tipov: null,
      tiposv: ['Envío', 'Destino','Ambos'],
      region: null,
      allregiones: [],
      regiones: [],
      pais: null,
      paises: [],
      si_adicional: false,
      si_tiempo: false,
      columns: [
        { name: 'ID', required: true, label: 'ID', align: 'center', field : 'id' },
        { name: 'Nombre', required: true, label: 'Zona', align: 'center', field: row => row.nombre, sortable: true},
        { name: 'Tipo', required: true, label: 'Tipo', align: 'center', field: row => row.tipo, sortable: true },
        { name: 'Envio', required: true, label: 'Envío', align: 'center', field: row => row.envio, sortable: true },
      ],
      configDataTable: {
        ajax: '/zona',
        tooltip_agregar: 'Agregar zona',
      },

      data: [],
    //   data de la tabla precios
      visibleCampos: [ 'Desde', 'Hasta', 'Costo', 'Opciones' ],
     Campos: [
        { name: 'Desde', required: true, label: 'Desde(Kg)', align: 'center', field: 'Desde'},
        { name: 'Hasta', required: true, label: 'Hasta(Kg)', align: 'center', field : 'Hasta' },
        { name: 'Costo', required: true, label: 'Costo', align: 'center', field : 'Costo' },
        { name: 'Tiempo', label: 'Tiempo', align: 'center', field : 'Tiempo' },
        { name: 'Opciones', required: true, label: '', align: 'center', field : 'Opciones' },
     ],
      Datos: []
    }
  },
  created() {
    this.cargarPaises(null);
    this.cargarRegiones(null);
  },
  watch: {
    si_tiempo(val, oldVal){
      if(oldVal===null) return;
      if(val)
        this.visibleCampos= [ 'Desde', 'Hasta', 'Costo', 'Tiempo', 'Opciones' ];
      else
        this.visibleCampos= [ 'Desde', 'Hasta', 'Costo', 'Opciones' ];
    },
    tipo(val, oldVal){
      if(oldVal===null) return;

      if(val == 'Nacional')
        this.regiones = this.allregiones.filter(p => p.id_pais == 1);
      else
        this.regiones = this.allregiones.filter(p => p.id_pais != 1);
    },
  },
  methods: {
    cargarPaises(datos_api){
      this.$api.get('/pais/sin_zona')
        .then(res => {
          this.paises = res.data;
          if(datos_api){
            this.region = datos_api;
            for (var i = 0; i < datos_api.length; i++) {
              this.regiones.push(datos_api[i]);
            };
            this.pais = datos_api;
            for (var i = 0; i < datos_api.length; i++) {
              this.paises.push(datos_api[i]);
            };
          }
        });
    },
    cargarRegiones(datos_api){
      this.$api.get('/region/sin_zona')
        .then(res => {
          this.allregiones = res.data;
          this.regiones = res.data;
          if(datos_api){
            this.region = datos_api;
            for (var i = 0; i < datos_api.length; i++) {
              this.regiones.push(datos_api[i]);
            };
            if(this.tipo == 'Nacional')
              this.regiones = this.allregiones.filter(p => p.id_pais == 1);
            else
              this.regiones = this.allregiones.filter(p => p.id_pais != 1);
          }
        });
    },
    clickGuardar(){
      if (this.creando)
        this.crear();
      else
        this.editar();
    },
    clickAgregar(){
      this.creando = this.editando = true;

      this.fillData({});

      this.Agregar = true;
    },
    clickVer(row){
      this.fillData(row);
      this.creando = this.editando = false;
      this.Agregar = true;
    },
    clickEditar(row){
      this.fillData(row);
      this.creando = false;
      this.editando = true;
      this.Agregar = true;
    },
    clickEliminar(row){
      this.id = row.id;
      this.dialogEliminar = true;
    },
    crear(){

      const datos = {
        nombre: this.nombre,
        tipo: this.tipo,
        pais: this.pais,
        precio: this.precio_adicional,
        tipoe: this.tipov,
        region: this.region,
        pesos: this.Datos,
        coe_usu: this.coe_usu,
        coe_usu_1: this.coe_usu_1,
        coe_no_usu: this.coe_no_usu,
        tiempo: this.si_tiempo
      };
      if(!this.si_adicional)
        datos.precio = 0;


      if (!datos.nombre)
        return this.$q.notify('Complete el nombre de la zona');
      if (!datos.tipo)
        return this.$q.notify('Seleccione el tipo de zona');
      if (!datos.tipoe)
        return this.$q.notify('Seleccione el tipo de envío de la zona');
      if(datos.tipo=='Nacional' && !datos.region)
        return this.$q.notify('Selecciona una región');
      if(datos.tipo=='Internacional/Provincia' && !datos.region)
        return this.$q.notify('Selecciona una Provincia');
      if(!datos.precio && this.si_adicional)
        return this.$q.notify('Ingresa el precio del kg. adicional');
      if(datos.precio<=0 && this.si_adicional)
        return this.$q.notify('El precio del kg. adicional debe ser mayor a 0');
      if(datos.tipo=='Internacional' && !datos.pais)
        return this.$q.notify('Selecciona un pais');
      if(!datos.coe_usu)
        return this.$q.notify('Ingresa el coeficiente de los USUARIOS REGISTRADOS');
      if(!datos.coe_usu_1)
        return this.$q.notify('Ingresa el coeficiente de los USUARIOS REGISTRADOS NIVEL 1');
      if(!datos.coe_no_usu)
        return this.$q.notify('Ingresa el coeficiente de los USUARIOS NO REGISTRADOS');
      if(datos.pesos.length==0)
        return this.$q.notify('Debes agregar un rango de pesos');
      this.disableButton = true;
      this.$api.post('/zona', datos)
        .then(this.axiosThen, this.axiosCatch);
    },

    editar(){
      const datos = {
        nombre: this.nombre,
        tipo: this.tipo,
        pais: this.pais,
        precio: this.precio_adicional,
        tipoe: this.tipov,
        region: this.region,
        pesos: this.Datos,
        coe_usu: this.coe_usu,
        coe_usu_1: this.coe_usu_1,
        coe_no_usu: this.coe_no_usu,
        tiempo: this.si_tiempo
      };
      if(!this.si_adicional)
        datos.precio = 0;
      //console.log(datos);

      if (!datos.nombre)
        return this.$q.notify('Complete el nombre de la zona');
      if (!datos.tipo)
        return this.$q.notify('Seleccione el tipo de zona');
      if (!datos.tipoe)
        return this.$q.notify('Seleccione el tipo de envio de la zona');
      if(datos.tipo=='Nacional' && !datos.region)
        return this.$q.notify('Selecciona una región');
      if(datos.tipo=='Internacional/Provincia' && !datos.region)
        return this.$q.notify('Selecciona una Provincia');
      if(!datos.precio && this.si_adicional)
        return this.$q.notify('Ingresa el precio del kg. adicional');
      if(datos.precio<=0 && this.si_adicional)
        return this.$q.notify('El precio del kg. adicional debe ser mayor a 0');
      if(datos.tipo=='Internacional' && !datos.pais)
        return this.$q.notify('Selecciona un pais');
      if(!datos.coe_usu)
        return this.$q.notify('Ingresa el coeficiente de los USUARIOS REGISTRADOS');
      if(!datos.coe_usu_1)
        return this.$q.notify('Ingresa el coeficiente de los USUARIOS REGISTRADOS NIVEL 1');
      if(!datos.coe_no_usu)
        return this.$q.notify('Ingresa el coeficiente de los USUARIOS NO REGISTRADOS');
      if(datos.pesos.length==0)
        return this.$q.notify('Debes agregar un rango de pesos');
      this.disableButton = true;
      this.$api.put('/zona/'+this.id, datos)
        .then(this.axiosThen, this.axiosCatch);

    },
    agregarnuevocosto(){
      //if (!this.desde)
      //  return this.$q.notify('Ingrese el desde');
      if (this.desde=='' || this.desde==0)
        this.desde=0;
      if (!this.hasta)
        return this.$q.notify('Introduzca el hasta');
      if(!this.costo)
        return this.$q.notify('Introduzca el costo');
      if (parseFloat(this.desde) > parseFloat(this.hasta))
        return this.$q.notify('El peso desde no debe ser mayor del peso hasta');
      if(this.si_tiempo && !this.tiempo)
        return this.$q.notify('Introduzca el tiempo');
      var peso_d = this.desde;
      var peso_h = this.hasta;
      for (var i = 0; i < this.Datos.length; i++) {
        if(parseFloat(this.Datos[i].Desde)<=parseFloat(peso_d) && parseFloat(this.Datos[i].Hasta)>=parseFloat(peso_d)){
          return this.$q.notify('No se puede agregar, debes respetar los rangos de pesos ya agregados');
        }else if(parseFloat(this.Datos[i].Desde)<=parseFloat(peso_h) && parseFloat(this.Datos[i].Hasta)>=parseFloat(peso_h)){
          return this.$q.notify('No se puede agregar, debes respetar los rangos de pesos ya agregados');
        }
      }

      this.Datos.push({
        Desde: this.desde,
        Hasta: this.hasta,
        Costo: this.costo,
        Tiempo: this.tiempo
      });
      this.Datos.sort(function (a, b) {
        return a.Desde - b.Desde;
      });
      this.desde = 0;
      this.hasta = '';
      this.costo = '';
      this.tiempo = '';
    },
    quitarpeso(datos){
      var bus = this.Datos.indexOf( datos );
      this.Datos.splice( bus, 1 );
    },
    eliminar(){
      this.disableButton = true;

      this.$api.delete('/zona/'+this.id)
        .then(this.axiosThen2, this.axiosCatch);
    },
    async fillData(row){
      //console.log(row);
      this.desde = 0;
      this.hasta = '';
      this.costo = '';
      this.pais=null;
      this.region=null;
      this.Datos=[];
      this.id = row.id;
      this.nombre = row.nombre;
      this.tipov = row.envio;
      this.tipo = row.tipo;
      this.coe_usu = row.coeficiente_registrado;
      this.coe_usu_1 = row.coeficiente_registrado_lvl_1;
      this.coe_no_usu = row.coeficiente_no_registrado;
      this.precio_adicional = '';
      this.si_adicional = false;

      if(row.tarifa_adicional>0){
        this.si_adicional = true;
        this.precio_adicional = row.tarifa_adicional;
      }
      this.si_tiempo = false;
      if(row.id){
        if(row.tipo=='Nacional' || row.tipo=='Internacional/Provincia'){
          this.regiones = [];
          await this.cargarRegiones(row.region);
        }else if(row.tipo=='Internacional'){
          this.paises = [];
          await this.cargarPaises(row.pais);
        }
        for (var i = 0; i < row.pesos.length; i++) {
          if(row.pesos[i].tiempo)
            this.si_tiempo = true;
          this.Datos.push({
            Desde: row.pesos[i].desde,
            Hasta: row.pesos[i].hasta,
            Costo: row.pesos[i].costo,
            Tiempo: row.pesos[i].tiempo
          });
        };
      }else{
        this.regiones = [];
        this.paises = [];
        this.cargarPaises(null);
        this.cargarRegiones(null);
      }
    },
    axiosThen2() {
      this.disableButton = false;
      this.$q.notify('Eliminado correctamente');
      this.Agregar = false;
      this.dialogEliminar = false;
      this.cargarPaises();
      this.cargarRegiones();
      this.$refs.tabla.fetch();
    },
    axiosThen() {
      this.disableButton = false;
      this.$q.notify('Datos actualizados');
      this.Agregar = false;
      this.dialogEliminar = false;
      this.cargarPaises();
      this.cargarRegiones();
      this.$refs.tabla.fetch();
    },
    axiosCatch(err) {
      this.disableButton = false;
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else
        this.$q.notify('Ocurrió un error')
    },
    formato(val,txt) {
      return this.$utils.precio(val, txt);
    },
  }
}
</script>