<template>
  <q-layout  view="lHh Lpr lFf">
    <q-header class="bg-enviaxa" elevated>
      <q-toolbar class="flex row content-between item-center" >

         <div class="col-2">

          <q-btn
         class="text-white hide-min1024 font-xl q-mt-sm q-ml-sm "
          dense
          round
          flat
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

         </div>

         <div class="col-10 flex content-end item-center ">
             <p class="mb-0 q-ml-sm  " >{{ nombre_usuario }}</p>

             <div class="relative">

                <q-btn
              class="text-white font-xl q-ml-sm "
                dense
                round
                flat
                icon="notifications"
                aria-label="Menu"
                @click="vernotificacion"
              >

              <p class="bg-red badge-notify " v-if="notificaciones.count>0">{{notificaciones.count}}</p>

              </q-btn>

              <div   :class=" notificacion ? '' : 'hide' " class=" w-100-md mt-md-20 w-40-md mt-md-10 vh70 overflow-scroll bg-white rounded-1 q-pa-md absolute_notify">

                <!-- <p @click="Perfil()" class="mb-0 q-pa-sm hover text-white lista-menu " >Perfil</p> -->
                <div v-for="n in notificaciones.noti" :key="n.id" class="" >
                <p   class="mb-0 q-pa-sm bg-white rounded-1 text-black pb-0 pointer hover " @click="Abrir(n.id)"><b>{{n.titulo}}</b> <br> {{n.contenido}}  </p>
                <p   class="mb-0 text-right  bg-white rounded-1 text-grey q-pb-sm " >{{calcularfecha(n.fecha)}}</p>
                <q-separator ></q-separator>
                </div>
                <p @click="notify()" v-if="notificaciones.noti.length > 0" class=" q-pa-sm bg-gray w-100 rounded-1 q-mt-md text-center text-black pointer  " >Ver más</p>
                <p v-else class=" q-pa-sm bg-gray w-100 rounded-1 q-mt-md text-center text-black pointer  " >No hay notificaciones pendientes</p>
              </div>
             </div>

             <q-img src="img/user.png" width="40px" height="40px" class="q-ml-sm q-mr-sm" ></q-img>

             <div class="relative">
              <q-btn
              class="text-white q-mr-sm font-xl q-mt-sm  "
                dense
                round
                flat
                icon="settings"
                aria-label="Menu"
                @click="menu = !menu"
              />

              <div  :class=" menu ? '' : 'hide' " class="cl_standar text-white absolute_settings">

                <!-- <p @click="Perfil()" class="mb-0 q-pa-sm hover text-white lista-menu " >Perfil</p> -->

                <p @click="dialog_configuracion = true; menu = false " class="mb-0 q-pa-sm hover text-white lista-menu " >Configuración</p>

                <p @click="Contraseña()" class="mb-0 q-pa-sm hover text-white lista-menu " >Cambiar contraseña</p>

                <p @click="modal_salir = true" class="mb-0  q-pa-sm hover lista-menu " >Salir</p>
              </div>
             </div>


         </div>

      </q-toolbar>
    </q-header>


    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-enviaxa"
      class="fondo-dark"
    >
    <div class="flex  flex-center">

        <div class="bg-white w-100">

           <q-img
          src="img/logo.png"
          style="width: 80%;"
          class="bg-white q-ma-md "
        >
        </q-img>

        </div>

    </div>

      <q-list>
        <q-item-label
          header
          class="pt-0 q-mt-md "
        >
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          class="font-xl text-white"
        />



        <!-- <div class="flex item-center">
          <q-btn class="text-white" flat rounded  icon="undo" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" to="/Login" >Log out</p>
        </div> -->


      </q-list>



    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
<!--
     <q-footer elevated>
      <q-toolbar class="toolbar color-layout" >
        <q-toolbar-title>
          <div class="row text-center">
            <div class="col" v-for="(par,index) in paresIconoEnlace" :key="index">
              <q-btn push round class="rounded cl_standar"
                :icon="par.icono"
                :to="par.enlace"
                @click="clickFooterIcon(par, index)" />
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
     </q-footer> -->

     <q-dialog :persistent="true" v-model="dialog_configuracion">
       <q-card>


          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">

            <div class="row w-100 bg-enviaxa " >
               <div class="col-2 w-100  text-right ">

              </div>

               <div class="col-8 w-100 flex flex-center item-center  text-center ">
                 <p class=" mb-0 text-white font-xl " >Configuración</p>
              </div>

              <div class="col-2 w-100  text-right ">
                 <q-btn class="text-white font-xl " @click="dialog_configuracion = false" flat label="x" ></q-btn>
              </div>

            </div>

           <div class="row q-mt-md q-mb-md w-100 flex q-pr-sm q-pl-sm flex-center ">

              <!--<div class="col-10 q-mt-md ">
                <p class="mb-0 w-100 " >Coeficiente para el calculo del peso: USUARIOS REGISTRADOS</p>
                <q-input type="number" min="0" placeholder="Ingrese el calculo "  v-model="confi_1" borderless  class="  w-100 input_txt" >

                </q-input>
              </div>

              <div class="col-10 q-mt-md ">
                <p class="mb-0 w-100 " >Coeficiente para el cálculo del peso: USUARIOS NO REGISTRADOS</p>
                <q-input type="number" min="0" placeholder="Ingrese el cálculo "  v-model="confi_2" borderless  class="  w-100 input_txt" >

                </q-input>
              </div>-->

              <div class="col-10 q-mt-md">
                <p class="mb-0 w-100 " >Máximo Asegurado INTERNACIONAL</p>
                <template>
                  <div class="w-100">
                    <money v-model="confi_3" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>

              </div>

              <div class="col-10 q-mt-md">
                <p class="mb-0 w-100 " >Máximo Asegurado NACIONAL</p>
                <template>
                  <div class="w-100">
                    <money v-model="confi_4" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>

              </div>

              <div class="col-10 q-mt-md">
                <p class="mb-0 w-100 " >COSTE ADUANA - IMPORTACIÓN PARA PAÍSES EXTRACOMUNITARIOS</p>
                <template>
                  <div class="w-100">
                    <money v-model="confi_2" v-bind="money" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>

              </div>

              <div class="col-10 q-mt-md">
                <p class="mb-0 w-100 " >Porcentaje de IVA</p>
                <template>
                  <div class="w-100">
                    <money v-model="confi_1" v-bind="formato_iva" borderless class="q-pr-md w-100 text-black input_txt text-right"></money>
                  </div>
                </template>
              </div>

           </div>

            <div class="row w-100  q-pa-md " >

              <div class="col-12 w-100  text-center ">
                 <q-btn class="cl_standar text-white q-mr-md " :disabled="disableButtonConfi" @click="clickGuardarConfi" label="Guardar" ></q-btn>
              </div>

            </div>
          </q-card-section>


        </q-card>
      </q-dialog>

     <q-dialog :persistent="true" v-model="modal_salir">
        <q-card>


          <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
            <div class="row w-100 " >
              <div class="col-12 w-100 bg-enviaxa text-right ">
                 <q-btn class="text-white font-xl" flat label="x" @click="modal_salir = menu = false"></q-btn>
              </div>
            </div>

           <p class=" q-pa-md q-pl-md q-pr-md mb-0 w-100 font-xl text-center " >¿Está seguro que desea cerrar sesión?</p>

            <div class="row w-100  q-pa-md " >
              <div class="col-6 w-100  text-right ">
                 <q-btn class="cl_standar text-white q-mr-md " @click="salir()" label="Si" ></q-btn>
              </div>
               <div class="col-6 w-100   ">
                 <q-btn class="cl_standar text-white q-ml-md " @click="modal_salir = menu = false" label="No" ></q-btn>
              </div>
            </div>
          </q-card-section>


        </q-card>
      </q-dialog>


  </q-layout>
</template>


<script>
import { mapGetters } from 'vuex'
import EssentialLink from 'components/EssentialLink.vue'
import {Money} from 'v-money'
const moment = require('moment');
require('moment/locale/es')
const linksData = [
  {
    title: 'Inicio',
    icon: '',
    link: '/Home'
  },
  {
    title: 'Administradores',
    icon: '',
    link: '/Admins'
  },
   {
    title: 'Países',
    icon: '',
    link: '/Paises'
  },
   {
    title: 'Regiones',
    icon: '',
    link: '/Regiones'
  },
  {
    title: 'Provincias',
    icon: '',
    link: '/Provincias'
  },
   {
    title: 'Zonas',
    icon: '',
    link: '/Zonas'
  },
   {
    title: 'Clientes',
    icon: '',
    link: '/Clientes'
  },
  {
    title: 'Coste DUA/ADUANA',
    icon: '',
    link: '/Aduana'
  },
    {
    title: 'Modalidades de envío',
    icon: '',
    link: '/Modalidades'
  },
   {
    title: 'Envíos',
    icon: '',
    link: '/Envios'
  },
  {
    title: 'Transacciones',
    icon: '',
    link: '/Transacciones'
  },
   {
    title: 'Informes',
    icon: '',
    link: '/Reportes'
  },
]

export default {
  name: 'MainLayout',
  components: { EssentialLink , Money },
  data () {
    return{
      notificacion: false,
      modal_salir: false,
      dialog_configuracion : false,
      menu : false,
      email: null,
      confi_1: 0,
      confi_2: 0,
      confi_3: 0,
      confi_4: 0,
      disableButtonConfi: false,
      essentialLinks: linksData,
      leftDrawerOpen: false,
      salirLinks: [ {title: 'Log out', icon: 'undo', link:''} ],
      formato_iva: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' %',
        precision: 2,
        masked: false
      },
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' €',
        precision: 2,
        masked: false
      },
    }
  },
  created() {
    this.cargarConfiguracion();
    this.$store.dispatch('notificaciones/actualizarNotificaciones');
  },
  computed: {
    ...mapGetters({
      notificaciones: 'notificaciones/notificaciones',
    }),
    nombre_usuario() {
      const datos = this.$store.getters['auth/datos']
      return datos ? datos.nombre : 'Usuario'
    },
  },

  methods: {
    calcularfecha(fe){
      return moment(fe).toNow().replace("en", "hace");
    },
    vernotificacion(){
      this.notificacion = !this.notificacion;
    },
    Abrir(id_noti){
      const formData = new FormData();
      this.$api.post('notificaciones/vista/'+id_noti, formData)
        .then(r => {
          r = r.data;
          if(r.estatus==1){
            this.notificacion = !this.notificacion;
            this.$store.dispatch('notificaciones/actualizarNotificaciones');
            if(r.tipo_noti==2){
              this.$router.push({ path:'/'+r.url+'/'+r.id_usable })
            }else if(r.tipo_noti==1){
              this.$router.push({ path:'/'+r.url+'/' })
            }else{
              this.$router.push({ path:'/Home/' })
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    cargarConfiguracion(){
      this.$api.get('/configuracion')
        .then(res => {
          var datos = res.data;
          this.confi_1 = datos.por_iva;
          this.confi_2 = datos.adu_imp_ext;
          this.confi_3 = datos.max_ase_int;
          this.confi_4 = datos.max_ase_nac;
        });
    },
    clickGuardarConfi(){

      const datos = {
        por_i: this.confi_1,
        adu_e: this.confi_2,
        max_n: this.confi_4,
        max_i: this.confi_3
      };

      this.disableButtonConfi = true;
      this.$api.post('/configuracion', datos)
        .then(this.axiosThen, this.axiosCatch);
    },
     notify() {
      this.notificacion = !this.notificacion;
      this.$router.push('/Notifications');
    },
    salir() {
      this.$store.dispatch('auth/salir')
        .then(() => this.$router.push('/Login'))
    },
     Perfil() {
        this.$router.push('/Perfil')
    },
     configuracion() {
        this.$router.push('/Configuracion')
    },
    Contraseña() {
        this.$router.push('/Cambiar_contraseña')
    },
    axiosThen() {
      this.disableButtonConfi = false;
      this.$q.notify('Configuración actualizada');
      this.dialog_configuracion = false;
    },
    axiosCatch(err) {
      this.disableButtonConfi = false;
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else
        this.$q.notify('Ocurrió un error')
    },
  },


}
</script>
