<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <title>Recuperación de contraseña | Transporte Enviaxa</title>


</head>
<body style="background-color: #EEE;">
  <table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
    <tr>
      <td style="background-color:#3d6ce0;text-align: -webkit-center; padding: 10px;">
  
        <img style="padding: 0; display: block" src="https://i.postimg.cc/mkKY94kS/logo-blanco.png" width="40%">
          
  
      </td>
    </tr>
  
    <tr>
      <td style="padding: 0;background-color:white;text-align: -webkit-center;">
  
        <h4 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  >Somos mucho más que transporte, gestora de envíos, mensajería, paquetería, palet, etc. Nacional e internacional </h4>
      </td>
    </tr>
  
    <tr>
      <td style="padding: 0;background-color:white;text-align: -webkit-center;" >
        <div style="text-align: center;color: #3d6ce0;">
          <h1 style="margin:0px;font-weight:bold" >Señor(@) <%= nombre %></h1>
          <h2 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  > Estás viendo este correo porque hemos recibido una solicitud de cambio de contraseña para tu cuenta. Sigue el enlace para cambiar tu contraseña.</h2>
        </div>
  
         <div style="text-align: center;margin-top:30px;margin-bottom: 30px;">
          <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db" href="<%= enlace %>" class="action-button">Cambiar Contraseña</a>
        </div>
      </td>
    </tr>
  
    <tr>
      <td style="background-color:white" >
        
        
      </td>
    </tr>
  
  </table>
</body>
</html>
