<template>
<div>


  <q-table
    ref="QTable"
    :title="title"
    :data="table_data"
    :columns="columns"
    :row-key="rowKey"
    :filter="filter"
    :expanded="expanded"
    :loading="loading"
    :pagination.sync="pagination"
    :loading-label="loadingLabel"
    @request="onRequest"

    :rows-per-page-label="rowsPerPageLabel"
    :no-results-label="noResultsLabel"
    :no-data-label="noDataLabel"
  >

    <template class="w-100" v-slot:top-left>
      <div class="row">


        <div v-if="!ocultarSelects" class="col-6 col-sm-9 col-md-9 ">
          <q-input borderless dense debounce="300" v-model="filter" class="input_txt" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        </div>
        <div v-if="ocultarSelects" class="col-6 col-sm-3 col-md-3 ">
          <q-input borderless dense debounce="300" v-model="filter" class="input_txt" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        </div>

        <div v-if="ocultarSelects" class="col-6 col-sm-3 col-md-3 q-pl-sm flex item-center flex-center ">
          <q-select placeholder="" v-model="domiciliazacion"  borderless  class=" w-100  input_txt" :options="domiciliaciones" option-value="id" option-label="nombre" label="Domiciliación bancaria" map-options emit-value>
          </q-select>
        </div>
        <div v-if="ocultarSelects" class="col-6 col-sm-3 col-md-3 q-pl-sm  flex item-center flex-center ">
          <q-select placeholder="" v-model="tiponivel"  borderless  class=" w-100  input_txt" :options="niveles" option-value="id" option-label="nombre" label="Nivel cliente" map-options emit-value>
          </q-select>
        </div>

        <div class="col-6 col-sm-3 col-md-3  flex item-center flex-center ">
        <q-btn v-if="!ocultarAgregar" icon="add" label="Agregar" @click="onClickAdd"  size="md" class="cl_standar rounded " >
          <q-tooltip content-class="hide-sm bg-grey " >
              {{ config.tooltip_agregar || 'Agregar' }}
            </q-tooltip>
        </q-btn>
      </div>

      </div>




    </template>

    <template v-slot:header="props">
      <q-tr :props="props">
        <q-th auto-width />
        <q-th
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          {{ col.label }}
        </q-th>
      </q-tr>
    </template>


    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td auto-width>
          <q-btn v-if="!ocultarOpciones" size="sm" class="cl_standar" color="accent" round dense @click="toggleExpanded(props.row.id)" :icon="props.expand ? 'remove' : 'add'" >
            <q-tooltip content-class="hide-sm bg-grey " >
              Opciones
            </q-tooltip>
          </q-btn>
        </q-td>
        <q-td
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          {{ col.value }}
          <span v-if="col.label=='Domiciliación bancaria'">
            <q-checkbox v-model="props.row.dom_ban" @input="cambiardomiciliazacion(props.row)" color="cyan" ></q-checkbox>
          </span>
          <span v-if="col.label=='Cliente nivel 1'">
            <q-checkbox v-model="props.row.nivel_1" @input="cambiarclientenvl(props.row)" color="cyan" ></q-checkbox>
          </span>
        </q-td>
      </q-tr>
      <q-tr v-show="props.expand" :props="props">
        <q-td colspan="100%">
          <div class="text-left">
          <q-btn v-if="!ocultarVer" icon="visibility" size="sm" @click="onClickSee(props.row)" round class="cl_standar q-ma-xs " >
            <q-tooltip content-class="hide-sm bg-grey " >
              Ver
            </q-tooltip>
          </q-btn>
          <q-btn v-if="!ocultarEditar" icon="create" @click="onClickEdit(props.row)" size="sm" round class="cl_standar q-ma-xs " >
            <q-tooltip content-class="hide-sm bg-grey " >
              Editar
            </q-tooltip>
          </q-btn>
          <q-btn v-if="!ocultarEliminar" icon="delete_forever" @click="onClickDelete(props.row)" size="sm" round class="cl_standar q-ma-xs " >
            <q-tooltip content-class="hide-sm bg-grey " >
              Eliminar
            </q-tooltip>
          </q-btn>
          <!-- Boton aprobar cliente -->
           <q-btn v-if="mostrarAprobar(props.row)" icon="done" @click="onClickAprobar(props.row)" size="sm" round class="cl_standar q-ma-xs " >
            <q-tooltip content-class="hide-sm bg-grey " >
             Aprobación
            </q-tooltip>
          </q-btn>

          <q-btn v-if="mostrarSeguimiento" icon="fas fa-truck-loading" @click="onClickSeguimiento(props.row)" size="sm" round class="cl_standar q-ma-xs " >
            <q-tooltip content-class="bg-grey" >
              Seguimiento
            </q-tooltip>
          </q-btn>

          </div>
        </q-td>
      </q-tr>
    </template>

  </q-table>

</div>
</template>


<script>
/**
 * Tabla de datos con funcion ajax basado en QTable
 * @DataTables
 */
export default {

name: 'DataTables',

props: {
  /**
   * Configuracion de la tabla
   * @value Object
   */
  config: {
    type: Object,
    required: false,
    default: () => {
      return {
        /**
         * Especifica la configuracion para recuperar datos
         *
         * @param {string|object} ajax - Para recuperar los datos
         * @param {string} ajax.url - Ruta para recuperar los datos
         * @param {string} [ajax.method=GET] - el metodo de la peticion
         * @param {object} [ajax.body={}] - el cuerpo de la peticion
         *
         * @value String, Object
         */
        ajax: null,

        /**
         * Tooltip para el boton agregar
         */
        tooltip_agregar: null,
      };
    },
  },

  /**
   * Determina si se muestra el boton aprobar
   *
   * @param {object} row - Los datos de la fila
   *
   * @value Function
   *
   * @return {true|false}
   */
  mostrarAprobar: {
    type: Function,
    required: false,
    default: () => false,
  },
  mostrarSeguimiento: {
    type: Boolean,
    required: false,
    default: false,
  },


  /**
   * Props de QTable, consultar documentacion
   */
  columns: {
    type: Array,
    required: true
  },
  ocultarSelects: {
    type: Boolean,
    required: false,
    default: false
  },
  ocultarAgregar: {
    type: Boolean,
    required: false,
    default: false
  },
  ocultarEliminar: {
    type: Boolean,
    required: false,
    default: false
  },
  ocultarVer: {
    type: Boolean,
    required: false,
    default: false,
  },
  ocultarEditar: {
    type: Boolean,
    required: false,
    default: false,
  },
  ocultarOpciones: {
    type: Boolean,
    required: false,
    default: false,
  },

  data: {
    type: Array,
    required: false,
    default: () => [],
  },
  title: {
    type: String,
    required: false,
    default: 'Tabla'
  },
  rowKey: {
    type: String,
    required: false,
    default: 'id',
  },
  rowsPerPageLabel: {
    type: String,
    required: false,
    default: 'Registros por página:',
  },
  noResultsLabel: {
    type: String,
    required: false,
    default: 'Sin coincidencias',
  },
  noDataLabel: {
    type: String,
    required: false,
    default: 'No hay información disponible',
  },
  loadingLabel: {
    type: String,
    required: false,
    default: 'Cargando...',
  },
  // pagination: {
  //   type: Object,
  //   required: false,
  //   default: () => {
  //     return {
  //       sortBy: 'desc',
  //       descending: false,
  //       page: 1,
  //       rowsPerPage: 10,
  //       rowsNumber: 10,
  //     };
  //   },
  // },
},

data() {
  return {
    filter: '',
    table_data: this.data,
    table_filter: '',
    expanded: [],
    loading: false,
    domiciliazacion:'',
    domiciliaciones:[{'id':'','nombre':'Todos'},{'id':'1','nombre':'Con Domiciliación bancaria'},{'id':'2','nombre':'Sin Domiciliación bancaria'}],
    tiponivel:'',
    niveles:[{'id':'','nombre':'Todos'},{'id':'3','nombre':'Cliente Nivel 1'},{'id':'2','nombre':'Cliente Registrado'}],
    pagination: {
      sortBy: 'desc',
      descending: false,
      page: 1,
      rowsPerPage: 5,
      rowsNumber: 102,
    },
  };
},

created() {
  this.onRequest({
    pagination: this.pagination,
    filter: undefined
  });
},

watch: {
  filter(v) {
    this.$emit('update:filtro', v);
  },
  domiciliazacion(){
    this.fetch();
  },
  tiponivel(){
    this.fetch();
  },
  table_data(d) {
    d.forEach((row, index) => {
      row.index = index + 1 + ((this.pagination.page-1) * this.pagination.rowsPerPage);
    });
  },

},

computed: {
  ajaxUrl(){
    if (!this.config.ajax)
      return false;

    if (typeof this.config.ajax === 'string') {
      return this.config.ajax;
    }
    if (typeof this.config.ajax === 'object' && typeof this.config.ajax.url === 'string') {
      return this.config.ajax.url;
    }

    return false;
  },
  ajaxMethod() {
    if (!this.config.ajax) {
      return false;
    }
    if (typeof this.config.ajax === 'object' && typeof this.config.ajax.method === 'string') {
      return this.config.ajax.method;
    }

    return 'GET';
  },
  ajaxBody() {
    if (!this.config.ajax || !this.config.ajax.body) {
      return {};
    }
    return this.config.ajax.body;
  },
  ajaxHeaders() {
    if (!this.config.ajax || !this.config.ajax.headers) {
      return {};
    }
    return this.config.ajax.headers;
  },
},

methods: {
  /**
   * Realizar peticion al servidor
   */
  fetch() {
    this.$refs.QTable.requestServerInteraction();
  },

  /**
   * Al hacer click en agregar
   */
  onClickAdd() { this.$emit('agregar') },

  /**
   * Al hacer click en ver
   * @property {object} row - Datos de la columna
   */
  onClickSee(row) { this.$emit('ver', row); },

  /**
   * Al hacer click en editar
   * @property {object} row - Datos de la columna
   */
  onClickEdit(row) { this.$emit('editar', row) },

  /**
   * Al hacer click en eliminar
   * @property {object} row - Datos de la columna
   */
  onClickDelete(row) { this.$emit('eliminar', row) },

  /**
   * Al hacer click en aprobar
   * @property {object} row - Datos de la columna
   */
  onClickAprobar(row) { this.$emit('aprobar', row) },

  /**
   * Al hacer click en seguimiento
   * @property {object} row - Datos de la columna
   */
  onClickSeguimiento(row) { this.$emit('seguimiento', row) },

  cambiardomiciliazacion(row) { this.$emit('domiciliazacion', row) },
  cambiarclientenvl(row) { this.$emit('clientenvl', row) },

  onRequest(props) {
    const { page, rowsPerPage, sortBy, descending } = props.pagination;
    const filter = props.filter;
    const domiciliazacion = this.domiciliazacion;
    const tiponivel = this.tiponivel;


    this.pagination.rowsPerPage = rowsPerPage;
    this.current_page = page - 1;
    this.loading = true;
    this.fetchFromServer(page-1, rowsPerPage, filter, domiciliazacion, tiponivel)
      .then(data => {
        if (data.results) {
          this.table_data.splice(0, this.table_data.length, ...data.results);
          this.pagination.page = page;
          this.pagination.rowsNumber = data.total;
        }
      })
      .finally(() => { this.loading = false });
  },

  fetchFromServer(page, pageSize, filter, domiciliazacion, tiponivel, sortBy, descending) {
    return new Promise((resolve, reject) => {
      if (!this.ajaxUrl) return reject();

      const params = {
        page,
        pagesize: pageSize,
        filter,
        domiciliazacion,
        tiponivel
      };

      this.$api.get(this.ajaxUrl, {params})
        .then(resp => resolve(resp.data))
        .catch(reject);
    });
  },
  toggleExpanded (val) {
    this.expanded = this.expanded[0] === val ? [] : [val]
  }
},



}</script>
