<template>
  <div class="color-fondo-claro" >
    <div class="row">
      <div class="col-12 flex flex-center">
        <div
          class="flex flex-center soft-border w-70 q-mt-lg color-layout q-pa-md"
        >
          <img
            :src="item.img_inv"
            class="img-detalle-producto soft-border"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="q-pa-md">
          <p class="m-0 text-white desc-producto">{{ item.nom_pro }}</p>
          <p class="m-0 font-xl text-orange-10">
            Codigo: <span class="text-orange"> {{ item.cod_inv }} </span>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 flex flex-center">
        <p
          class="m-0 desc-producto text-orange border q-pa-md w-70 flex flex-center"
        >
          {{ item.pre_ven_inv * item.dolar }} Bs.S
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 flex flex-center">
        <div class="flex item-center">
          <div class="flex item-center">
            <q-btn
              icon="add"
              size=""
              round
              class="cl_standar rounded circle"
            ></q-btn>

            <p class="q-mt-md q-mb-md desc-producto text-white q-ml-md q-mr-md">
              1
            </p>

            <q-btn
              icon="remove"
              size=""
              round
              class="cl_standar rounded circle"
            ></q-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <q-btn class="cl_standar w-40 soft-border">Añadir</q-btn>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <q-btn @click="$emit('cerrar')" class="cl_standar w-40 soft-border">Cerrar</q-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DetallesProducto',
  props: ['item']
}
</script>
