<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="color-layout" elevated>
      <q-toolbar class="flex content-between item-center" >
        <q-btn
         class="cl_standar"
          v-if="logueado"
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <div v-else style="width: 56px; height: 36px;"></div>

        <q-img
          src="../../public/img/logo-reigo.jpg"
          style="width: 100px"
          class=""
        >
        </q-img>

         <!-- <q-img
          src="../../public/img/icono.png"
          style="width: 11%"
          class=""
        >
        </q-img> -->

       <q-btn
         class="cl_standar"
          dense
          round
          icon="notifications_active"
          to="/Notifications"
        />

      <!-- Carrito en header
        <div v-if="true" style="right: 8px;">
          <a @click="clickCarrito" class="clr_white"><i class="fa fa-shopping-cart"></i>
            <q-btn
              flat
              dense
              round
              aria-label="Shopping cart"
              icon="shopping_cart"
            />
            <span> ({{ itemsCarrito }})</span>
          </a>
        </div>
        <div v-else style="width: 56px; height: 36px;"></div>
      -->

      </q-toolbar>
    </q-header>

    <q-drawer
      v-if="logueado"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="fondo-dark"
      class="fondo-dark"
    >
        <q-img
          src="../../public/img/screen.png"
          style="width: 100%;"
        >
          <div class="absolute-bottom cl_standar text-subtitle1 text-center">
            Ayudando a construir el futuro
          </div>
        </q-img>

      <q-list>
        <q-item-label
          header
          class="pt-0"
        >
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          class="font-xl text-white"
        />
         <div class="flex item-center">
          <q-btn class="text-white" flat rounded  icon="crop_original" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" @click="publicidadDialog = true" >publicidad</p>
        </div>
        <div class="flex item-center">
          <q-btn class="text-white" flat rounded  icon="undo" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" @click="Exit()" >Salir</p>
        </div>
      </q-list>

          <div class="fixed-logo-plade q-mt-md ">
            <div class="">
              <p class="q-ml-lg mb-0 text-white ">Creado por:</p>
               <q-img
                src="../../public/img/logo-blanco.png"
                style="width: 100px"
                class=""
                @click="Logo()"
              >
              </q-img>
            </div>
          </div>
        
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

     <q-footer elevated>
      <q-toolbar class="toolbar color-layout" >
        <q-toolbar-title>
          <div class="row text-center">
            <div class="col" v-for="(par,index) in paresIconoEnlace" :key="index">
              <q-btn push round class="rounded cl_standar"
                :icon="par.icono"
                :to="par.enlace"
                @click="clickFooterIcon(par, index)" />
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
     </q-footer>

     <!-- carrusel de publicidad -->
    <q-dialog class="fondo-dark q-mb-xl" maximized v-model="publicidadDialog">
      <q-card class="fondo-dark q-mb-xl w-100" >
        <q-card-section v-if="publicidad.length > 0" style="position:absolute; top:0;z-index:2" class="flex w-100 text-white content-between item-center p-0 q-mb-md " >
          <div class="w-5"></div>

          <p class="m-0 font-xl text-white q-pt-sm " ></p>

          <q-btn flat label="x" color="cl_standar" v-close-popup />
        </q-card-section>

        <q-card-section v-if="publicidad.length == 0" style="position:absolute; top:0;z-index:2" class="flex w-100 text-white content-between item-center p-0 q-mb-md " >
          <div class="w-5"></div>

          <q-btn flat label="x" color="cl_standar" v-close-popup />

          <div class="w-100 text-center row" style="position: absolute; top: 0; margin-top: 100%; z-index: 2; display: flex;">
            <p class="col-12 text-white" style="font-size: 1rem">No hay publicidad para mostrar en este momento</p>
          </div>

        </q-card-section>

         <!-- carrusel -->
       <q-carousel
        v-if="publicidad.length > 0"
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        swipeable
        animated
        control-color="white"
        padding
        arrows
        height="auto"
        class="fondo-dark text-white shadow-1 rounded-bottom  q-mb-lg"
        style="padding:0 !important"
      >
        <q-carousel-slide v-for="(item, index) in publicidad" :key="index" :name="posicion(index)" style="padding:0 !important" class=" P-0 column no-wrap flex-center ">
          <q-img :src="api + item.img" class="img-publicidad" >
          <div class="text-center   w-100  ">
             <h5 class="m-0" >{{item.titulo}}</h5>

             <p class="mb-0 font-md q-mt-lg " >{{item.texto}}</p>

          </div>

          <div style="position:absolute; bottom:0;z-index:2" class="text-center w-100">
            <a :href="item.link" class="mb-0 text-white" style="text-decoration: none;"> IR AL ENLANCE</a>
          </div>

          </q-img>
        </q-carousel-slide>
         </q-carousel>
      <!-- carrusel --> 
      </q-card>
    </q-dialog>
    <!-- carrusel de publicidad -->


  </q-layout>
</template>


<script>
import EssentialLink from 'components/EssentialLink.vue'
import { API_URL } from '../config'
 
const linksData = [
  {
    title: 'Inicio',
    // caption: 'quasar.dev',
    icon: 'home',
    link: '/home'
  },
   {
    title: 'Favoritos',
    // caption: 'quasar.dev',
    icon: 'star',
    link: '/favoritos'
  }, 
  {
    title: 'Perfil',
    // caption: 'quasar.dev',
    icon: 'person',
    link: '/Perfil'
  },
   {
    title: 'Carrito',
    // caption: 'quasar.dev',
    icon: 'shopping_cart',
    link: '/carrito'
  },
  // {
  //   title: 'Perfil',
  //   caption: 'quasar.dev',
  //   icon: 'person',
  //   link: '/perfil'
  // }
]

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      slide: 'style',
      publicidadDialog: false,
      publicidad: [],
      leftDrawerOpen: false,
      api: API_URL,
      essentialLinks: linksData,
      itemsCarrito: 2,
      footer_iconos: ['home', 'search', 'star_outline', 'shopping_cart'],
      footer_enlaces: ['/home', '', '', ''],

      footer: [
        {icono: 'home', enlace: '/home'},
        {icono: 'chat', enlace: null},
        {icono: 'star', enlace: '/favoritos'},
        {icono: 'crop_original', enlace: null},
        {icono: 'shopping_cart', enlace: '/carrito'},
      ],
    }
  },

  computed: {
    logueado(){ return this.$store.getters['auth/logueado'] },

    enlaces(){ return this.footer_enlaces },

    iconos(){ return this.footer_iconos },

    paresIconoEnlace(){
      return this.footer;
      // return this.iconos.map((icono, i) => {
      //   return {icono, enlace: this.enlaces[i]};
      // });
    },
  },


  methods: {
     Exit(){
     window.navigator.app.exitApp();
     },
    Logo(){
     window.open('https://pladecompany.com/');
    },
    clickCarrito(){
      console.log('clickCarrito');
    },

    posicion(index) {
      if(index == 0) {
        return 'style'
      } else {
        return `style${index}`
      }
    },

    clickFooterIcon(par, index){
      const {icono, enlace} = par;
       if(index == 1){
         //this.$router.push('login');
         //Tawk_API.toggle();
         var url = "https://tawk.to/chat/5f73cf5d4704467e89f35d33/default";
         document.addEventListener("deviceready", function() {
             url = "https://tawk.to/chat/5f73cf5d4704467e89f35d33/default";
             window.cordova.InAppBrowser.open(url, '_blank', 'location=no');
         });
      }
      
      if(index == 3){
        this.publicidadDialog = true
      }

      if(enlace) {
        this.$router.push(enlace);
      }
      

      console.log('click:', icono);
    },

    getPublicidad(){
      this.$api
        .get(`${API_URL}publicidad/`)
        .then((publicidad) => {
          this.publicidad = publicidad.data;
          console.log(this.publicidad)
          console.log(typeof(this.publicidad))
        }).catch(err => {
          this.publicidad = []
      })
  },
},

  beforeMount() {
    this.getPublicidad()
  }
}
</script>
