<template>
  <q-layout view="lHh Lpr lFf">

    <div style="border-bottom:1px solid black;z-index:99" class="absolute-top bg-blue flex content-end item-center ">
      <p class="text-white bold font-xl mb-0" v-if="logueado">Bienvenido(@) {{ nombreUsuario }}</p>
      <q-btn v-if="logueado " @click="Historico = true" icon="history" color="orange" round class="q-ma-sm text-white  ">
        <q-tooltip content-class="cl_standar hide-sm "> Histórico de envíos </q-tooltip>
      </q-btn>
      <div v-if="logueado" class="relative">
        <q-btn :icon=" menu ? 'keyboard_arrow_up' : 'keyboard_arrow_down'" @click="menu =  !menu , hide = true "
          class="q-ma-sm text-white" round color="orange">
          <q-tooltip content-class="cl_standar hide-sm"> Opciones </q-tooltip>
        </q-btn>
        <div v-if="hide" :class="menu ? 'animate__bounceInDown' : 'animate__bounceOutUp' "
          class="absolute-menu animate__animated  animate__fast 800ms ">
          <q-btn @click="nuevoCliente = true" icon="person" round color="orange" class="q-ma-sm text-white  ">
            <q-tooltip content-class="cl_standar hide-sm"> Perfil </q-tooltip>
          </q-btn>
          <q-btn icon="lock" @click="dialogContraseña = true" color="orange" round class="q-ma-sm text-white  ">
            <q-tooltip content-class="cl_standar text-center hide-sm"> Cambiar <br> contraseña </q-tooltip>
          </q-btn>
          <q-btn @click="dialogSalir=true" icon="logout" color="orange" round class="q-ma-sm text-white  ">
            <q-tooltip content-class="cl_standar hide-sm "> Salir </q-tooltip>
          </q-btn>
        </div>
      </div>
      <q-btn v-if="!logueado" @click="dialogCliente=true" icon="login" color="orange" round class="q-ma-sm text-white  ">
        <q-tooltip content-class="cl_standar hide-sm "> Ingresar </q-tooltip>
      </q-btn>
    </div>


    <!-- Cambiar contraseña -->

    <q-dialog :persistent="true" v-model="dialogContraseña">
      <q-card class="no-max-width w-100-md w-100-sm w-30">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">
            <div class="col-2 w-100  text-right ">
            </div>
            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Cambiar contraseña</p>
            </div>
            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogContraseña = false" flat label="x">
              </q-btn>
            </div>
          </div>
        </q-card-section>
        <div class="col-12 q-mt-md flex flex-center q-pa-md ">
          <p class="mb-0 w-100 font-xl">Contraseña actual</p>
          <q-input v-model="contraseña_a" class=" w-100 w-100-md input_txt q-pr-sm " borderless
            :type="isPwd1 ? 'password' : 'text'" :no-error-icon="true">
            <template v-slot:append>
              <q-icon :name="isPwd1 ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                @click="isPwd1 = !isPwd1" />
            </template>
          </q-input>
        </div>
        <div class="col-12 flex flex-center q-pa-md q-pt-none ">
          <p class="mb-0 w-100 font-xl">Contraseña nueva</p>
          <q-input v-model="contraseña_n" :rules="[v => v && v.length>7 || 'Mínimo 8 caracteres']" :no-error-icon="true"
            class=" w-100 w-100-md input_txt q-pr-sm " borderless
            :type="isPwd2 ? 'password' : 'text'">
            <template v-slot:append>
              <q-icon :name="isPwd2 ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                @click="isPwd2 = !isPwd2" />
            </template>
          </q-input>
        </div>
        <div class="col-12  flex flex-center q-pa-md q-pt-none ">
          <p class="mb-0 w-100 font-xl">Confirmar contraseña</p>
          <q-input v-model="contraseña_c" class=" w-100 w-100-md input_txt q-pr-sm " borderless
            :type="isPwd3 ? 'password' : 'text'">
            <template v-slot:append>
              <q-icon :name="isPwd3 ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                @click="isPwd3 = !isPwd3" />
            </template>
          </q-input>
        </div>
        <div class="row w-100  q-pa-md">
          <div class="col-12 text-center ">
            <q-btn class=" text-white q-mr-md " color="orange" :disabled="disableButton" label="Cambiar"
              @click="cambiarPass">
            </q-btn>
            <q-btn class=" text-white q-mr-md " color="orange" label="Cancelar" @click="dialogContraseña = false">
            </q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>


    <!-- moodal salir -->

    <q-dialog :persistent="true" v-model="dialogSalir">
      <q-card class="no-max-width w-100-md w-100-sm w-40">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">
            <div class="col-2 w-100  text-right ">
            </div>
            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Cerrar sesión</p>
            </div>
            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogSalir = false" flat label="x"></q-btn>
            </div>
          </div>
        </q-card-section>
        <div class="col-12 q-mt-md flex flex-center q-pa-md ">
          <p class="mb-0 w-100 text-center bold font-xl">¿Está seguro que desea cerrar sesión?</p>
        </div>
        <div class="row w-100  q-pa-md">
          <div class="col-12 text-center ">
            <q-btn class=" text-white q-mr-md " color="orange" label="Si" @click="salir">
            </q-btn>
            <q-btn class=" text-white q-mr-md " color="orange" label="No" @click="dialogSalir = false">
            </q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>


    <!-- modal registrar cliente -->
    <q-dialog maximized v-model="nuevoCliente">
      <q-card>
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">
            <div class="col-2 w-100  text-right ">
            </div>
            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Mi perfil</p>
            </div>
            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="nuevoCliente = false" flat label="x">
              </q-btn>
            </div>
          </div>
          <div class="row w-100 flex q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">DNI/Pasaporte</p>
              <q-input type="text" placeholder="Introduzca el nombre del documento" v-model="cliente_dni" borderless
                class=" w-100 input_txt"
                :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El DNI debe tener de 9 a 12 caracteres']"
                @input.native="onInputDni">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Nombre</p>
              <q-input type="text" placeholder="Introduzca su nombre" v-model="cliente_nombre" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Empresa (opcional)</p>
              <q-input type="text" placeholder="Introduzca el nombre de la empresa" v-model="cliente_empresa" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Email</p>
              <q-input type="email" placeholder="Introduzca el email" v-model="cliente_email" :rules="[ correoValido ]"
                borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-2 col-md-2 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Código</p>
              <q-select placeholder="" v-model="cliente_codigo" borderless class=" w-100  input_txt"
                :options="codpaises" option-value="codigo_tlf" :option-label="row => unirnombrecod(row)" label="Seleccione" emit-value map-options :display-value="cliente_codigo" />
            </div>
            <div class="col-12 col-sm-4 col-md-4 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Teléfono</p>
              <q-input type="number" min="0" placeholder="Introduzca el numeró de teléfono" v-model="cliente_telefono"
                borderless class=" w-100 input_txt"
                :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El Teléfono debe tener de 9 a 12 caracteres']">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Dirección</p>
              <q-input type="text" placeholder="Introduzca la dirección" v-model="cliente_direccion" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" placeholder="Introduzca la localidad" v-model="Localidad" borderless
                class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">País</p>
              <q-select placeholder="" v-model="cliente_pais" borderless class=" w-100  input_txt"
                :options="paises" option-value="id" map-options emit-value option-label="nombre"
                label="Seleccione" />
            </div>
            <div v-if="cliente_pais==1" class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Provincia</p>
              <q-select placeholder="" v-model="cliente_provincia" borderless class=" w-100  input_txt"
                :options="provincias" map-options emit-value option-value="id" option-label="nombre"
                label="Seleccione">
              </q-select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Código postal</p>
              <q-input type="text" placeholder="Introduzca el código postal" v-model="cliente_codigo_post" borderless
                class=" w-100 input_txt" @input.native="onInputCodArea">
              </q-input>
            </div>
            <!--<div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Contraseña</p>
              <q-input v-model="cliente_contraseña" placeholder="Introduzca la contraseña"
                class=" w-100 w-100-md input_txt q-pr-sm " borderless :type="isPwd1 ? 'password' : 'text'">
                <template v-slot:append>
                  <q-icon :name="isPwd1 ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                    @click="isPwd1 = !isPwd1" />
                </template>
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Confirmar contraseña</p>
              <q-input v-model="cliente_contraseña_confirmar" placeholder="Confirme la contraseña"
                class=" w-100 w-100-md input_txt q-pr-sm " borderless :type="isPwd2 ? 'password' : 'text'">
                <template v-slot:append>
                  <q-icon :name="isPwd2 ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                    @click="isPwd2 = !isPwd2" />
                </template>
              </q-input>
            </div>-->
          </div>
        </q-card-section>
        <div class="  row w-100 q-pa-md ">
          <div class="col-6 w-100  text-right ">
            <q-btn class=" text-white q-mr-md" :disabled="disableButton" @click="editar" color="orange" label="Guardar">
            </q-btn>
          </div>
          <div class="col-6 w-100   ">
            <q-btn class=" text-white q-ml-md " @click="nuevoCliente = false" color="orange" label="Cancelar"></q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>

    <!-- modal historico -->

    <q-dialog maximized v-model="Historico">
      <q-card>
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">
            <div class="col-2 w-100  text-right ">
            </div>
            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Envíos realizados</p>
            </div>
            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="Historico = false" flat label="x">
              </q-btn>
            </div>
          </div>
          <div class="row w-100 flex q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">
            <div class="col-12">
              <data-tables
                ref="tabla"
                :columns="columns"
                :config="configDataTable"
                no-results-label="No hay coincidencias"
                @ver="clickVer"
                loading-label="Cargando..."
              />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>



    <!--  -->
    <!-- Modal ver envio -->
    <q-dialog maximized v-model="Verenvio">
      <q-card>
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">
            <div class="col-2 w-100  text-right ">
            </div>
            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Envío #{{ index }} / Código: {{ codigo }}</p>
            </div>
            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="Verenvio = false" flat label="x">
              </q-btn>
            </div>
          </div>

          <div class="row w-100   q-pl-md q-pr-md   ">
            <div class="col-12 q-mt-md">
              <p class="mb-0 titulos clr-enviaxa bold ">Remitente</p>
            </div>
            <q-separator color="orange"></q-separator>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">DNI/pasaporte/CIF/NIF</p>
              <q-input type="text" readonly v-model="dni" borderless class=" w-100 input_txt">
              </q-input>
            </div>
           <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Nombre {{es_cliente_empresa?'empresa':''}}</p>
              <q-input type="text" readonly v-model="nombre_remitente" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div v-if="es_cliente_empresa" class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Contacto</p>
              <q-input type="text" readonly v-model="nombre_contacto_remitente" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">País</p>
              <q-input type="text" readonly v-model="pais_origen" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Provincia</p>
              <q-input type="text" readonly v-model="provincia_origen" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Dirección</p>
              <q-input type="text" readonly v-model="direccion_origen" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" readonly v-model="localidad_origen" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Código postal</p>
              <q-input type="number" readonly v-model="cp_origen" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Correo electrónico</p>
              <q-input type="mail" readonly v-model="correo_remitente" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Teléfono</p>
              <q-input type="text" readonly v-model="telefono_remitente" borderless class=" w-100 input_txt">
              </q-input>
            </div>
          </div>

          <div class="row w-100 q-pl-md q-pr-md   ">
            <div class="col-12 q-mt-md ">
              <p class="mb-0 titulos clr-enviaxa bold ">Destinatario</p>
            </div>
            <q-separator color="orange"></q-separator>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Nombre {{es_destinatario_empresa?'empresa':''}}</p>
              <q-input type="text" readonly v-model="nombre_destinatario" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div v-if="es_destinatario_empresa" class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Contacto</p>
              <q-input type="text" readonly v-model="nombre_contacto_destinatario" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">País</p>
              <q-input type="text" readonly v-model="pais_destino" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Provincia</p>
              <q-input type="text" readonly v-model="provincia_destino" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Dirección</p>
              <q-input type="text" readonly v-model="direccion_destino" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" readonly v-model="localidad_destino" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Código postal</p>
              <q-input type="number" readonly v-model="cp_destino" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Correo electrónico</p>
              <q-input type="mail" readonly v-model="correo_destinatario" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Teléfono</p>
              <q-input type="text" readonly v-model="telefono_destinatario" borderless class=" w-100 input_txt">
              </q-input>
            </div>
          </div>

          <div class="row w-100  q-pl-md q-pr-md   ">
            <div class="col-12 q-mt-md">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Paquete <q-icon name="fas fa-box"
                  class=" q-ml-sm titulos clr-enviaxa">
                </q-icon>
              </p>
            </div>
            <q-separator color="orange"></q-separator>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Peso total</p>
              <q-input type="number" readonly v-model="pesoTotalBultos" borderless class=" w-100 input_txt">
                <template v-slot:append>
                  <span style="font-size: 20px;" class="q-mr-sm">Kg</span>
                </template>
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Unidades</p>
              <q-input type="text" readonly v-model="cantidadBultos" borderless class=" w-100 input_txt">
              </q-input>
            </div>
          </div>



          <div class="row w-100  q-pl-md q-pr-md   ">
            <div class="col-12 q-mt-md">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Bultos
              </p>
            </div>
            <q-separator color="orange"></q-separator>
            <div class="row" v-for="bulto in bultos">
              <div class="col-12 col-sm-6 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 ">Fondo</p>
                <q-input type="number" readonly v-model="bulto.fondo" borderless class=" w-100 input_txt">
                  <template v-slot:append>
                    <span style="font-size: 20px;" class="q-mr-sm">cm</span>
                  </template>
                </q-input>
              </div>
             <div class="col-12 col-sm-6 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 ">Alto</p>
                <q-input type="number" readonly v-model="bulto.alto" borderless class=" w-100 input_txt">
                  <template v-slot:append>
                    <span style="font-size: 20px;" class="q-mr-sm">cm</span>
                  </template>
                </q-input>
              </div>
             <div class="col-12 col-sm-6 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 ">Ancho</p>
                <q-input type="number" readonly v-model="bulto.ancho" borderless class=" w-100 input_txt">
                  <template v-slot:append>
                    <span style="font-size: 20px;" class="q-mr-sm">cm</span>
                  </template>
                </q-input>
              </div>
             <div class="col-12 col-sm-6 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 ">Peso</p>
                <q-input type="number" readonly v-model="bulto.peso" borderless class=" w-100 input_txt">
                  <template v-slot:append>
                    <span style="font-size: 20px;" class="q-mr-sm">Kg</span>
                  </template>
                </q-input>
              </div>
          </div>
          </div>



          <div class="row w-100   q-pl-md q-pr-md   ">
            <div class="col-12 q-mt-md ">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Fecha y hora</p>
            </div>
            <q-separator color="orange"></q-separator>
            <!--<div class="col-12 col-sm-6 col-md-3 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Monto a pagar</p>
              <q-input type="number" readonly v-model="monto_a_pagar" borderless class=" w-100 input_txt">
              </q-input>
            </div>-->
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Servicio</p>
              <q-input type="text" readonly v-model="modalidad" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Fecha de recogida</p>
              <q-input type="text" readonly v-model="fecha_recogida" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Momento de recogida</p>
              <q-input type="text" readonly v-model="momento_recogida" borderless class=" w-100 input_txt">
              </q-input>
            </div>
          </div>

          <div class="row w-100   q-pl-md q-pr-md   ">
            <div class="col-12 q-mt-md ">
              <p class="mb-0 titulos clr-enviaxa flex item-center bold ">Pago</p>
            </div>
            <q-separator color="orange"></q-separator>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Metodo de pago</p>
              <q-input type="text" readonly v-model="metodo_pago" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Importe</p>
              <q-input type="number" readonly v-model="importe_pago" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 q-pl-sm q-mt-md q-pr-sm  ">
              <p class="mb-0 w-100 ">Referencia</p>
              <q-input type="text" readonly v-model="referencia_pago" borderless class=" w-100 input_txt">
              </q-input>
            </div>
            <div class="col-12 q-mt-md ">
              <p class="mb-0 titulos clr-enviaxa bold ">Seguimiento</p>
            </div>
            <q-separator color="orange"></q-separator>
          </div>

          <div class="row w-100  q-pl-md q-pr-md  q-mb-xl ">
            <div class="col-12 row flex item-center ">
              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 ">Observación</p>
                <q-input :dense="true" readonly autogrow v-model="observacion_seguimiento" borderless class=" w-100 select_grow">
                </q-input>
              </div>
              <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm  ">
                <p class="mb-0 w-100 ">URL para el seguimiento del envío</p>
                <q-input :dense="true" readonly autogrow v-model="url_seguimiento" borderless class=" w-100 select_grow">
                </q-input>
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>


    <!-- moodal cliente registrado -->
    <q-dialog :persistent="true" v-model="dialogCliente">
      <q-card class="no-max-width w-100-md w-100-sm w-40">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Ingresar</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogCliente = false" flat
                label="x"></q-btn>
            </div>

          </div>
        </q-card-section>

        <div class="col-12 q-mt-md flex flex-center q-pa-md ">
          <p class="mb-0 w-100 font-xl">DNI/pasaporte</p>
          <q-input type="text" placeholder="Introduzca el DNI/pasaporte" v-on:keyup.enter="login"
            v-model="dni_buscar_cliente" borderless class=" w-100 w-100-md input_txt" :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El DNI debe tener de 9 a 12 caracteres']" @input.native="onInputDni">
          </q-input>
        </div>

         <div class="col-12  flex flex-center q-pa-md q-pt-none ">
          <p class="mb-0 w-100 font-xl">Contraseña</p>
          <q-input :type="isPwd ? 'password' : 'text'" placeholder="Introduzca su contraseña" v-on:keyup.enter="login"
            v-model="pass_cliente" borderless class=" w-100 w-100-md input_txt">
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
          </q-input>
        </div>
<!--
        <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
          <p class="mb-0 w-100 ">Contraseña</p>
            <q-input v-model="pass_cliente" v-on:keyup.enter="login" placeholder="Introduzca su contraseña" class=" w-100 w-100-md input_txt q-pr-sm "  borderless :type="isPwd ? 'password' : 'text'" >

            </q-input>
        </div>
 -->

        <div class="col-12 text-center "  >
          <p class="font-md pointer bold text-blue" @click="dialogRecuperar = true " >Olvidé mi contraseña</p>
        </div>

        <div class="row w-100  q-pa-md">
          <div class="col-12 text-center ">
            <q-btn class=" text-white q-mr-md " color="orange" :disabled="disableButton" label="Ingresar" @click="login">
            </q-btn>
            <q-btn class=" text-white q-mr-md " color="orange" label="Cancelar" @click="dialogCliente = false">
            </q-btn>
          </div>

        </div>
      </q-card>
    </q-dialog>



    <!-- modal recuperar contraseña -->
    <q-dialog :persistent="true" v-model="dialogRecuperar">
      <q-card class="no-max-width w-100-md w-100-sm w-40">
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">
            <div class="col-2 w-100  text-right ">
            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Recuperar contraseña</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogRecuperar = false" flat
                label="x"></q-btn>
            </div>

          </div>
        </q-card-section>

        <div class="col-12 q-mt-md flex flex-center q-pa-md ">
          <p class="mb-0 w-100 font-xl">Correo</p>
          <q-input type="text" placeholder="Introduzca el correo"
            v-model="correo" borderless class=" w-100 w-100-md input_txt" >
          </q-input>
        </div>

        <div class="row w-100  q-pa-md">
          <div class="col-12 text-center ">
            <q-btn class=" text-white  " color="orange" :disabled="disableButton" label="Enviar" @click="clickRecuperar">
            </q-btn>
          </div>
        </div>

      </q-card>
    </q-dialog>



    <!-- Completar registro -->
    <q-dialog  maximized v-model="dialogRegistro">
      <q-card>
        <q-card-section class="q-pt-none q-pb-none pl-0 pr-0 flex flex-center ">
          <div class="row bg-enviaxa w-100 ">

            <div class="col-2 w-100  text-right ">

            </div>

            <div class="col-8 w-100 flex flex-center item-center  text-center ">
              <p class=" mb-0 text-white font-xl ">Introduzca sus datos para el
                registro</p>
            </div>

            <div class="col-2 w-100  text-right ">
              <q-btn class="text-white font-xl " @click="dialogRegistro = false" flat
                label="x"></q-btn>
            </div>

          </div>

          <div
            class="row w-100 flex q-mt-lg q-mb-lg q-pl-md q-pr-md q-pb-md  ">

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">DNI/Pasaporte</p>
              <q-input type="text"
                placeholder="Introduzca el nombre del documento" :readonly="desactivar_dni" v-model="cliente_dni"
                borderless class=" w-100 input_txt" :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El DNI debe tener de 9 a 12 caracteres']" @input.native="onInputDni">

              </q-input>
            </div>

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-md q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Nombre</p>
              <q-input type="text" placeholder="Introduzca su nombre"
                v-model="cliente_nombre" borderless class=" w-100 input_txt">

              </q-input>
            </div>


            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Empresa (opcional)</p>
              <q-input type="text"
                placeholder="Introduzca el nombre de la empresa"
                v-model="cliente_empresa" borderless class=" w-100 input_txt">

              </q-input>
            </div>


            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Email</p>
              <q-input type="email" placeholder="Introduzca el email"
                v-model="cliente_email" :rules="[ correoValido ]" borderless class=" w-100 input_txt">

              </q-input>
            </div>

            <div class="col-12 col-sm-2 col-md-2 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Código</p>
              <q-select placeholder="" v-model="cliente_codigo" borderless class=" w-100  input_txt"
                :options="codpaises" option-value="codigo_tlf" :option-label="row => unirnombrecod(row)" label="Seleccione" emit-value map-options :display-value="cliente_codigo" />
            </div>

             <div class="col-12 col-sm-4 col-md-4 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
               <p class="mb-0 w-100 " >Teléfono</p>
               <q-input  type="number" min="0" placeholder="Introduzca el numeró de teléfono" v-model="cliente_telefono" borderless  class=" w-100 input_txt" :rules="[ val => val && val.length >= 9 && val.length <=12 || 'El Teléfono debe tener de 9 a 12 caracteres']">

                </q-input>
             </div>



            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Dirección</p>
              <q-input type="text" placeholder="Introduzca la dirección"
                v-model="cliente_direccion" borderless class=" w-100 input_txt">

              </q-input>
            </div>

             <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Localidad</p>
              <q-input type="text" placeholder="Introduzca la localidad"
                v-model="cliente_localidad" borderless class=" w-100 input_txt">

              </q-input>
            </div>

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">País</p>
              <q-select placeholder="" v-model="cliente_pais" borderless
                class=" w-100  input_txt" :options="paises" option-value="id"
                map-options emit-value
                option-label="nombre" label="Seleccione" />
            </div>

            <div v-if="cliente_pais==1"
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Provincia</p>
              <q-select placeholder="" v-model="cliente_provincia" borderless
                class=" w-100  input_txt" :options="_provincias" map-options emit-value
                option-value="id" option-label="nombre" label="Seleccione">

              </q-select>
            </div>


            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Código postal</p>
              <q-input type="text" placeholder="Introduzca el código postal"
                v-model="cliente_codigo_post" borderless class=" w-100 input_txt"
                @input.native="onInputCodArea"
              >

              </q-input>
            </div>

            <div class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Contraseña</p>
                <q-input v-model="cliente_contraseña" placeholder="Introduzca la contraseña" class=" w-100 w-100-md input_txt q-pr-sm "  borderless :type="isPwd1 ? 'password' : 'text'" >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd1 ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd1 = !isPwd1"
                      />
                    </template>
                </q-input>
            </div>

            <div
              class="col-12 col-sm-6 col-md-6 q-pl-sm q-mt-lg q-pr-sm flex flex-center ">
              <p class="mb-0 w-100 ">Confirmar contraseña</p>
                <q-input v-model="cliente_contraseña_confirmar" placeholder="Confirme la contraseña"  class=" w-100 w-100-md input_txt q-pr-sm "  borderless :type="isPwd2 ? 'password' : 'text'" >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd2 ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd2 = !isPwd2"
                      />
                    </template>
                </q-input>
            </div>

          </div>
        </q-card-section>


        <div class="  row w-100 q-pa-md ">
          <div class="col-6 w-100  text-right ">
            <q-btn class=" text-white q-mr-md" color="orange" label="Guardar" :disabled="disableButton" @click="registrarCliente" >
            </q-btn>
          </div>
          <div class="col-6 w-100   ">
            <q-btn class=" text-white q-ml-md " color="orange" @click="dialogRegistro = dialogCliente = false"
              label="Cancelar"></q-btn>
          </div>
        </div>


      </q-card>
    </q-dialog>




    <q-page-container>
      <router-view @dialoglogin="abrirLogin" />
    </q-page-container>


  </q-layout>
</template>


<script>
import EssentialLink from 'components/EssentialLink.vue'
import { API_URL } from '../config'
import { openURL } from 'quasar'
import checkEmail from '../lib/checkEmail';
import extraerDigitos from '../lib/extraerDigitos'
import DataTables from '../components/DataTables'
import moment from 'moment'

const linksData = [
  {
    title: 'Home',
    // caption: 'quasar.dev',
    icon: 'home',
    link: '/Conexionestablecida'
  },
  // {
  //   title: 'Logs',
  //   // caption: 'quasar.dev',
  //   icon: 'description',
  //   link: '/Logs'
  // },
  // {
  //   title: 'Go to website',
  //   // caption: 'quasar.dev',
  //   icon: 'language',
  //   link: '/Perfil'
  // },
  //  {
  //   title: 'Send suggestion',
  //   // caption: 'quasar.dev',
  //   icon: 'textsms',
  //   link: 'https://web.whatsapp.com/'
  // },
  // {
  //   title: 'Perfil',
  //   caption: 'quasar.dev',
  //   icon: 'person',
  //   link: '/perfil'
  // }
]

export default {
name: 'MainLayout',

components: { EssentialLink , DataTables },


data () {
  return {
    codigo: null,
    index: null,
    isPwd: true,
    dialogSalir: false,
    dialogContraseña: false,
    dialogRecuperar: false,
    dialogRegistro: false,
    contraseña_a: null,
    menu: false,
    dni_buscar_cliente: null,
    disableButton:false,
    cliente_pais: null,
    cliente_provincia: null,
    cliente_nombre: null,
    cliente_telefono: null,
    cliente_email: null,
    cliente_empresa: null,
    cliente_codigo: null,
    cliente_codigo_post: null,
    cliente_dni: null,
    cliente_direccion: null,
    codigos_paises: null,
    cliente_localidad: null,
    codpaises:[],
    paises:[],
    provincias:[],
    dialogCliente: false,
    cliente_codigo_post:null,
    dni_buscar_cliente:null,
    filter: '',
    dni: '',
    nombre_remitente: '',
    pais_origen: '',
    provincia_origen: '',
    direccion_origen: '',
    localidad_origen: '',
    cp_origen: '',
    correo_remitente: '',
    telefono_remitente: '',
    nombre_destinatario: '',
    pais_destino: '',
    provincia_destino:'',
    direccion_destino: '',
    localidad_destino: '',
    cp_destino:'',
    correo_destinatario:'',
    telefono_destinatario: '',
    monto_a_pagar: 100,
    modalidad:'',
    bultos: null,
    fecha_recogida: '',
    momento_recogida:'',
    observacion_seguimiento:'',
    nombre_contacto_destinatario: '',
    nombre_contacto_remitente: '',
    url_seguimiento:'',
    Verenvio: false,
    Historico: false,
    // salir : false,
    correo: '',
    Localidad: '',
    es_destinatario_empresa: false,
    es_cliente_empresa: false,
    cliente_contraseña:'',
    cliente_contraseña_confirmar:'',
    // logueado: true,
    Recuperar: false,
    pass_cliente: '',
    isPwd1: true,
    contraseña_n: '',
    isPwd2: true,
    contraseña_c: '',
    isPwd3: true,
    contraseña: false,
    hide: false,
    menu: false,
    nuevoCliente: false,
    Verenvio: false,
    desactivar_dni: false,
    cliente_encontrado: null,
    metodo_pago: null,
    importe_pago: null,
    referencia_pago: null,
     /*columnss: [
      { name: 'ID', required: true, label: 'ID', align: 'center', field: 'ID' },
      { name: 'Codigo', required: true, label: 'Código', align: 'center', field: 'codigo_generado' },
      { name: 'Destinatario', required: true, label: 'Destinatario', align: 'center', field: 'nombre_destinatario' },
      { name: 'Fecha', required: true, label: 'Fecha de envío', align: 'center', field: 'fecha' },
    ],*/
    columns: [
      { name: '#', required: true, label: '#', align: 'center', field: row => row.index },
      { name: 'Código', required: true, label: 'Código', align: 'center', field: 'codigo_generado' },
      { name: 'Destinatario', required: true, label: 'Destinatario', align: 'center', field: 'nombre_destinatario' },
      { name: 'Fecha', required: true, label: 'Fecha de envío', align: 'center', field: row => moment(row.fecha_envio).format('DD-MM-YYYY') },
    ],
    configDataTable: {
      ajax: '/envio/cliente/'+this.$store.getters['cliente/datos']?.id,
    },
  }
},


computed: {
  nombre(){
    const data = this.$store.getters['auth/data']
    if (data && data.nombre) return data.nombre
    return ''
  },

  logueado() {
    return this.$store.getters['cliente/logueado'];
  },

  nombreUsuario() {
    return this.$store.getters['cliente/datos']?.nombre;
  },
  cantidadBultos() {
    return this.bultos ? this.bultos.length : 0;
  },

  pesoTotalBultos() {
    return this.bultos ?
      this.bultos.reduce((total, bulto) => total + bulto.peso, 0)
      : 0;
  },
},

created() {
  if(this.$store.getters['cliente/datos']){
    this.cargartodo();
  }
  else {
    this.cargarPaises();
  }
},
methods: {
  correoValido: checkEmail,

  onInputCodArea(evt) {
    evt.target.value = extraerDigitos(evt.target.value.length > 6 ? evt.target.value.substr(0,6) : evt.target.value);
  },
  onInputDni(evt) {
    evt.target.value = (evt.target.value.match(/[a-zA-Z0-9]/g) || []).join('');
    // evt.target.value = extraerDigitos(evt.target.value);
  },

  buscarCliente() {
    if (!this.dni_buscar_cliente)
      return this.$q.notify({message:'Introduzca su DNI', timeout:2000 , position: 'top-right'});

    this.disableButton = true;
    this.$api.get('/cliente/por-dni/' + this.dni_buscar_cliente)
      .then(resp => {
        this.cliente = resp.data;
        this.$store.commit('cliente/SET_DATOS', resp.data);
        // this.$store.dispatch('proceso/guardar_datos', this.getDatos());
        this.dialogCliente = this.tipoCliente = false;
        // this.$router.push('/Proceso');
        this.$q.notify('Bienvenido a Enviaxa.com, gracias por confiar en nosotros.');
        this.irAlProceso();
      })
      .catch(resp => {
        if(resp.response && resp.response.status == 404)
          this.$q.notify({message:'DNI no encontrado', timeout:1000 , position: 'top-right' });
        else
          this.$q.notify({message:'Ocurrió un error', timeout:1000 , position: 'top-right' });
      })
      .finally(() => { this.disableButton = false });
  },

  abrirLogin(data) {
    if (data) {
      this.dni_buscar_cliente = data.dni;
    }
    this.dialogCliente = true
  },

  login() {
    let err;
    if (!this.dni_buscar_cliente || !this.pass_cliente) {
      return;
    }
    this.disableButton = true;
    this.$store
      .dispatch('cliente/login', {dni:this.dni_buscar_cliente, pass:this.pass_cliente})
      .then(cli => {
        this.cargartodo();
        this.dialogCliente = this.disableButton = false;
      })
      .catch((err) => {
        this.disableButton = false;
        if (err?.response?.status == 401) {
          this.$q.notify('Datos incorrectos');
        }
        else if (err?.response?.status == 412) { // Precondition Failed. Completar registro.
          let cli = err.response.data;
          this.$q.notify('Registro incompleto');

          this.cliente_encontrado = cli;
          this.desactivar_dni = true;
          this.cliente_dni = this.dni_buscar_cliente;
          this.cliente_nombre = cli.nombre;
          this.cliente_email = cli.correo;
          this.cliente_telefono = cli.telefono;
          this.cliente_codigo = cli.cod_telefono;
          this.dialogRegistro = true;
        }
        else {
          this.$q.notify('Ocurrió un error');
        }
      });
  },

  salir() {
    this.$store.dispatch('cliente/salir');

    if (this.$route.name == 'Proceso') {
      this.$router.replace('/Intro');
    }
    this.dialogSalir = false;
  },

  cambiarPass() {
    let err;
    if (!this.contraseña_a)
      err = 'Ingrese la contraseña actual';
    else if (this.contraseña_n.length < 8)
      err = 'La contraseña debe tener mínimo 8 caracteres';
    else if (!this.contraseña_n)
      err = 'Ingrese la contraseña nueva';
    else if (this.contraseña_n !== this.contraseña_c)
      err = 'Las contraseñas no coinciden';

    if (err)
      return this.$q.notify(err);

    const data = {
      new_pass: this.contraseña_n,
      old_pass: this.contraseña_a,
      id_cliente: this.$store.getters['cliente/datos']?.id,
    };

    this.disableButton = true;
    this.$api
      .put('/auth/cambiar-pass-cli', data)
      .then(res => {
        this.disableButton = this.dialogContraseña = false;
        this.$q.notify('Datos actualizados');
      })
      .catch(err => {
        this.disableButton = false;
        if (err?.response?.status == 401)
          this.$q.notify('Contraseña anterior incorrecta');
        else
          this.$q.notify('Ocurrió un error');
      });
  },

  clickRecuperar() {
    if (!checkEmail(this.correo))
      return this.$q.notify('Ingrese su correo');

    this.disableButton = true;
    this.$api
      .post('/auth/recuperar-clave-cli', {correo:this.correo})
      .then(res => {
        this.disableButton = this.dialogRecuperar = false;
        this.$q.notify('Se ha enviado un correo de recuperación');
      })
      .catch(err => {
        this.disableButton = false;
        this.$q.notify('Ocurrió un error');
      });
  },

  buscarCliente() {},

  Logs(){
    this.$router.push('/Logs');
  },
  Suggestion(){
    window.open('https://www.paradorrojo.com/contact');
  },
  cargartodo(){
    this.configDataTable = {
      ajax: '/envio/cliente/'+this.$store.getters['cliente/datos']?.id,
    };
    this.cargarPaises();
    this.cargarProvincias();
    this.cargarData();
  },
  unirnombrecod : function(row){
    if(row)
      return row.codigo_tlf+' '+row.nombre;
    else
      return '';
  },
  cargarPaises(datos_api){
    this.$api.get('/pais/')
      .then(res => {
        this.paises = res.data;
        this.codpaises = res.data;
      });
  },
  cargarProvincias(datos_api){
    this.$api.get('/provincia/todas-cliente')
      .then(res => {
        this.provincias = res.data;
      });
  },
  cargarData(){
    if (!this.$store.getters['cliente/logueado']) {
      return;
    }
    this.$api.get('/cliente/'+this.$store.getters['cliente/datos']?.id)
      .then(res => {
        if(res.data){
          this.fillData(res.data);
        }else
          this.$q.notify('Error al cargar tu información')
      }).catch(err => {
        if (err.response && err.response.data)
          this.$q.notify('Error al cargar tu información');
        else
          this.$q.notify('Ocurrió un error')
    });
  },
  async fillData(row){
    //console.log(row);
    this.cliente_nombre = row.nombre;
    this.cliente_email = row.correo;
    this.cliente_dni = row.dni;
    this.cliente_telefono = row.telefono;
    this.cliente_direccion = row.direccion;
    this.cliente_codigo_post = row.codigo_postal;
    this.cliente_empresa = row.empresa;
    this.cliente_codigo = row.cod_telefono;
    this.Localidad = row.localidad;
    this.cliente_pais = '';
    this.cliente_provincia = '';
    if(row.id_pais){
      var obt_pais = this.paises.filter(p => p.id == row.id_pais);
      if(obt_pais[0])
        this.cliente_pais = obt_pais[0].id;
    }
    if(row.id_provincia){
      var obt_provincia = this.provincias.filter(p => p.id == row.id_provincia);
      if(obt_provincia[0])
        this.cliente_provincia = obt_provincia[0].id;
    }
  },
  editar(){
    const datos = {
      nombre: this.cliente_nombre,
      correo: this.cliente_email,
      dni: this.cliente_dni,
      cod: this.cliente_codigo,
      tlf: this.cliente_telefono,
      direccion: this.cliente_direccion,
      cp: this.cliente_codigo_post,
      empresa: this.cliente_empresa,
      pais: this.cliente_pais,
      provincia: this.cliente_provincia,
      localidad: this.Localidad
    };

    this.disableButton = true;
    this.$api.put('/cliente/perfil/'+this.$store.getters['cliente/datos']?.id, datos)
      .then(res => {
        this.disableButton = false;
        this.$store.dispatch('cliente/actualizar', {id:this.$store.getters['cliente/datos']?.id})
        .then(cli => {
          //console.log(cli);
        })
        .catch((err) => {
          console.log(err);
        });
        this.nuevoCliente = false;
        this.$q.notify('Datos actualizados');
      })
      .catch(err => {
        this.disableButton = false;
        if (err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error');
      });
  },

  registrarCliente() {
    let err;


    if (!this.cliente_dni)
      err = 'Introduzca el DNI';

    else if (this.cliente_dni.length < 9 || this.cliente_dni.length > 12)
      err = 'El DNI/Pasaporte debe tener de 9 a 12 caracteres';

    else if (!this.cliente_nombre)
      err = 'Introduzca su nombre';

    else if (!this.cliente_email)
      err = 'Introduzca su email';

    else if (!this.cliente_telefono)
      err = 'Introduzca su teléfono';

    else if (!this.cliente_direccion)
      err = 'Introduzca la dirección';

    else if (!this.cliente_localidad)
      err = 'Introduzca la localidad';

    else if (!this.cliente_pais)
      err = 'Introduzca el país';

    else if (this.cliente_pais == 1 && !this.cliente_provincia)
      err = 'Introduzca la provincia';

    else if (!this.cliente_codigo)
      err = 'Introduzca el código postal';

    else if (!this.cliente_contraseña)
      err = 'Introduzca la contraseña';

    else if (this.cliente_contraseña !== this.cliente_contraseña_confirmar)
      err = 'Las contraseñas no coinciden';

    if (err)
      return this.$q.notify({ message:err, timeout:1500 , position: 'top-right' });


    const datos = {
      nombre: this.cliente_nombre,
      correo: this.cliente_email,
      dni: this.cliente_dni,
      tlf: this.cliente_telefono,
      cod: this.cliente_codigo,
      direccion: this.cliente_direccion,
      cp: this.cliente_codigo_post,
      empresa: this.cliente_empresa,
      pais: this.cliente_pais,
      provincia: this.cliente_provincia,
      localidad: this.cliente_localidad,
      pass: this.cliente_contraseña,
      completando_registro: true,
    }

    this.disableButton = true;
    this.$api.post('/cliente/landing?completar=1', datos)
      .then(resp => {
        /*
        this.$q.notify({
          message:'Datos enviados al administrador para configurar su registro. Se le enviará un correo cuando éste proceso culmine',
          timeout:6000
        });
        */
        this.$store
          .dispatch('cliente/login', {dni: this.cliente_dni, pass: this.cliente_contraseña})
          .then(() => {
            this.dialogRegistro = false;
            this.$q.notify('Registro completado');
            // this.$router.push('/Proceso')
            // this.$q.notify('Bienvenido a Enviaxa.com, gracias por confiar en nosotros.');
          });

        // this.cliente = resp.data;
        // this.nuevoCliente = false;
        // this.$store.commit('cliente/SET_DATOS', resp.data);
        // this.$router.push('/Proceso');
        // this.irAlProceso();
      })
      .catch(err => {
        if (err.response && err.response.data && err.response.data.msg ) {
          this.$q.notify({message:err.response.data.msg, timeout:1500 , position: 'top-right' });
        }
        else {
          this.$q.notify({message:'Ocurrió un error', timeout:1500 , position: 'top-right' });
        }
      })
      .finally(() => { this.disableButton = false })
  },


  clickVer(row){
    this.fillDataEnvio(row);
  },
  fillDataEnvio(row={}) {
    //console.log(row);
    this.codigo = row.codigo_generado;
    this.dni = row.dni_cliente
    this.nombre_remitente = row.nombre_cliente
    this.correo_remitente = row.correo_cliente
    this.telefono_remitente = row.cod_telefono_cliente +' '+ row.telefono_cliente
    this.pais_origen = row.pais_origen
    this.provincia_origen = row.provincia_origen
    this.direccion_origen = row.direccion_origen
    this.localidad_origen = row.localidad_origen
    this.cp_origen = row.codigo_postal_origen
    this.es_cliente_empresa = row.es_cliente_empresa
    this.nombre_contacto_remitente = row.empresa_cliente

    if (this.es_cliente_empresa)
    {
      this.nombre_remitente = row.empresa_cliente
      this.nombre_contacto_remitente = row.nombre_cliente
    }


    this.es_destinatario_empresa = row.es_destinatario_empresa
    this.nombre_destinatario = row.nombre_destinatario
    this.nombre_contacto_destinatario = row.nombre_contacto_destinatario
    this.correo_destinatario = row.correo_destinatario
    this.telefono_destinatario = row.cod_telefono_destinatario +' '+ row.telefono_destinatario
    this.pais_destino = row.pais_destino
    this.provincia_destino = row.provincia_destino
    this.direccion_destino = row.direccion_destino
    this.localidad_destino = row.localidad_destino
    this.cp_destino = row.codigo_postal_destino

    this.observacion_seguimiento = row.observacion_seguimiento;
    this.url_seguimiento = row.url_seguimiento;
    this.puede_enviar_seguimiento = !(row.observacion_seguimiento || row.url_seguimiento);

    this.id = row.id;
    this.id_cliente = row.id_cliente;
    this.index = row.index;
    this.bultos = row.bultos;
    this.monto_a_pagar = row.monto;
    this.modalidad = row.modalidad;
    this.fecha_recogida = this.iso_a_fecha(row.fecha_recogida);
    this.momento_recogida = this.time_a_hora(row.hora_recogida_desde) +' - '+ this.time_a_hora(row.hora_recogida_hasta) + ' h';

    this.metodo_pago = row.modalidad_pago || row.modalidad_pago_db || '';
    this.importe_pago = '';
    this.referencia_pago = '';
    if(this.metodo_pago){
      this.importe_pago = row.importe_pago || row.monto || '0';
      if(this.metodo_pago=='Tarjeta')
        this.referencia_pago = row.referencia_pago || 'En proceso';
      else
        this.referencia_pago = 'N/A';
    }

    this.Verenvio = true;
  },
  time_a_hora(time) {
    if (!time) return '';
    return moment(time, 'HH:mm:ss').format('HH');
  },

  iso_a_fecha(date) {
    if (!date) return '';
    return moment(date).format('DD-MM-YYYY');
  },

  clickContinuarSinRegistrar() {
    this.disableButton = true;
    this.$store.dispatch('cliente/set_estatus_temporal');
    // this.$router.push('/Proceso');
    this.irAlProceso();
  },
  irAlProceso() {
    // this.$q.notify('Bienvenido a Enviaxa.com, gracias por confiar en nosotros.');

    // this.$q.notify({message:'Bienvenido a Enviaxa.com, gracias por confiar en nosotros.', timeout:1500 , position: 'top-right' });
    // this.$store.dispatch('cliente/limpiar');
    this.disableButton = true;
    this.$router.push('/Proceso');
  },


},

}</script>
