<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: rgb(245, 242, 245);" >

  <style type="text/css">
    .im {
      color: black !important;
    }
  </style>
  <table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
    <tr>
      <td style="background-color:#3d6ce0;text-align: -webkit-center; padding: 10px;">

        <img style="padding: 0; display: block" src="https://i.postimg.cc/mkKY94kS/logo-blanco.png" width="40%">


      </td>
    </tr>

    <tr>
      <td style="padding: 0;background-color:white;text-align: -webkit-center;">

        <h4 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  >Somos mucho más que transporte, gestora de envíos, mensajería, paquetería, palet, etc. Nacional e internacional </h4>
      </td>
    </tr>
    
    <tr>
      <td style="padding: 0;background-color:white;text-align: -webkit-center;" >
        <div style="text-align: center;color: #3d6ce0;">
          <h1 style="margin:0px;font-weight:bold" >Señor(@) <%= nombre %></h1>
          <h2 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  >A continuación se le muestra el resumen del envío N° <%= datos.codigo_generado %>. </h2>
        </div>
      </td>
    </tr>

    <tr>
      <td style="background-color:white" >
        <div style="text-align: left; padding: 20px; border-radius: 20px;" class="">

          <div style="margin-top: 20px;margin-bottom: 0px;border-bottom: solid 3px #f1c40f;" class=" ">
            <h2  style="margin-top: 20px;margin-bottom: 0px;" class="m-0" >REMITENTE</h2>
          </div>

          <p><span style=" font-weight: bold;" class="bold" >DNI/Pasaporte/CIF/NIF </span> : <%= datos.dni_cliente %></p>
          <p> <span style=" font-weight: bold;" class="bold" >Nombre Remitente (persona de contacto) </span> : <%= datos.nombre_cliente %></p>
<% if (datos.es_cliente_empresa==1) { %>
          <p><span style=" font-weight: bold;" class="bold" >Nombre de empresa </span> : <%= datos.empresa_cliente %></p>
<% } %>
          <p><span style=" font-weight: bold;" class="bold" >País </span> : <%= datos.pais_origen %></p>
          <p> <span style=" font-weight: bold;" class="bold" >Provincia </span> : <%= datos.provincia_origen %></p>
          <p><span style=" font-weight: bold;" class="bold" >Dirección </span> : <%= datos.direccion_origen %></p>
          <p><span style=" font-weight: bold;" class="bold" >Código postal </span> : <%= datos.codigo_postal_origen %></p>
          <p><span style=" font-weight: bold;" class="bold" >Localidad </span> : <%= datos.localidad_origen %></p>
          <p><span style=" font-weight: bold;" class="bold" >Email </span> : <%= datos.correo_cliente %></p>
          <p><span style=" font-weight: bold;" class="bold" >Teléfono </span> : <%= datos.cod_telefono_cliente %> <%= datos.telefono_cliente %></p>

        </div>

        <div style="text-align: left; padding: 20px;padding-top: 0px!important; border-radius: 20px;" class="">

          <div style="margin-top: 20px;margin-bottom: 0px;border-bottom: solid 3px #f1c40f;" class=" ">
            <h2 style="margin-top: 20px;margin-bottom: 0px;" class="m-0" >DESTINATARIO</h2>
          </div>

<% if (datos.es_destinatario_empresa==1) { %>
          <p><span style=" font-weight: bold;" class="bold" >Nombre persona de contacto </span> : <%= datos.nombre_contacto_destinatario %></p>
          <p><span style=" font-weight: bold;" class="bold" >Nombre de empresa </span> : <%= datos.nombre_destinatario %></p>
<% } else { %>
          <p><span style=" font-weight: bold;" class="bold" >Contacto </span> : <%= datos.nombre_destinatario %></p>
<% } %>
          <p><span style=" font-weight: bold;" class="bold" >País </span> : <%= datos.pais_destino %></p>
          <p><span style=" font-weight: bold;" class="bold" >Provincia </span> : <%= datos.provincia_destino %></p>
          <p><span style=" font-weight: bold;" class="bold" >Dirección </span> : <%= datos.direccion_destino %></p>
          <p><span style=" font-weight: bold;" class="bold" >Código postal </span> : <%= datos.codigo_postal_destino %></p>
          <p><span style=" font-weight: bold;" class="bold" >Localidad </span> : <%= datos.localidad_destino %></p>
          <p><span style=" font-weight: bold;" class="bold" >Email </span> : <%= datos.correo_destinatario %></p>
          <p><span style=" font-weight: bold;" class="bold" >Teléfono</span> : <%= datos.cod_telefono_destinatario %> <%= datos.telefono_destinatario %></p>

        </div>

        <div style="text-align: left; padding: 20px;padding-top: 0px!important; border-radius: 20px;" class="">

          <div style="margin-top: 20px;margin-bottom: 0px;border-bottom: solid 3px #f1c40f;" class=" ">
            <h2 style="margin-bottom: 0px" class="" >PAQUETE/FECHA Y HORA</h2>
          </div>

          <p><span style=" font-weight: bold;" class="bold" >Peso total </span>: <%= datos.cantidad_peso %>kg</p>
          <p><span style=" font-weight: bold;" class="bold" >Unidades </span> : <%= datos.nr_bultos %></p>
          <p><span style=" font-weight: bold;" class="bold" >Importe </span> : <%= datos.monto %>€</p>
          <p><span style=" font-weight: bold;" class="bold" >Servicio </span> : <%= datos.modalidad %></p>
          <p><span style=" font-weight: bold;" class="bold" >Fecha de recogida </span> : <%= datos.fecha_recogida %></p>
          <p><span style=" font-weight: bold;" class="bold" >Momento </span> : De 09 a 20h</p>

        </div>

        <div style="padding: 20px;padding-top: 0px!important; border-radius: 20px;" class="">

          <div style="margin-top: 20px;margin-bottom: 0px;border-bottom: solid 3px #f1c40f;" class=" ">
            <h2 style="margin-bottom: 0px" class="m-0" >FORMA DE PAGO</h2>
          </div>

          <p><span style=" font-weight: bold;" class="bold" >Método de pago </span>: <%= pago.tipo_pago %></p>
          <p><span style=" font-weight: bold;" class="bold" >Fecha </span> : <%= pago.fecha_pago %></p>
          <p><span style=" font-weight: bold;" class="bold" >Referencia </span> : <%= pago.referencia_pago %></p>

        </div>

      </td>
    </tr>

  </table>

</body>
</html>