<template>
  <div id="q-app" style="z-index:99999999999999999999999;">
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script>
import cordovaPlugins from "./plugins/cordovaPlugins";
import Swal from 'sweetalert2';

export default {
  name: 'App',
  created(){
    // this.$store.dispatch('carrito/fetch');
    //this.CordovaP(this);
  },
  async beforeMount() {
    const Swal = require('sweetalert2');
    window.swal = Swal;
  },
  mounted(){
  	// this.$router.push('/Formulario');
    // this.$store.dispatch('auth/fetch');
    // this.CordovaP(this);
  },
  methods: {
    CordovaP: function(raiz) {
      document.addEventListener("deviceready", function() {
        cordovaPlugins.Firebase(raiz);
      });
    },

  },
}
</script>
