<template>
<div>


  <q-table
    ref="QTable"
    :title="title"
    :data="table_data"
    :columns="columns"
    :row-key="rowKey"
    :filter="filter"
    :expanded="expanded"
    :loading="loading"
    :pagination.sync="pagination"
    :loading-label="loadingLabel"
    @request="onRequest"

    :rows-per-page-label="rowsPerPageLabel"
    :no-results-label="noResultsLabel"
    :no-data-label="noDataLabel"
  >

    <template class="w-100" v-slot:top-left>
      <div class="row">


        <div class="col-6 col-sm-9 col-md-9 ">
          <q-input borderless dense debounce="300" v-model="filter" class="input_txt" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        </div>

        <div class="col-6 col-sm-3 col-md-3  flex item-center flex-center ">
        
      </div>

      </div>




    </template>

    <template v-slot:header="props">
      <q-tr :props="props">
        <q-th auto-width />
        <q-th
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          {{ col.label }}
        </q-th>
      </q-tr>
    </template>


    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td auto-width>
          <q-btn v-if="!ocultarVer" icon="visibility" size="sm" @click="onClickSee(props.row)" round class="cl_standar q-ma-xs " >
            <q-tooltip content-class="hide-sm bg-grey " >
              Ver
            </q-tooltip>
          </q-btn>
        </q-td>
        <q-td
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          {{ col.value }}
        </q-td>
      </q-tr>
      
    </template>

  </q-table>

</div>
</template>


<script>
/**
 * Tabla de datos con funcion ajax basado en QTable
 * @DataTables
 */
export default {

name: 'DataTables',

props: {
  /**
   * Configuracion de la tabla
   * @value Object
   */
  config: {
    type: Object,
    required: false,
    default: () => {
      return {
        /**
         * Especifica la configuracion para recuperar datos
         *
         * @param {string|object} ajax - Para recuperar los datos
         * @param {string} ajax.url - Ruta para recuperar los datos
         * @param {string} [ajax.method=GET] - el metodo de la peticion
         * @param {object} [ajax.body={}] - el cuerpo de la peticion
         *
         * @value String, Object
         */
        ajax: null,

        /**
         * Tooltip para el boton agregar
         */
        tooltip_agregar: null,
      };
    },
  },

  /**
   * Determina si se muestra el boton aprobar
   *
   * @param {object} row - Los datos de la fila
   *
   * @value Function
   *
   * @return {true|false}
   */
  mostrarAprobar: {
    type: Function,
    required: false,
    default: () => false,
  },
  mostrarSeguimiento: {
    type: Boolean,
    required: false,
    default: false,
  },


  /**
   * Props de QTable, consultar documentacion
   */
  columns: {
    type: Array,
    required: true
  },
  ocultarVer: {
    type: Boolean,
    required: false,
    default: false,
  },
  data: {
    type: Array,
    required: false,
    default: () => [],
  },
  title: {
    type: String,
    required: false,
    default: 'Tabla'
  },
  rowKey: {
    type: String,
    required: false,
    default: 'id',
  },
  rowsPerPageLabel: {
    type: String,
    required: false,
    default: 'Registros por página:',
  },
  noResultsLabel: {
    type: String,
    required: false,
    default: 'Sin coincidencias',
  },
  noDataLabel: {
    type: String,
    required: false,
    default: 'No hay información disponible',
  },
  loadingLabel: {
    type: String,
    required: false,
    default: 'Cargando...',
  },
},

data() {
  return {
    filter: '',
    table_data: this.data,
    table_filter: '',
    expanded: [],
    loading: false,

    pagination: {
      sortBy: 'desc',
      descending: false,
      page: 1,
      rowsPerPage: 5,
      rowsNumber: 102,
    },
  };
},

created() {
  this.onRequest({
    pagination: this.pagination,
    filter: undefined,
  });
},

watch: {
  filter(v) {
    this.$emit('update:filtro', v);
  },

  table_data(d) {
    d.forEach((row, index) => {
      row.index = index + 1 + ((this.pagination.page-1) * this.pagination.rowsPerPage);
    });
  },

},

computed: {
  ajaxUrl(){
    if (!this.config.ajax)
      return false;

    if (typeof this.config.ajax === 'string') {
      return this.config.ajax;
    }
    if (typeof this.config.ajax === 'object' && typeof this.config.ajax.url === 'string') {
      return this.config.ajax.url;
    }

    return false;
  },
  ajaxMethod() {
    if (!this.config.ajax) {
      return false;
    }
    if (typeof this.config.ajax === 'object' && typeof this.config.ajax.method === 'string') {
      return this.config.ajax.method;
    }

    return 'GET';
  },
  ajaxBody() {
    if (!this.config.ajax || !this.config.ajax.body) {
      return {};
    }
    return this.config.ajax.body;
  },
  ajaxHeaders() {
    if (!this.config.ajax || !this.config.ajax.headers) {
      return {};
    }
    return this.config.ajax.headers;
  },
},

methods: {
  /**
   * Realizar peticion al servidor
   */
  fetch() {
    this.$refs.QTable.requestServerInteraction();
  },

  
  /**
   * Al hacer click en ver
   * @property {object} row - Datos de la columna
   */
  onClickSee(row) { this.$emit('ver', row); },

  onRequest(props) {
    const { page, rowsPerPage, sortBy, descending } = props.pagination;
    const filter = props.filter;

    this.pagination.rowsPerPage = rowsPerPage;
    this.current_page = page - 1;
    this.loading = true;
    this.fetchFromServer(page-1, rowsPerPage, filter)
      .then(data => {
        if (data.results) {
          this.table_data.splice(0, this.table_data.length, ...data.results);
          this.pagination.page = page;
          this.pagination.rowsNumber = data.total;
        }
      })
      .finally(() => { this.loading = false });
  },

  fetchFromServer(page, pageSize, filter, sortBy, descending) {
    return new Promise((resolve, reject) => {
      if (!this.ajaxUrl) return reject();

      const params = {
        page,
        pagesize: pageSize,
        filter,
      };

      this.$api.get(this.ajaxUrl, {params})
        .then(resp => resolve(resp.data))
        .catch(reject);
    });
  },

  toggleExpanded (val) {
    this.expanded = this.expanded[0] === val ? [] : [val]
  }
},



}</script>
