/* // app global css in SCSS form */

.pointer{
    cursor: pointer;
}

.bg-facebook{
    background-color: rgb(8, 8, 112);
}

.oliva{
    background-color: rgb(129, 197, 64);
}

.bg-instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.color-fondo-oscuro{
    background-color: rgb(46, 43, 43) !important;
    height: 100vh;
    overflow: scroll;
}

.bg-img-fondo{
    
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light-gray{
 background-color: #d8d1d1;
}

.bg-dark-gray{
    background-color: #c7bdbd;
   }

.bg-soft-blue{
    background-color: rgb(126, 142, 228);
}

.clr-soft-blue{
    color: rgb(126, 142, 228);
}

.clr-dark-gray{
    color: rgb(88, 89, 94);
}

.color-layout{
    background-color: rgba(0, 0, 0 , 0 ) !important;
}

.color-fondo-claro{
    background-color: #b01630 !important;
    height: 100vh;
    overflow: scroll;
}

.bg-enviaxa{
    background-color: #3D6BE0;
}

.bg-gray{
    background-color: #f5f5f5;
}

.degradado{
    background: rgb(22,152,224);
background: linear-gradient(90deg, rgba(22,152,224,1) 47%, rgba(61,107,224,1) 53%);
}

.clr-enviaxa{
    color: #3D6BE0;
}

.clr-enviaxa-light{
    color: #1698e0;
}

.fondo-dark{
    background-color:  gray !important;
}

.fondo-light{
    background-color: rgb(180, 174, 174);
}

.fondo-transparente{
    background-color: rgba(0, 0, 0 , 0 ) !important;
}


/* // tamaño de las fuentes */

.text-gray{
    color: rgb(194, 186, 186)
}

.sub-text{
    text-decoration: underline;
}

.text-none{
    text-transform: none !important;
}

.font-sm{
    font-size: 10px;
}

.font-xs{
    font-size: 10px;
}

.titulos{
    font-size: 27px;
}

.nom-producto{
    font-size: 20px;
}

.font-md{
    font-size: 14px;
}

.font-lg{
    font-size: 15px;
}

.font-xl{
    font-size: 18px;
}

.bold{
    font-weight: bold;
}

/* // fin tamaño de las fuentes */

/* colores de fuentes  */

.txt-etiquetas{
    color: #ffb621;
}

.clr_pink{
    color:fuchsia
}

.clr_blue{
    color: blue;
}

.clr-red{
    color: #b01630
}

/* fin color de fuente */

/* // border */

.hover{
    background-color: #3D6BE0 ;
    transition: all ease 1s;
}

.hover:hover{
    background-color: blue;
    transition: all ease 1s;
    color: black;
}

.hide{
    display: none;
}


.border{
    border: 1px solid blue;
}

.border-login{
    border: 1px black solid;
}

.border-bottom{
    border-bottom: 1px solid gray;
}

.border-yl{
    border-top: 1px rgb(180, 174, 174) solid ;
    border-bottom: 1px rgb(180, 174, 174) solid ;
}

/* // fin border */

/* // imagenes */

.img-bienvenido{
    object-fit: cover;
    object-position: center center;
    width: 75%;
    height: 75%;
}

.img-formulario{
    object-fit: cover;
    object-position: center center;
    width: 50%;
    height: 50%;
}

.img-wifi{
    object-fit: cover;
    object-position: center center;
    width: 30%;
    height: 30%;
}


.img-publicidad{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100vh;
}

.img-productos{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 140px;
}

.img-detalle-producto{
   max-height: 300px;
   object-fit: cover;
   object-position: center center;
   width: 100%;
}

.img-detalle-producto-zoom{
    max-height: 500px;
    min-width: 300px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
 }

/* // fin imagenes */

/* positions */

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.absolute-menu{
    position: absolute;
    top: 100%;
    left: 0;
}

.absolute-top{
    position: fixed;
    top: 0;
}

.absolute_settings{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 130%;
    width: 150px;
}

/* listas */

.lista-menu{
    cursor: pointer;
    list-style: none;

}

.lista-menu:hover{
    cursor: pointer;
    list-style: none;
    background-color: rgba(236, 236, 236 , 0.1 );
    
}

/* // botones */

.btn-border-blue{
    background-color: white;
    color: #3D6BE0;
    border: solid 1px #3D6BE0;
}

.q-btn{
    text-transform: capitalize !important;
}

.cl_standar{
    background-color: #1b98e0 !important;
    color: WHITE !important;
}

.icon-no-bg{
    color: #f5a603;
}

.sm-btn-pc{
    border-radius: 50%;
    width: 50%;
    height: 100%;
}

/* // fin botones */

/* // tamaño de las fuentes */

.label{
    font-size: 25px;
}

.elipsis{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-initial{
    text-align: initial;
}

/* // fin tamaño de las fuentes */

/* // text-box */

.q-pb-md{
    padding-bottom: 16px !important;
}


.input_txt{
	background: rgba(224, 219, 219, 0.514) !important;
	border-radius: .2rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
    padding-left: 5px;
}

.q-field--auto-height.q-field--labeled .q-field__control-container {
    /* padding-top: 24px; */
    padding-top: 10px;
}

.select_grow{
	background: rgba(224, 219, 219, 0.514) !important;
	border-radius: .2rem;
    padding-bottom: 0rem;
    color: white;
    padding-left: 5px;
    height: max-content;
}

.input_select{
	background: rgba(105, 102, 102, 0.) !important;
	border-radius: .2rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
    border: rgb(219, 216, 216) solid 1px ;
    padding-left: 5px;
}



.input_grow{
	background: rgba(236, 236, 236 , 0.1 ) !important;
	border-radius: .5rem;
    padding-bottom: 0rem;
    color: white;
}

.input-search{
	background: rgba(243, 243, 243, 0.979) !important;

	border-radius: 5rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
}

/* // fin text-box */

/* // componentes de quasar */

/* PADDING DEL CARRUSEL */

.q-carousel--arrows-horizontal.q-carousel--with-padding .q-carousel__slide{
    padding-left: 15px;
    padding-right: 15px;
}

.q-carousel__slide{
    padding : 0px
}

.q-carousel__arrow .q-icon {
    font-size: 28px;
}

/* // sangria de los q-input */
.q-field__native {
    margin-left: 10px !important;
}
/* // fin sangria de los q-input */

/* // componentes de quasar */

/* // padding */

.p-0 {
    padding: 0px !important;
}

.pt-0{
    padding-top: 0px;
}

.pl-0{
    padding-left: 0px
}

.pr-0{
    padding-right: 0px
}

/* // fin padding */

/* // margin */

.mb-0{
    margin-bottom: 0px;
}

.m-0{
    margin: 0px;
}

.m-20{
    margin-top: 10%;
    margin-bottom: 10%;
}

.m-30{
    margin-top: 15%;
    margin-bottom: 15%;
}

.m-40{
    margin-top: 20%;
    margin-bottom: 20%;
}


.m-50{
    margin-top: 25%;
    margin-bottom: 25%;
}

.m-60{
    margin-top: 30%;
    margin-bottom: 30%;
}

.m-70{
    margin-top: 35%;
    margin-bottom: 35%;
}

.m-80{
    margin-top: 40%;
    margin-bottom: 4%;
}

.m-90{
    margin-top: 45%;
    margin-bottom: 45%;
}

.m-100{
    margin-top: 50%;
    margin-bottom: 50%;
}

.mb-0{
    margin-bottom: 0px;
}

/* // fin margin */


/* // tamaños */

.w-5{
    width: 15%;
}

.w-10{
    width: 10% !important ;
}

.w-15{
    width: 15% !important ;
}

.w-20{
	width: 20%;
}

.w-25{
	width: 25%;
}

.w-30{
	width: 30%;
}

.w-40{
	width: 40% !important;
}

.w-50{
	width: 50%  ;
}

.w-60{
    width: 60%;
}

.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

.w-85{
	width: 85% !important ;
}

.w-90{
	width: 90%;
}

.w-100{
	width: 100%;
}

.overflow-hidden{
    overflow: hidden !important ;
}

.overflow-auto{
    overflow: auto;
}

.overflow-scroll{
    overflow: scroll !important ;
}

.min-height{
    height: min-content !important;
}

.vh10{
    height: 10vh;
}

.vh20{
    height: 20vh;
}

.vh30{
    height: 30vh;
}

.vh40{
    height: 40vh;
}

.vh50{
    height: 50vh !important ;
}

.vh60{
    height: 60vh;
}

.vh70{
    height: 70vh !important ;
}

.vh80{
    height: 80vh !important ;
}


.vh90{
    height: 90vh !important ;
}

.vh100{
    height: 100vh;
}

/* // fin tamaños */

/* // redondeados */

.rounded{
	border-radius: .5rem;
}

.rounded-1{
	border-radius: 1rem;
}

.rounded-5{
    border-radius: 5rem;
}

.soft-border{
	border-radius: .5rem;
}

.circle{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.rounded-top{
    border-top-left-radius: .5rem ;
    border-top-right-radius: .5rem ;
}

.rounded-bottom{
    border-bottom-left-radius: .5rem ;
    border-bottom-right-radius: .5rem ;
}

/* // fin redondeados */

/* // clases de flex  */
.content-between{
	justify-content: space-between;
}

.content-end{
    justify-content: flex-end;
}

.content-around{
	justify-content: space-around;
}

.item-center{
	align-items: center;

}
 /* fin clases de flex */

 /* fixed */



 @media screen and (min-width:1024px){

    .hide-min1024{
        display: none;
    }
    
 }

 @media screen and (max-width:768px){
    .w-100-md{
        width: 100% !important;
    }

    .w-100-sm{
        width: 50% !important;
    }

    .hide-sm{
        display: none;
    }

    .flex-center-sm{
        justify-content: center !important;
    }
 }

 @media screen and (max-width:600px){
    .w-100-xs{
        width: 100% !important;
    }

    .w-100-sm{
        width: 100% !important;
    }

    .flex-center-sm{
        justify-content: center !important;
    }
 }

 @media screen and (max-width:340px){
    .fixed-logo-plade{
        position: fixed;
        bottom: 0;
        right: 35%;
        margin-bottom: 10px;

    }

    .w-100-sm{
        width: 100% !important;
    }
 }
 
 @media screen and (max-width:330px){
    .fixed-logo-plade{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
 }

/* clases propias del home */

.icono-card-home{
    font-size: 70px;
}

.icono-card-proceso{
    font-size: 30px;
}

.cont_card_ml{
    margin-left: 7%;
}

.alt_card{
    height: 230px !important; 
}


/* tablas */

.q-table-control{
    width: 100%;
}

/* modales */

.no-max-width{
    max-width: none !important;
}

/* imagen de fondo */


