<template>
  <div id="q-app" style="z-index:99999999999999999999999;">
    <!-- <router-view :key="$route.fullPath" /> -->
    <router-view />
  </div>
</template>

<script>
import cordovaPlugins from "./plugins/cordovaPlugins";

export default {
  name: 'App',

  created(){
    // this.$store.dispatch('carrito/fetch');
    if (this.$store.getters['auth/logueado'])
      this.$store.dispatch('auth/fetch');
  },
  mounted(){
    var this2 = this;
    this.$socket.removeListener('RecibirNotificacionPanel')
    this.$socket.on('RecibirNotificacionPanel', function (r) {
      if(r.resp){
        if(r.resp['act_noti'])
          this2.$store.dispatch('notificaciones/actualizarNotificaciones');
      }
    });
  },
  watch: {
    '$route': async function(value) {
      this.$store.dispatch('notificaciones/actualizarNotificaciones');
    },
  },
  methods: {
    CordovaP: function(raiz) {
      document.addEventListener("deviceready", function() {
        cordovaPlugins.Firebase(raiz);
      });
    },

  },
}
</script>
