<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <title>Registro exitoso | Transporte Enviaxa</title>
</head>

<body>
  <table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
    <tr>
      <td style="background-color:#3d6ce0;text-align: -webkit-center; padding: 10px;">
        <img style="padding: 0; display: block" src="https://i.postimg.cc/mkKY94kS/logo-blanco.png"
          width="40%">
      </td>
    </tr>
    <tr>
      <td style="padding: 0;background-color:white;text-align: -webkit-center;">
        <h4 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;">Somos mucho más que transporte, gestora
          de envíos, mensajería, paquetería, palet, etc. Nacional e internacional </h4>
      </td>
    </tr>
    <tr>
      <td style="padding: 0;background-color:white;text-align: -webkit-center;">
        <div style="text-align: center;color: #3d6ce0;">
          <h1 style="margin:0px;font-weight:bold">Señor(@) <%= datos.nombre %></h1>
          <h2 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;">A continuación se le muestra el
            resumen del envío N° <%= datos.codigo_generado %>. </h2>
        </div>
      </td>
    </tr>
    <tr>
      <td style="background-color:white">
        <div
          style="text-align: left;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); padding: 20px; border-radius: 20px;"
          class="">
          <div style="margin-top: 10px;margin-bottom: 0px;border-bottom: solid 3px #f1c40f;" class=" ">
            <h2 style="margin:5px" class="">Datos del envío</h2>
          </div>
          <!-- <p style="font-size:13pt;padding: 0px 0px;"> -->
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>DNI/Pasaporte</b> : <i><%= datos.dni %></i>
          </p>
<% if (datos.pais) { %>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>País</b> : <i><%= datos.pais %></i>
          </p>
<% } %>
<% if (datos.provincia) { %>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>Provincia</b> : <i><%= datos.provincia %></i>
          </p>
<% } %>
<% if (datos.direccion) { %>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>Dirección</b> : <i><%= datos.direccion %></i>
          </p>
<% } %>
<% if (datos.localidad_origen) { %>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>Localidad</b> : <i><%= datos.localidad_origen %></i>
          </p>
<% } %>
<% if (datos.codigo_postal) { %>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>Código postal</b> : <i><%= datos.codigo_postal%></i>
          </p>
<% } %>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>Correo</b> : <i><%= datos.correo %></i>
          </p>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>Teléfono</b> : <i><%= datos.cod_telefono %> <%= datos.telefono %></i>
          </p>
          <p style="font-size:13pt;padding: 0px 0px;">
            <b>Observación</b> : <i><%= datos.observacion %></i>
          </p>
          <div style="text-align: center;margin-top: 40px;" class="">
            <p style="font-size:13pt;padding: 0px 0px;">
              <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db"
                target="_blank" href="<%= datos.url %>">Url de seguimiento</a>
            </p>
          </div>
          <!-- </p> -->
        </div>
      </td>
    </tr>
  </table>
</body>

</html>
